Inspiration and Direction from Derek Banas

Using a .csv file with a list of all the publicly traded stocks on the TSE - saved as 'Toronto.csv' - pull historical stock data for each stock listed in the .csv file using the python library Yahoo! Finance

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import yfinance as yf

# Things you can do with Yahoo! Finance:

In [2]:
# some of the things you can use the yfinance library to find are listed below:

# yf.Ticker('MSFT').info
display(yf.Ticker('MSFT').financials)
display(yf.Ticker('MSFT').major_holders)
display(yf.Ticker('MSFT').institutional_holders)
# display(yf.Ticker('MSFT').balance_sheet)
# display(yf.Ticker('MSFT').cash_flow)
display(yf.Ticker('MSFT').earnings)
display(yf.Ticker('MSFT').recommendations)

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Research Development,24512000000.0,20716000000.0,19269000000.0,16876000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,83716000000.0,71102000000.0,53036000000.0,43688000000.0
Minority Interest,None,None,None,None
Net Income,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Selling General Administrative,27725000000.0,25224000000.0,24709000000.0,23098000000.0
Gross Profit,135620000000.0,115856000000.0,96937000000.0,82933000000.0
Ebit,83383000000.0,69916000000.0,52959000000.0,42959000000.0
Operating Income,83383000000.0,69916000000.0,52959000000.0,42959000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2047000000.0,-2330000000.0,-2591000000.0,-2686000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,10978000000.0,9831000000.0,8755000000.0,4448000000.0
Total Revenue,198270000000.0,168088000000.0,143015000000.0,125843000000.0
Total Operating Expenses,114887000000.0,98172000000.0,90056000000.0,82884000000.0
Cost Of Revenue,62650000000.0,52232000000.0,46078000000.0,42910000000.0
Total Other Income Expense Net,333000000.0,1186000000.0,77000000.0,729000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Net Income Applicable To Common Shares,72738000000.0,61271000000.0,44281000000.0,39240000000.0

        0                                      1
0   0.08%        % of Shares Held by All Insider
1  72.07%       % of Shares Held by Institutions
2  72.12%        % of Float Held by Institutions
3    5955  Number of Institutions Holding Shares

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",628109007,2022-06-29,0.0842,149439693795
1,Blackrock Inc.,522551885,2022-06-29,0.0701,124325543522
2,State Street Corporation,293557993,2022-06-29,0.0394,69843317157
3,"FMR, LLC",207201641,2022-06-29,0.0278,49297414047
4,Price (T.Rowe) Associates Inc,195859819,2022-06-29,0.0263,46598967777
5,"Geode Capital Management, LLC",136945361,2022-06-29,0.0184,32582040038
6,Morgan Stanley,101931745,2022-06-29,0.0137,24251600583
7,Capital World Investors,98825477,2022-06-29,0.0133,23512557306
8,JP Morgan Chase & Company,91034485,2022-06-29,0.0122,21658924504
9,Capital Research Global Investors,86423951,2022-03-30,0.0116,20561986263
10,Northern Trust Corporation,86713343,2022-03-30,0.0116,20630838407
11,Capital International Investors,85116879,2022-06-29,0.0114,20251007695

           Revenue     Earnings
Year
2019  125843000000  39240000000
2020  143015000000  44281000000
2021  168088000000  61271000000
2022  198270000000  72738000000

                                 Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00    Argus Research            Buy                up
2012-03-19 14:00:00    Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00    Morgan Stanley     Overweight              main
2012-04-03 11:53:00               UBS            Buy              main
2012-04-20 06:18:00     Deutsche Bank            Buy              main
...                               ...            ...        ...    ...
2022-07-27 11:14:20     Deutsche Bank            Buy              main
2022-07-27 12:50:51       Cowen & Co.     Outperform              main
2022-07-29 09:11:53    Wolfe Research     Outperform              main
2022-08-12 10:54:35        Guggenheim        Neutral              init
2022-09-22 13:45:58  MoffettNathanson           Hold              init

[395 rows x 4 columns]

In [4]:
yf.Ticker('MSFT').history(period='max')['Close']

Date
1986-03-13      0.060980
1986-03-14      0.063158
1986-03-17      0.064247
1986-03-18      0.062613
1986-03-19      0.061524
                 ...
2022-09-19    244.520004
2022-09-20    242.449997
2022-09-21    238.949997
2022-09-22    240.979996
2022-09-23    237.919998
Name: Close, Length: 9209, dtype: float64

In [5]:
# get list of tickers from csv
tse_tickers = pd.read_csv('Toronto.csv')['Ticker']
tse_tickers.head()

0     AAG.V
1     AAU.V
2    AAV.TO
3     ABR.V
4    ABRA.V
Name: Ticker, dtype: object

In [6]:
failed_downloads = []
total_failed_downloads = [] # failed_downloads list gets added here after each run

In [7]:
# store historical data in the folder 'TSE Stock Data'

def save_to_csv_from_yahoo(folder, ticker):
    stock = yf.Ticker(ticker)
    try:
        print(f'Getting data for: {ticker}')
        df = stock.history(period="5y")
        display(df.head())
        time.sleep(2)
        if df.empty:
            failed_downloads.append(ticker)
        the_file = folder + ticker.replace('.', '_')+'.csv'
        df.to_csv(the_file)  
        print(f'Data saved in: {the_file}')
    except Exception as ex:
        failed_downloads.append(ticker)

In [8]:
# test for the first 10 stocks (collecting 5 years)

folder = 'C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//'
for x in range(10):
    save_to_csv_from_yahoo(folder, tse_tickers[x])

Getting data for: AAG.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.04  0.04  0.04   0.04       0          0             0
2017-09-26  0.04  0.04  0.04   0.04       0          0             0
2017-09-27  0.04  0.04  0.04   0.04       0          0             0
2017-09-28  0.04  0.04  0.04   0.04       0          0             0
2017-09-29  0.04  0.04  0.04   0.04       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AAG_V.csv
Getting data for: AAU.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.35  2.35  2.35   2.35       0          0           0.0
2017-09-26  2.35  2.35  2.35   2.35       0          0           0.0
2017-09-27  2.35  2.35  2.35   2.35       0          0           0.0
2017-09-28  2.35  2.35  2.35   2.35     500          0           0.0
2017-09-29  2.35  2.35  2.35   2.35       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AAU_V.csv
Getting data for: AAV.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  8.15  8.26  8.14   8.23  258800          0             0
2017-09-26  8.19  8.24  8.08   8.11  335000          0             0
2017-09-27  8.11  8.14  7.96   8.05  651700          0             0
2017-09-28  8.09  8.12  7.92   7.92  568300          0             0
2017-09-29  7.90  7.95  7.82   7.82  397900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AAV_TO.csv
Getting data for: ABR.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,0.085714,0.085714,0.085714,0.085714,0,0,0.0
2017-09-26,0.085714,0.085714,0.085714,0.085714,0,0,0.0
2017-09-27,0.085714,0.085714,0.085714,0.085714,0,0,0.0
2017-09-28,0.085714,0.085714,0.085714,0.085714,0,0,0.0
2017-09-29,0.085714,0.085714,0.085714,0.085714,0,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ABR_V.csv
Getting data for: ABRA.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.250  0.330  0.250  0.290  151585          0             0
2017-09-26  0.315  0.315  0.270  0.270   41420          0             0
2017-09-27  0.270  0.270  0.270  0.270    4500          0             0
2017-09-28  0.280  0.290  0.270  0.285  150000          0             0
2017-09-29  0.305  0.305  0.305  0.305   20000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ABRA_V.csv
Getting data for: ABST.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,6.649302,6.657816,6.393888,6.538622,29900,0.0,0
2017-09-26,6.564164,6.615247,6.419429,6.496053,24000,0.0,0
2017-09-27,6.444971,6.538623,6.444971,6.530109,8600,0.0,0
2017-09-28,6.487539,6.547136,6.470512,6.496053,22400,0.0,0
2017-09-29,6.479026,6.615248,6.444971,6.598220,17200,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ABST_TO.csv
Getting data for: ABX.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,18.170081,18.530958,18.061820,18.530958,2872400,0.0,0
2017-09-26,18.341495,18.539976,18.260298,18.296387,2113100,0.0,0
2017-09-27,18.188123,18.296387,18.115948,18.296387,2172500,0.0,0
2017-09-28,18.314428,18.359538,18.161056,18.179100,1637100,0.0,0
2017-09-29,18.215193,18.287368,18.088885,18.115952,2043400,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ABX_TO.csv
Getting data for: ABXX.NE

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-12-18  4.00  4.10  3.90   4.00  949123          0             0
2020-12-21  4.00  4.05  3.85   3.95  910360          0             0
2020-12-22  3.99  4.03  3.86   3.91  527324          0             0
2020-12-23  3.99  4.00  3.88   3.91  505773          0             0
2020-12-24  3.90  3.95  3.85   3.92  275907          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ABXX_NE.csv
Getting data for: AC.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,27.400000,27.500000,25.469999,25.500000,4153300,0,0
2017-09-26,25.639999,25.790001,25.170000,25.540001,1811000,0,0
2017-09-27,25.510000,26.620001,25.459999,26.480000,2434600,0,0
2017-09-28,26.360001,26.820000,26.129999,26.610001,1227200,0,0
2017-09-29,26.559999,26.840000,26.190001,26.240000,1322100,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AC_TO.csv
Getting data for: ACB.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,33.720001,34.439999,33.599998,34.080002,168233,0,0.0
2017-09-26,34.560001,34.680000,33.360001,33.840000,219467,0,0.0
2017-09-27,33.720001,33.840000,33.360001,33.480000,98175,0,0.0
2017-09-28,33.480000,33.480000,33.000000,33.119999,76450,0,0.0
2017-09-29,33.360001,33.599998,33.000000,33.360001,98108,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ACB_TO.csv

In [9]:
# Success - run for all stocks

folder = 'C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//'
for x in range(len(tse_tickers)):
    save_to_csv_from_yahoo(folder, tse_tickers[x])

Getting data for: AAG.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.04  0.04  0.04   0.04       0          0             0
2017-09-26  0.04  0.04  0.04   0.04       0          0             0
2017-09-27  0.04  0.04  0.04   0.04       0          0             0
2017-09-28  0.04  0.04  0.04   0.04       0          0             0
2017-09-29  0.04  0.04  0.04   0.04       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AAG_V.csv
Getting data for: AAU.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.35  2.35  2.35   2.35       0          0           0.0
2017-09-26  2.35  2.35  2.35   2.35       0          0           0.0
2017-09-27  2.35  2.35  2.35   2.35       0          0           0.0
2017-09-28  2.35  2.35  2.35   2.35     500          0           0.0
2017-09-29  2.35  2.35  2.35   2.35       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AAU_V.csv
Getting data for: AAV.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  8.15  8.26  8.14   8.23  258800          0             0
2017-09-26  8.19  8.24  8.08   8.11  335000          0             0
2017-09-27  8.11  8.14  7.96   8.05  651700          0             0
2017-09-28  8.09  8.12  7.92   7.92  568300          0             0
2017-09-29  7.90  7.95  7.82   7.82  397900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AAV_TO.csv
Getting data for: ABR.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,0.085714,0.085714,0.085714,0.085714,0,0,0.0
2017-09-26,0.085714,0.085714,0.085714,0.085714,0,0,0.0
2017-09-27,0.085714,0.085714,0.085714,0.085714,0,0,0.0
2017-09-28,0.085714,0.085714,0.085714,0.085714,0,0,0.0
2017-09-29,0.085714,0.085714,0.085714,0.085714,0,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ABR_V.csv
Getting data for: ABRA.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.250  0.330  0.250  0.290  151585          0             0
2017-09-26  0.315  0.315  0.270  0.270   41420          0             0
2017-09-27  0.270  0.270  0.270  0.270    4500          0             0
2017-09-28  0.280  0.290  0.270  0.285  150000          0             0
2017-09-29  0.305  0.305  0.305  0.305   20000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ABRA_V.csv
Getting data for: ABST.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,6.649303,6.657817,6.393889,6.538623,29900,0.0,0
2017-09-26,6.564165,6.615248,6.419430,6.496054,24000,0.0,0
2017-09-27,6.444972,6.538624,6.444972,6.530110,8600,0.0,0
2017-09-28,6.487540,6.547137,6.470512,6.496054,22400,0.0,0
2017-09-29,6.479027,6.615248,6.444972,6.598221,17200,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ABST_TO.csv
Getting data for: ABX.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,18.170083,18.530960,18.061821,18.530960,2872400,0.0,0
2017-09-26,18.341497,18.539978,18.260300,18.296389,2113100,0.0,0
2017-09-27,18.188125,18.296389,18.115950,18.296389,2172500,0.0,0
2017-09-28,18.314432,18.359542,18.161060,18.179104,1637100,0.0,0
2017-09-29,18.215191,18.287366,18.088883,18.115950,2043400,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ABX_TO.csv
Getting data for: ABXX.NE

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-12-18  4.00  4.10  3.90   4.00  949123          0             0
2020-12-21  4.00  4.05  3.85   3.95  910360          0             0
2020-12-22  3.99  4.03  3.86   3.91  527324          0             0
2020-12-23  3.99  4.00  3.88   3.91  505773          0             0
2020-12-24  3.90  3.95  3.85   3.92  275907          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ABXX_NE.csv
Getting data for: AC.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,27.400000,27.500000,25.469999,25.500000,4153300,0,0
2017-09-26,25.639999,25.790001,25.170000,25.540001,1811000,0,0
2017-09-27,25.510000,26.620001,25.459999,26.480000,2434600,0,0
2017-09-28,26.360001,26.820000,26.129999,26.610001,1227200,0,0
2017-09-29,26.559999,26.840000,26.190001,26.240000,1322100,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AC_TO.csv
Getting data for: ACB.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,33.720001,34.439999,33.599998,34.080002,168233,0,0.0
2017-09-26,34.560001,34.680000,33.360001,33.840000,219467,0,0.0
2017-09-27,33.720001,33.840000,33.360001,33.480000,98175,0,0.0
2017-09-28,33.480000,33.480000,33.000000,33.119999,76450,0,0.0
2017-09-29,33.360001,33.599998,33.000000,33.360001,98108,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ACB_TO.csv
Getting data for: ACDCCSE
- ACDCCSE: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ACDCCSE.csv
Getting data for: ACO-X.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,37.387525,37.593087,37.264187,37.560196,72400,0.0,0
2017-09-26,37.519094,37.601317,37.321753,37.412201,97200,0.0,0
2017-09-27,37.436866,37.477981,37.321753,37.469757,103100,0.0,0
2017-09-28,37.510861,37.584863,37.124408,37.486195,116400,0.0,0
2017-09-29,37.535536,37.880878,37.477979,37.658871,112500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ACO-X_TO.csv
Getting data for: ACOG.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-03-31  1.37  1.38  0.92   1.25  140000          0             0
2021-04-01  1.30  1.43  1.30   1.30   40114          0             0
2021-04-05  1.25  1.25  1.15   1.20   86776          0             0
2021-04-06  1.15  1.16  1.15   1.15   24960          0             0
2021-04-07  1.10  1.20  1.10   1.20    7528          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ACOG_V.csv
Getting data for: ACQ.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,22.528627,22.704560,22.315656,22.361954,102300,0.0,0
2017-09-26,22.315655,22.436029,21.667481,22.260098,97000,0.0,0
2017-09-27,22.297138,22.426772,21.936014,22.074907,46700,0.0,0
2017-09-28,22.065646,22.519366,21.824896,21.926752,94900,0.0,0
2017-09-29,21.917491,22.148981,21.861934,22.047125,45900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ACQ_TO.csv
Getting data for: ACST.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  13.12  13.20  13.12  13.20     425          0           0.0
2017-09-26  12.96  13.36  12.96  13.28     550          0           0.0
2017-09-27  13.28  13.44  13.04  13.04     588          0           0.0
2017-09-28  13.52  14.00  13.44  14.00    1550          0           0.0
2017-09-29  13.92  15.76  13.92  14.16    2013          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ACST_V.csv
Getting data for: ACU.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.270  0.295  0.270  0.295  123200          0             0
2017-09-26  0.280  0.300  0.280  0.285   57000          0             0
2017-09-27  0.285  0.295  0.280  0.290  112500          0             0
2017-09-28  0.290  0.295  0.285  0.285  100500          0             0
2017-09-29  0.295  0.295  0.290  0.290  241000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ACU_V.csv
Getting data for: AD-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,13.738235,13.923798,13.738235,13.850898,149900,0.000,0
2017-09-26,13.811133,13.870778,13.685215,13.824388,79000,0.000,0
2017-09-27,13.811133,13.877406,13.784624,13.844269,71600,0.000,0
2017-09-28,13.907637,14.141099,13.894296,13.974340,96200,0.135,0
2017-09-29,13.974340,13.981010,13.707526,13.720867,143200,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AD-UN_TO.csv
Getting data for: ADCO.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2019-05-29  0.58  0.58  0.58   0.58    3000          0             0
2019-05-30  0.62  0.62  0.62   0.62     500          0             0
2019-05-31  0.62  0.62  0.62   0.62     500          0             0
2019-06-03  0.63  0.63  0.55   0.55   11500          0             0
2019-06-04  0.55  0.58  0.50   0.50   47000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ADCO_TO.csv
Getting data for: ADK.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   1.2   1.2  1.1    1.1   51690          0           0.0
2017-09-26   1.2   1.2  1.1    1.2   22850          0           0.0
2017-09-27   1.2   1.2  1.1    1.2   34670          0           0.0
2017-09-28   1.2   1.2  1.2    1.2   36400          0           0.0
2017-09-29   1.2   1.2  1.1    1.2   22190          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ADK_V.csv
Getting data for: ADW-A.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,10.472221,10.697333,10.445208,10.616293,11100,0.000,0
2017-09-26,10.688329,10.715343,10.625298,10.706339,63000,0.000,0
2017-09-27,10.760366,11.012492,10.742358,10.769371,24000,0.000,0
2017-09-28,10.801002,11.026965,10.801002,11.008888,16000,0.045,0
2017-09-29,10.981774,11.072160,10.810043,10.855236,26500,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ADW-A_TO.csv
Getting data for: ADZN.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-10-22  1.04  1.10  1.03   1.10   57700          0             0
2018-10-23  1.07  1.07  1.06   1.06    6200          0             0
2018-10-24  1.08  1.08  1.04   1.04   13500          0             0
2018-10-25  1.06  1.06  1.05   1.05    3900          0             0
2018-10-26  1.05  1.05  1.03   1.03   25100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ADZN_V.csv
Getting data for: AEM.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,52.428280,53.838086,52.135334,53.828930,958100,0.0,0
2017-09-26,52.940943,53.261352,51.915628,51.979710,671500,0.0,0
2017-09-27,51.668451,51.924782,51.430434,51.851543,677900,0.0,0
2017-09-28,51.824092,52.437448,51.714238,51.924793,445000,0.0,0
2017-09-29,52.190264,52.300121,51.595218,51.622681,487100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AEM_TO.csv
Getting data for: AEX.V
- AEX.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AEX_V.csv
Getting data for: AEZS.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  66.25  68.75  64.75  68.50    1196          0           0.0
2017-09-26  69.25  69.25  65.00  66.25     440          0           0.0
2017-09-27  65.25  66.00  63.00  64.75     728          0           0.0
2017-09-28  66.25  66.25  63.75  65.75     156          0           0.0
2017-09-29  64.25  65.75  63.25  64.25     744          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AEZS_TO.csv
Getting data for: AFM.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.39  0.39  0.39   0.39       0          0             0
2017-09-26  0.38  0.38  0.38   0.38  106500          0             0
2017-09-27  0.38  0.38  0.37   0.37  103000          0             0
2017-09-28  0.37  0.38  0.30   0.30   49000          0             0
2017-09-29  0.31  0.38  0.31   0.38   38700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AFM_V.csv
Getting data for: AFN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,44.384370,44.384370,43.765330,43.926449,53200,0.0,0
2017-09-26,43.917971,44.520051,43.663572,44.375893,56300,0.0,0
2017-09-27,44.316535,44.681176,43.646616,44.180855,41000,0.0,0
2017-09-28,44.691612,46.079181,44.572434,45.628006,109900,0.2,0
2017-09-29,45.628006,45.951489,45.134271,45.330063,166100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AFN_TO.csv
Getting data for: AGF-B.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,5.885933,5.901182,5.832564,5.855436,123400,0.0,0
2017-09-26,5.824939,5.893558,5.596212,5.855436,186700,0.0,0
2017-09-27,5.878310,5.954553,5.802068,5.870686,156200,0.0,0
2017-09-28,5.946928,6.091788,5.939303,6.068916,517500,0.0,0
2017-09-29,6.061292,6.183280,6.061292,6.168032,567000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AGF-B_TO.csv
Getting data for: AGI.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,8.165787,8.549156,8.108281,8.520404,701600,0.0,0
2017-09-26,8.367054,8.529987,8.280797,8.299965,336500,0.0,0
2017-09-27,8.213710,8.242463,8.031609,8.117867,535700,0.0,0
2017-09-28,8.146619,8.194540,8.079529,8.137034,344200,0.0,0
2017-09-29,8.156201,8.194538,8.050773,8.079527,806800,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AGI_TO.csv
Getting data for: AH.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2018-03-28  1.24  1.25  0.86   0.93  2369400          0             0
2018-03-29  1.00  1.00  0.84   0.97   946500          0             0
2018-04-02  1.00  1.01  0.84   0.86   673200          0             0
2018-04-03  0.89  0.90  0.70   0.75   732600          0             0
2018-04-04  0.72  0.72  0.59   0.66   918900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AH_TO.csv
Getting data for: AHC.TO
- AHC.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AHC_TO.csv
Getting data for: AI.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,8.413486,8.441695,8.406433,8.441695,77700,0.000,0
2017-09-26,8.427590,8.427590,8.399381,8.406433,147800,0.000,0
2017-09-27,8.406430,8.519268,8.406430,8.512216,126800,0.000,0
2017-09-28,8.507251,8.542727,8.450488,8.521441,52100,0.073,0
2017-09-29,8.521443,8.571110,8.507252,8.542728,43200,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AI_TO.csv
Getting data for: AIF.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,29.044393,29.090643,28.813147,28.970394,68400,0.00,0
2017-09-26,28.905638,29.275629,28.729891,29.136883,65000,0.00,0
2017-09-27,29.136884,29.386629,28.877889,29.238632,74000,0.00,0
2017-09-28,29.275806,29.498860,29.229337,29.415215,57200,0.15,0
2017-09-29,29.415215,29.582506,29.415215,29.526743,58000,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AIF_TO.csv
Getting data for: AII.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.64  0.64  0.59   0.61   38500          0             0
2017-09-26  0.60  0.60  0.60   0.60   13300          0             0
2017-09-27  0.59  0.61  0.58   0.61   34200          0             0
2017-09-28  0.61  0.63  0.58   0.63   10600          0             0
2017-09-29  0.63  0.63  0.63   0.63     900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AII_TO.csv
Getting data for: AIM.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  2.56  2.68  2.56   2.64  1039500          0             0
2017-09-26  2.64  2.66  2.62   2.64   612100          0             0
2017-09-27  2.62  2.64  2.47   2.54   954300          0             0
2017-09-28  2.54  2.56  2.52   2.53   271400          0             0
2017-09-29  2.52  2.53  2.42   2.47  1197600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AIM_TO.csv
Getting data for: AKT-A.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,6.498533,6.507327,6.498533,6.507327,1400,0.0,0
2017-09-26,6.393009,6.410597,6.067643,6.410597,4800,0.0,0
2017-09-27,6.357835,6.454566,6.331454,6.331454,3600,0.0,0
2017-09-28,6.331454,6.331454,6.322660,6.331454,700,0.0,0
2017-09-29,6.331454,6.331454,6.331454,6.331454,0,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AKT-A_TO.csv
Getting data for: ALA.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,21.268142,21.627097,21.268142,21.604662,557000,0.0,0
2017-09-26,21.567273,21.642056,21.499969,21.589708,349400,0.0,0
2017-09-27,21.612142,21.671968,21.447621,21.477533,609000,0.0,0
2017-09-28,21.537353,21.709354,21.514920,21.582224,303000,0.0,0
2017-09-29,21.612139,21.686922,21.492487,21.492487,448300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ALA_TO.csv
Getting data for: ALS.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,10.868708,11.099368,10.822575,10.914840,35300,0.0,0
2017-09-26,10.850254,11.025555,10.850254,10.896386,26700,0.0,0
2017-09-27,10.924067,10.924067,10.730312,10.785670,61700,0.0,0
2017-09-28,10.748762,10.970197,10.739537,10.868706,76000,0.0,0
2017-09-29,10.924065,11.071687,10.841027,10.988649,53000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ALS_TO.csv
Getting data for: ALV.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,0.534013,0.562119,0.519960,0.562119,13120,0.0,0.0
2017-09-26,0.562119,0.562119,0.562119,0.562119,733,0.0,0.0
2017-09-27,0.534013,0.604278,0.534013,0.604278,12321,0.0,0.0
2017-09-28,0.604278,0.604278,0.604278,0.604278,2764,0.0,0.0
2017-09-29,0.618331,0.618331,0.618331,0.618331,29637,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ALV_V.csv
Getting data for: ALY.V

             Open  High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.200  0.24  0.200   0.23  212000          0             0
2017-09-26  0.230  0.23  0.220   0.23   51000          0             0
2017-09-27  0.225  0.23  0.225   0.23  240500          0             0
2017-09-28  0.230  0.23  0.230   0.23   12000          0             0
2017-09-29  0.230  0.23  0.220   0.23   96300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ALY_V.csv
Getting data for: ALYA.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-11-02  5.00  7.25  5.00   5.82  112800          0             0
2018-11-05  6.35  7.94  6.00   7.15  125800          0             0
2018-11-06  7.15  7.22  6.68   7.10   39900          0             0
2018-11-07  7.15  7.15  6.00   6.15   43800          0             0
2018-11-08  6.96  6.96  5.79   5.86   33900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ALYA_TO.csv
Getting data for: AMC.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2018-03-28   0.3   0.3  0.3    0.3   20000          0           0.0
2018-03-29   0.3   0.3  0.3    0.3       0          0           0.0
2018-04-02   0.3   0.3  0.3    0.3       0          0           0.0
2018-04-03   0.3   0.3  0.3    0.3       0          0           0.0
2018-04-04   0.3   0.3  0.3    0.3       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AMC_V.csv
Getting data for: AMK.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.06  0.06  0.05   0.06  624000          0             0
2017-09-26  0.05  0.05  0.05   0.05  648200          0             0
2017-09-27  0.05  0.06  0.05   0.05   20000          0             0
2017-09-28  0.06  0.06  0.05   0.05  148000          0             0
2017-09-29  0.05  0.06  0.05   0.06  808600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AMK_V.csv
Getting data for: AMM.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.40  1.46  1.40   1.44   13400          0             0
2017-09-26  1.44  1.44  1.39   1.39   17800          0             0
2017-09-27  1.37  1.52  1.34   1.52   37900          0             0
2017-09-28  1.52  1.52  1.41   1.45   18100          0             0
2017-09-29  1.45  1.49  1.42   1.42   23800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AMM_TO.csv
Getting data for: AMX.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.09  0.09  0.09   0.09  377000          0             0
2017-09-26  0.09  0.09  0.09   0.09   44600          0             0
2017-09-27  0.09  0.10  0.09   0.10   64100          0             0
2017-09-28  0.10  0.10  0.10   0.10       0          0             0
2017-09-29  0.09  0.09  0.09   0.09  402000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AMX_V.csv
Getting data for: AMY.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  0.21  0.21  0.20   0.20  1117900          0             0
2017-09-26  0.20  0.21  0.20   0.21   165400          0             0
2017-09-27  0.21  0.21  0.21   0.21   367600          0             0
2017-09-28  0.21  0.21  0.20   0.20    90000          0             0
2017-09-29  0.20  0.20  0.19   0.20   196200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AMY_V.csv
Getting data for: AND.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-12-11,17.758178,19.731309,17.758178,19.386011,1712000,0.0,0
2019-12-12,19.494529,19.573454,18.744739,19.149231,174800,0.0,0
2019-12-13,19.238026,19.524131,18.744743,18.853266,96600,0.0,0
2019-12-16,19.238026,19.553726,18.754609,19.553726,83500,0.0,0
2019-12-17,19.553731,19.829970,19.336687,19.810238,17500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AND_TO.csv
Getting data for: ANX.TO
- ANX.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ANX_TO.csv
Getting data for: AOI.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,1.652708,1.681873,1.652708,1.672151,98200,0.0,0
2017-09-26,1.691595,1.701317,1.652708,1.681873,47400,0.0,0
2017-09-27,1.691595,1.711039,1.672151,1.672151,107000,0.0,0
2017-09-28,1.701317,1.701317,1.681873,1.691595,165500,0.0,0
2017-09-29,1.672152,1.672152,1.652708,1.652708,124500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AOI_TO.csv
Getting data for: AOT.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.51  1.53  1.46   1.48   48200          0             0
2017-09-26  1.48  1.50  1.40   1.41   90800          0             0
2017-09-27  1.41  1.41  1.38   1.40   37600          0             0
2017-09-28  1.40  1.40  1.38   1.40   27900          0             0
2017-09-29  1.38  1.48  1.38   1.46  134000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AOT_TO.csv
Getting data for: AP-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,32.067498,32.515415,31.951372,32.473942,329300,0.000,0
2017-09-26,32.515424,32.731086,32.473951,32.689613,310600,0.000,0
2017-09-27,32.673013,32.830616,32.581771,32.797436,107000,0.000,0
2017-09-28,32.812419,33.095357,32.804096,33.028782,167400,0.128,0
2017-09-29,33.087035,33.203542,32.937248,33.153610,176100,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AP-UN_TO.csv
Getting data for: APGO.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.14  0.14  0.14   0.14       0          0             0
2017-09-26  0.14  0.14  0.14   0.14       0          0             0
2017-09-27  0.14  0.14  0.14   0.14       0          0             0
2017-09-28  0.14  0.14  0.14   0.14       0          0             0
2017-09-29  0.14  0.14  0.14   0.14       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//APGO_V.csv
Getting data for: APHA.TO
- APHA.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//APHA_TO.csv
Getting data for: APLI.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2019-06-25  1.09  1.09  0.80   0.80   41700          0             0
2019-06-26  0.80  0.80  0.70   0.75   44800          0             0
2019-06-27  0.80  0.90  0.80   0.90    5500          0             0
2019-06-28  0.85  0.85  0.75   0.75   29818          0             0
2019-07-02  0.75  0.75  0.75   0.75   56800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//APLI_TO.csv
Getting data for: APM.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-03-29  2.00  2.00  1.95   2.00   16000          0             0
2021-03-30  2.00  2.00  1.85   1.85    9012          0             0
2021-03-31  1.86  1.86  1.21   1.34   59686          0             0
2021-04-01  1.34  1.63  1.30   1.42   99209          0             0
2021-04-05  1.48  1.49  1.37   1.45   46154          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//APM_V.csv
Getting data for: APR-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,7.788839,7.816657,7.767977,7.816657,8500,0.000,0
2017-09-26,7.823606,7.823606,7.767972,7.802743,12700,0.000,0
2017-09-27,7.816656,7.823611,7.719296,7.823611,17300,0.000,0
2017-09-28,7.821508,7.856487,7.779531,7.779531,5200,0.067,0
2017-09-29,7.842499,7.842499,7.702579,7.702579,10700,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//APR-UN_TO.csv
Getting data for: APS.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.00  2.03  1.98   1.99   13400          0             0
2017-09-26  1.98  1.98  1.81   1.82   66100          0             0
2017-09-27  1.87  1.95  1.80   1.88   65700          0             0
2017-09-28  1.83  1.88  1.82   1.88     900          0             0
2017-09-29  1.81  1.88  1.81   1.85    6900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//APS_TO.csv
Getting data for: AQN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,10.374937,10.438684,10.366968,10.430716,495500,0.000,0
2017-09-26,10.430716,10.494464,10.422747,10.446652,507400,0.000,0
2017-09-27,10.438686,10.550244,10.422749,10.534307,727300,0.000,0
2017-09-28,10.570562,10.594732,10.554449,10.562505,415100,0.145,0
2017-09-29,10.578620,10.675302,10.554450,10.626961,710700,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AQN_TO.csv
Getting data for: AQUA.V
- AQUA.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AQUA_V.csv
Getting data for: AR.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  2.36  2.48  2.36   2.46  1158200          0             0
2017-09-26  2.42  2.48  2.40   2.42   470300          0             0
2017-09-27  2.36  2.41  2.33   2.34   313700          0             0
2017-09-28  2.34  2.36  2.32   2.34   168000          0             0
2017-09-29  2.34  2.46  2.34   2.45   582700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AR_TO.csv
Getting data for: ARE.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,14.393280,14.599724,14.302444,14.475858,196000,0.0,0
2017-09-26,14.426309,14.748363,14.285927,14.740105,240900,0.0,0
2017-09-27,14.740105,14.756621,14.170319,14.310701,437200,0.0,0
2017-09-28,14.335477,14.657529,14.129033,14.599725,364900,0.0,0
2017-09-29,14.566694,14.616242,14.376766,14.508890,171100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ARE_TO.csv
Getting data for: ARG.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,0.693845,0.693845,0.684593,0.693845,89500,0.0,0
2017-09-26,0.675342,0.693845,0.675342,0.684593,110500,0.0,0
2017-09-27,0.675342,0.693845,0.675342,0.693845,34000,0.0,0
2017-09-28,0.675342,0.703096,0.666091,0.703096,102800,0.0,0
2017-09-29,0.684593,0.703096,0.675342,0.703096,77000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ARG_TO.csv
Getting data for: ARIS.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-06-01  2.15  2.15  2.05   2.05   12200          0             0
2020-06-02  2.04  2.04  1.96   2.00    1200          0             0
2020-06-03  1.96  1.96  1.96   1.96     500          0             0
2020-06-04  1.96  1.96  1.96   1.96       0          0             0
2020-06-05  1.96  1.96  1.96   1.96       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ARIS_TO.csv
Getting data for: ARR.TO

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2021-02-26  10.95  11.05  10.87  10.95  1121300          0             0
2021-03-01  11.05  11.05  10.51  10.51   127800          0             0
2021-03-02  10.65  10.89  10.65  10.88   276500          0             0
2021-03-03  10.90  10.93  10.50  10.65   283200          0             0
2021-03-04  10.81  10.97  10.49  10.75   145600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ARR_TO.csv
Getting data for: ARS.V
- ARS.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ARS_V.csv
Getting data for: ART.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.88  0.88  0.88   0.88    3000          0           0.0
2017-09-26  0.88  0.88  0.88   0.88     800          0           0.0
2017-09-27  0.88  0.88  0.77   0.77    8009          0           0.0
2017-09-28  0.77  0.77  0.77   0.77    9273          0           0.0
2017-09-29  0.77  0.77  0.77   0.77    1882          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ART_V.csv
Getting data for: ARTG.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2019-10-02  1.10  1.13  0.95   1.00  648488          0             0
2019-10-03  1.09  1.12  1.02   1.11  200595          0             0
2019-10-04  1.13  1.18  1.05   1.17  200266          0             0
2019-10-07  1.19  1.32  1.17   1.31   73270          0             0
2019-10-08  1.36  1.42  1.31   1.42   54720          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ARTG_V.csv
Getting data for: ARU.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-07-10  2.35  2.59  2.32   2.40   26700          0             0
2018-07-11  2.33  2.52  2.30   2.40   19700          0             0
2018-07-12  2.46  2.46  2.27   2.28   15500          0             0
2018-07-13  2.27  2.27  2.20   2.21   26400          0             0
2018-07-16  2.16  2.16  2.00   2.14   44000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ARU_V.csv
Getting data for: ARX.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,14.182449,14.442749,14.143010,14.379646,917000,0.00,0
2017-09-26,14.324434,14.348098,14.166676,14.229780,765700,0.00,0
2017-09-27,14.316546,14.316546,13.930039,13.993142,1278900,0.00,0
2017-09-28,14.016870,14.080152,13.684642,13.763744,1570700,0.05,0
2017-09-29,13.637185,13.771658,13.518532,13.597634,1105900,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ARX_TO.csv
Getting data for: ASM.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.00  2.00  1.95   1.96    9900          0             0
2017-09-26  1.96  1.96  1.92   1.94   25900          0             0
2017-09-27  1.93  1.94  1.90   1.94   17300          0             0
2017-09-28  1.98  1.98  1.96   1.98    8300          0             0
2017-09-29  1.92  1.97  1.92   1.97   12600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ASM_TO.csv
Getting data for: AT.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.06  2.10  2.00   2.02   30900          0             0
2017-09-26  2.03  2.04  1.90   2.00   22300          0             0
2017-09-27  2.00  2.06  1.99   2.00   30500          0             0
2017-09-28  2.05  2.15  2.05   2.08   90100          0             0
2017-09-29  2.13  2.14  2.06   2.07   13300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AT_TO.csv
Getting data for: ATA.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  12.45  12.45  12.24  12.40  274500          0             0
2017-09-26  12.33  12.68  12.25  12.66  142500          0             0
2017-09-27  12.64  13.06  12.60  13.02  196600          0             0
2017-09-28  13.02  13.21  12.90  13.16  291900          0             0
2017-09-29  13.17  13.41  13.12  13.26  128400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ATA_TO.csv
Getting data for: ATD-B.TO
- ATD-B.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ATD-B_TO.csv
Getting data for: ATE.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.00  1.00  0.85   0.85   31360          0           0.0
2017-09-26  0.95  0.95  0.95   0.95  362760          0           0.0
2017-09-27  0.95  0.95  0.80   0.85  237680          0           0.0
2017-09-28  0.85  0.90  0.85   0.90   11400          0           0.0
2017-09-29  0.90  0.90  0.85   0.90    9900          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ATE_TO.csv
Getting data for: ATH.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  1.01  1.10  1.01   1.07  1717100          0             0
2017-09-26  1.07  1.10  1.05   1.08  1749400          0             0
2017-09-27  1.09  1.13  1.06   1.11  2203800          0             0
2017-09-28  1.14  1.20  1.12   1.12  2722400          0             0
2017-09-29  1.14  1.14  1.11   1.12  1084800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ATH_TO.csv
Getting data for: ATP.TO
- ATP.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ATP_TO.csv
Getting data for: ATY.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.74  0.74  0.74   0.74    6000          0             0
2017-09-26  0.71  0.74  0.71   0.74    4700          0             0
2017-09-27  0.75  0.75  0.71   0.71   11500          0             0
2017-09-28  0.74  0.75  0.74   0.75    9800          0             0
2017-09-29  0.71  0.72  0.70   0.72   14000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ATY_V.csv
Getting data for: ATZ.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  14.31  14.39  14.25  14.35   60400          0             0
2017-09-26  14.32  14.68  14.25  14.64  125300          0             0
2017-09-27  14.63  15.05  14.63  14.98  203600          0             0
2017-09-28  14.99  15.23  14.82  15.05  150900          0             0
2017-09-29  15.00  15.05  14.80  14.85   80700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ATZ_TO.csv
Getting data for: AUAU.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-03-22  0.59  0.59  0.56   0.56   60600          0             0
2018-03-23  0.56  0.58  0.54   0.54   93700          0             0
2018-03-26  0.54  0.56  0.53   0.56   25300          0             0
2018-03-27  0.56  0.59  0.53   0.53   58200          0             0
2018-03-28  0.55  0.55  0.52   0.52   36800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AUAU_V.csv
Getting data for: AUMB.V

             Open  High    Low  Close   Volume  Dividends  Stock Splits
Date
2018-07-25  0.600  0.69  0.600  0.630   271400          0             0
2018-07-26  0.610  0.65  0.475  0.475   463000          0             0
2018-07-27  0.490  0.49  0.335  0.335  1767200          0             0
2018-07-30  0.330  0.49  0.250  0.340  1634700          0             0
2018-07-31  0.355  0.38  0.340  0.350   800300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AUMB_V.csv
Getting data for: AUMN.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.61  0.61  0.61   0.61    4700          0             0
2017-09-26  0.62  0.62  0.62   0.62    3000          0             0
2017-09-27  0.60  0.61  0.60   0.61    2500          0             0
2017-09-28  0.61  0.61  0.60   0.60    3000          0             0
2017-09-29  0.59  0.60  0.59   0.60    2700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AUMN_TO.csv
Getting data for: AUN.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.30  1.35  1.30   1.30   10140          0           0.0
2017-09-26  1.30  1.30  1.25   1.25     680          0           0.0
2017-09-27  1.25  1.25  1.20   1.25   18820          0           0.0
2017-09-28  1.25  1.30  1.25   1.25    7760          0           0.0
2017-09-29  1.30  1.30  1.25   1.30    5720          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AUN_V.csv
Getting data for: AUP.TO
- AUP.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AUP_TO.csv
Getting data for: AUX.V
- AUX.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AUX_V.csv
Getting data for: AVCN.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2019-07-18  7.40  7.40  5.05   6.23  583500          0             0
2019-07-19  6.49  7.03  6.45   6.90  151600          0             0
2019-07-22  6.95  6.95  6.45   6.50   73400          0             0
2019-07-23  6.40  6.58  5.75   6.15   56400          0             0
2019-07-24  6.20  6.20  5.60   5.85   44100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AVCN_TO.csv
Getting data for: AVCR.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.190  0.220  0.190  0.210   66800          0             0
2017-09-26  0.190  0.190  0.190  0.190    8900          0             0
2017-09-27  0.180  0.195  0.180  0.195    2000          0             0
2017-09-28  0.195  0.195  0.195  0.195       0          0             0
2017-09-29  0.195  0.195  0.195  0.195       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AVCR_V.csv
Getting data for: AVN.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.25  2.25  2.25   2.25       0          0           0.0
2017-09-26  2.25  2.25  2.25   2.25       0          0           0.0
2017-09-27  2.25  2.25  2.25   2.25       0          0           0.0
2017-09-28  2.25  2.25  2.25   2.25       0          0           0.0
2017-09-29  2.25  2.25  2.25   2.25       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AVN_V.csv
Getting data for: AX-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,9.676714,9.720867,9.669356,9.706149,188300,0.00,0
2017-09-26,9.713505,9.772374,9.713505,9.750299,144300,0.00,0
2017-09-27,9.757659,9.772376,9.750300,9.757659,85900,0.00,0
2017-09-28,9.831746,9.846564,9.802110,9.816928,112200,0.09,0
2017-09-29,9.831749,9.846566,9.779885,9.794703,277400,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AX-UN_TO.csv
Getting data for: AXU.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.92  1.96  1.90   1.91   60457          0             0
2017-09-26  1.85  1.92  1.85   1.89   26550          0             0
2017-09-27  1.86  1.87  1.82   1.84   56340          0             0
2017-09-28  1.81  1.86  1.81   1.86   13020          0             0
2017-09-29  1.82  1.84  1.81   1.81   15545          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AXU_TO.csv
Getting data for: AYA.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.36  1.44  1.36   1.40   51125          0           0.0
2017-09-26  1.40  1.40  1.36   1.36   35700          0           0.0
2017-09-27  1.36  1.36  1.32   1.32   45375          0           0.0
2017-09-28  1.32  1.36  1.24   1.36  255900          0           0.0
2017-09-29  1.36  1.52  1.36   1.52  126950          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AYA_TO.csv
Getting data for: AZ.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-04-25  0.63  0.63  0.63   0.63  114285          0           0.0
2018-04-26  0.63  0.63  0.63   0.63       0          0           0.0
2018-04-27  0.63  0.63  0.63   0.63       0          0           0.0
2018-04-30  0.63  0.63  0.63   0.63       0          0           0.0
2018-05-01  0.63  0.63  0.63   0.63       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AZ_V.csv
Getting data for: AZM.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.31  0.31  0.30   0.30   85500          0             0
2017-09-26  0.30  0.30  0.30   0.30       0          0             0
2017-09-27  0.31  0.32  0.31   0.32   75000          0             0
2017-09-28  0.33  0.33  0.30   0.30    6000          0             0
2017-09-29  0.31  0.32  0.31   0.32    7000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AZM_V.csv
Getting data for: AZT.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.230  0.230  0.230  0.230       0          0             0
2017-09-26  0.225  0.225  0.220  0.220    9000          0             0
2017-09-27  0.225  0.230  0.225  0.230   13722          0             0
2017-09-28  0.220  0.225  0.220  0.225   15000          0             0
2017-09-29  0.225  0.225  0.225  0.225       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//AZT_V.csv
Getting data for: BABY.V
- BABY.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BABY_V.csv
Getting data for: BAD.TO
- BAD.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BAD_TO.csv
Getting data for: BAM-A.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,31.753802,31.931518,31.607823,31.785536,972450,0.0,0.0
2017-09-26,31.855348,31.855348,31.417409,31.544346,1027500,0.0,0.0
2017-09-27,31.696680,32.261559,31.696680,32.255215,1609350,0.0,0.0
2017-09-28,32.172703,32.344071,32.001339,32.134624,1186800,0.0,0.0
2017-09-29,32.299649,32.908956,32.185405,32.699509,1515000,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BAM-A_TO.csv
Getting data for: BB.TO

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  11.29  11.36  11.22  11.31  1343600          0             0
2017-09-26  11.33  11.44  11.26  11.29   917600          0             0
2017-09-27  11.32  11.59  11.32  11.53  1885200          0             0
2017-09-28  12.39  13.47  12.20  13.00  8766900          0             0
2017-09-29  13.02  14.14  13.01  13.95  7372700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BB_TO.csv
Getting data for: BBB.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.300  0.335  0.300  0.310   38700          0             0
2017-09-26  0.310  0.310  0.295  0.295   47000          0             0
2017-09-27  0.295  0.300  0.290  0.290   14100          0             0
2017-09-28  0.290  0.300  0.290  0.300   50200          0             0
2017-09-29  0.295  0.310  0.290  0.300   57500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BBB_V.csv
Getting data for: BBD-A.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  54.75  55.75  51.50  53.75   18788          0           0.0
2017-09-26  51.75  60.75  51.75  57.50   13284          0           0.0
2017-09-27  46.75  54.25  46.75  53.00   21704          0           0.0
2017-09-28  52.50  57.25  52.50  56.25    9640          0           0.0
2017-09-29  57.50  58.00  57.00  57.75    5864          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BBD-A_TO.csv
Getting data for: BBD-B.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  54.50  55.25  51.00  53.50  578983          0           0.0
2017-09-26  52.00  60.75  51.50  56.75  830505          0           0.0
2017-09-27  49.00  53.75  49.00  52.50  989504          0           0.0
2017-09-28  52.50  56.75  52.25  55.25  425623          0           0.0
2017-09-29  56.75  57.25  56.00  56.50  305180          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BBD-B_TO.csv
Getting data for: BBTV.TO

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2020-10-28  16.00  16.00  14.55  15.00  1775800          0             0
2020-10-29  14.60  14.75  13.07  14.00   373600          0             0
2020-10-30  13.61  13.61  12.09  12.26   459700          0             0
2020-11-02  12.74  13.40  12.50  13.40   227100          0             0
2020-11-03  13.51  13.74  13.01  13.15    99200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BBTV_TO.csv
Getting data for: BBU-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,36.522638,36.621645,36.186024,36.384033,29800,0.0,0
2017-09-26,36.245426,36.542438,35.641500,36.245426,160700,0.0,0
2017-09-27,36.245427,36.681044,35.879112,36.354332,352300,0.0,0
2017-09-28,36.631544,36.631544,35.988016,36.591942,66000,0.0,0
2017-09-29,36.245430,36.710751,36.186026,36.631546,99400,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BBU-UN_TO.csv
Getting data for: BC-U.TO
- BC-U.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BC-U_TO.csv
Getting data for: BCE.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,44.412967,44.466104,44.056208,44.139706,1750400,0.0,0
2017-09-26,44.177661,44.185251,43.836081,44.010666,1371100,0.0,0
2017-09-27,44.033430,44.200425,43.874026,44.086567,2002100,0.0,0
2017-09-28,44.033434,44.519238,43.942346,44.306698,1232600,0.0,0
2017-09-29,44.382600,44.504050,44.208015,44.375008,879900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BCE_TO.csv
Getting data for: BCM.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.03  2.12  2.03   2.10   49500          0             0
2017-09-26  2.02  2.09  2.02   2.08   50800          0             0
2017-09-27  2.08  2.15  2.08   2.11  111000          0             0
2017-09-28  2.08  2.20  2.07   2.19   56000          0             0
2017-09-29  2.13  2.15  2.05   2.05   50800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BCM_V.csv
Getting data for: BDT.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,7.428815,7.512886,7.428815,7.489958,39800,0.000,0
2017-09-26,7.451743,7.726884,7.451743,7.566385,185200,0.000,0
2017-09-27,7.535814,7.757456,7.535814,7.688671,121600,0.000,0
2017-09-28,7.614295,7.683307,7.468603,7.644967,35600,0.033,0
2017-09-29,7.583618,7.667966,7.583618,7.629626,76400,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BDT_TO.csv
Getting data for: BEI-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,34.301701,34.389697,34.055304,34.204903,99002,0.000000,0.0
2017-09-26,34.319309,34.416107,33.976117,34.099312,118385,0.000000,0.0
2017-09-27,34.292888,34.292888,33.888096,33.949696,170471,0.000000,0.0
2017-09-28,33.939096,34.027523,33.709180,33.903725,86478,0.189135,0.0
2017-09-29,33.903714,34.124784,33.603054,33.611897,114906,0.000000,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BEI-UN_TO.csv
Getting data for: BEP-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,18.541857,18.559783,18.443253,18.541857,180332,0.0,0.0
2017-09-26,18.644940,18.644940,18.389468,18.416359,223116,0.0,0.0
2017-09-27,18.420843,18.506001,18.344651,18.456699,247698,0.0,0.0
2017-09-28,18.456696,18.667349,18.456696,18.564262,250888,0.0,0.0
2017-09-29,18.595639,18.792845,18.582193,18.739061,292359,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BEP-UN_TO.csv
Getting data for: BEPC.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-07-24,46.660000,46.666668,38.666668,38.666668,14100,0,0.0
2020-07-27,41.333332,41.333332,37.799999,37.986668,58350,0,0.0
2020-07-28,38.673332,39.680000,36.166668,37.333332,244500,0,0.0
2020-07-29,37.333332,39.740002,37.333332,39.340000,237150,0,0.0
2020-07-30,40.299999,40.993332,36.733334,37.613335,4654350,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BEPC_TO.csv
Getting data for: BES.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.04  0.04  0.04   0.04       0          0             0
2017-09-26  0.04  0.04  0.04   0.04       0          0             0
2017-09-27  0.04  0.04  0.04   0.04       0          0             0
2017-09-28  0.04  0.04  0.04   0.04       0          0             0
2017-09-29  0.04  0.04  0.04   0.04       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BES_V.csv
Getting data for: BGP-U.NE

             Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-03-18  10.00  10.00  9.65   9.65     401          0             0
2021-03-19   9.65   9.65  9.65   9.65       0          0             0
2021-03-22   9.45   9.45  9.45   9.45    5000          0             0
2021-03-23   9.60   9.60  9.60   9.60   38900          0             0
2021-03-24   9.50   9.50  9.50   9.50  600100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BGP-U_NE.csv
Getting data for: BHC.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,17.230000,17.469999,17.170000,17.430000,664900,0,0
2017-09-26,17.389999,17.680000,17.309999,17.420000,711200,0,0
2017-09-27,17.500000,18.010000,17.360001,17.959999,1075700,0,0
2017-09-28,17.799999,17.840000,16.690001,17.090000,2183500,0,0
2017-09-29,17.450001,18.139999,17.330000,17.879999,1809700,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BHC_TO.csv
Getting data for: BIP-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,30.141222,30.489711,30.038391,30.352598,214350,0.0,0.0
2017-09-26,30.249772,30.438299,30.129802,30.301189,228450,0.0,0.0
2017-09-27,30.306902,30.826771,30.306902,30.752504,264300,0.0,0.0
2017-09-28,30.746787,30.746787,30.449715,30.569685,218550,0.0,0.0
2017-09-29,30.552549,30.958166,30.535410,30.746790,330300,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BIP-UN_TO.csv
Getting data for: BIPC.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-03-31,33.533333,40.000000,32.860001,32.860001,2391000,0,0.0
2020-04-01,32.333332,33.500000,32.233334,32.366669,839700,0,0.0
2020-04-02,32.233334,35.426666,32.233334,34.833332,307650,0,0.0
2020-04-03,34.666668,34.666668,32.666668,33.393333,344100,0,0.0
2020-04-06,34.833332,35.360001,34.080002,34.900002,462450,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BIPC_TO.csv
Getting data for: BIR.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,5.376661,5.509091,5.332518,5.500263,851300,0.0,0
2017-09-26,5.464950,5.668009,5.429635,5.579722,990600,0.0,0
2017-09-27,5.615037,5.685666,5.491435,5.517921,809500,0.0,0
2017-09-28,5.544407,5.597379,5.367834,5.403148,586700,0.0,0
2017-09-29,5.385491,5.403149,5.341348,5.341348,541400,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BIR_TO.csv
Getting data for: BITC-U.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-08-09,13.90494,13.90494,13.90494,13.90494,0,0,0
2021-08-10,13.67465,13.67465,13.67465,13.67465,0,0,0
2021-08-11,13.93726,13.93726,13.93726,13.93726,0,0,0
2021-08-12,13.35793,13.35793,13.35793,13.35793,0,0,0
2021-08-13,13.95364,13.95364,13.95364,13.95364,0,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BITC-U_TO.csv
Getting data for: BITF.V
- BITF.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BITF_V.csv
Getting data for: BITK.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.75  0.75  0.69   0.69    8002          0             0
2017-09-26  0.72  0.72  0.72   0.72    3026          0             0
2017-09-27  0.78  1.04  0.78   0.95  167652          0             0
2017-09-28  0.94  1.10  0.94   0.95  154632          0             0
2017-09-29  1.02  1.03  0.96   0.98  218717          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BITK_V.csv
Getting data for: BKI.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.11  0.11  0.10   0.10   74500          0             0
2017-09-26  0.10  0.10  0.10   0.10       0          0             0
2017-09-27  0.10  0.10  0.10   0.10   58500          0             0
2017-09-28  0.09  0.10  0.09   0.09   35200          0             0
2017-09-29  0.09  0.11  0.09   0.11   73000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BKI_TO.csv
Getting data for: BKMT.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.14  0.14  0.14   0.14       0          0           0.0
2017-09-26  0.14  0.14  0.14   0.14     750          0           0.0
2017-09-27  0.14  0.14  0.14   0.14    1250          0           0.0
2017-09-28  0.14  0.14  0.14   0.14       0          0           0.0
2017-09-29  0.14  0.14  0.14   0.14       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BKMT_V.csv
Getting data for: BLDP.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  6.10  6.49  6.09   6.23  2066900          0             0
2017-09-26  6.34  6.38  6.12   6.19   803400          0             0
2017-09-27  6.20  6.30  5.94   6.07   956900          0             0
2017-09-28  5.97  6.07  5.48   5.63  1394800          0             0
2017-09-29  5.65  5.98  5.65   5.85   441200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BLDP_TO.csv
Getting data for: BLU.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,1.371841,1.407942,1.335740,1.335740,13158,0,0.0
2017-09-26,1.335740,1.335740,1.335740,1.335740,1662,0,0.0
2017-09-27,1.407942,1.407942,1.371841,1.371841,554,0,0.0
2017-09-28,1.407942,1.407942,1.371841,1.407942,1247,0,0.0
2017-09-29,1.407942,1.407942,1.299639,1.299639,323785,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BLU_TO.csv
Getting data for: BLX.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,19.058716,19.147403,19.014374,19.129665,65300,0.0,0
2017-09-26,19.076458,19.218356,19.005509,19.138538,78300,0.0,0
2017-09-27,19.129667,19.165142,18.863608,18.890213,104300,0.0,0
2017-09-28,18.899086,19.094197,18.881349,18.996641,77300,0.0,0
2017-09-29,19.049851,19.182880,18.961164,19.058720,114700,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BLX_TO.csv
Getting data for: BMEX.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2018-08-17   0.2   0.2  0.2    0.2    4000          0             0
2018-08-20   0.2   0.2  0.2    0.2       0          0             0
2018-08-21   0.2   0.2  0.2    0.2       0          0             0
2018-08-22   0.2   0.2  0.2    0.2       0          0             0
2018-08-23   0.2   0.2  0.2    0.2       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BMEX_V.csv
Getting data for: BMO.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,75.572706,75.719354,75.450498,75.580849,1237300,0.0,0
2017-09-26,75.442342,75.662317,75.360872,75.637871,1031900,0.0,0
2017-09-27,75.760079,76.289643,75.743787,76.167435,1658300,0.0,0
2017-09-28,76.257064,76.754039,76.053386,76.558510,1172000,0.0,0
2017-09-29,76.754043,77.397667,76.697014,76.933281,1324100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BMO_TO.csv
Getting data for: BNAU.TO
- BNAU.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BNAU_TO.csv
Getting data for: BNCH.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.255  0.255  0.255  0.255       0          0           0.0
2017-09-26  0.270  0.270  0.270  0.270    5000          0           0.0
2017-09-27  0.270  0.270  0.240  0.240   37333          0           0.0
2017-09-28  0.240  0.270  0.240  0.270   39667          0           0.0
2017-09-29  0.255  0.255  0.255  0.255   16667          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BNCH_V.csv
Getting data for: BNE.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,14.235317,14.724682,14.235317,14.672251,136600,0.0,0
2017-09-26,14.427564,14.794588,14.104232,14.768372,162100,0.0,0
2017-09-27,14.803327,14.978100,14.296484,14.401347,126700,0.0,0
2017-09-28,14.637295,14.724682,14.252792,14.471259,95700,0.0,0
2017-09-29,14.357656,14.602338,14.305224,14.418826,73300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BNE_TO.csv
Getting data for: BNS.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,62.380400,62.505596,62.106528,62.356926,1356900,0.0,0
2017-09-26,62.302171,62.356945,61.879623,62.012646,2351000,0.0,0
2017-09-27,62.286504,62.701225,62.223904,62.615150,2391200,0.0,0
2017-09-28,62.638628,62.826425,62.458652,62.662102,2029700,0.0,0
2017-09-29,62.834270,62.990766,62.724721,62.756016,2219900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BNS_TO.csv
Getting data for: BNXA.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-01-13  2.72  2.72  1.99   2.30  309771          0             0
2021-01-14  2.25  2.30  2.10   2.11  191367          0             0
2021-01-15  2.12  2.30  1.90   2.30  124302          0             0
2021-01-18  2.30  2.45  2.22   2.40   74353          0             0
2021-01-19  2.35  2.45  2.19   2.35  101499          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BNXA_V.csv
Getting data for: BOS.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,10.508943,10.927874,10.508943,10.874393,11000,0.00,0
2017-09-26,10.785257,10.785257,10.696122,10.696122,1300,0.00,0
2017-09-27,10.696125,10.731778,10.598077,10.660471,1300,0.00,0
2017-09-28,10.624605,10.624605,10.472184,10.472184,4900,0.07,0
2017-09-29,10.472186,10.543913,10.337697,10.436322,27900,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BOS_TO.csv
Getting data for: BPF-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,15.179883,15.263903,14.976830,15.018842,22600,0.0,0
2017-09-26,15.039848,15.312919,15.004840,15.039848,9700,0.0,0
2017-09-27,15.165881,15.403942,15.018844,15.291913,16800,0.0,0
2017-09-28,15.165878,15.354926,15.165878,15.312916,9600,0.0,0
2017-09-29,15.263906,15.375934,15.193889,15.193889,12100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BPF-UN_TO.csv
Getting data for: BPY-UN.TO
- BPY-UN.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BPY-UN_TO.csv
Getting data for: BRAG.TO

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2018-07-10   9.3   9.3  9.3    9.3     540          0           0.0
2018-07-11   9.4  10.0  9.2    9.6    2850          0           0.0
2018-07-12   9.0   9.0  9.0    9.0     400          0           0.0
2018-07-13   9.0  10.5  9.0   10.1    6310          0           0.0
2018-07-16   9.8  10.2  9.4    9.4    3370          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BRAG_TO.csv
Getting data for: BRC.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.06  0.06  0.06   0.06       0          0             0
2017-09-26  0.06  0.06  0.06   0.06       0          0             0
2017-09-27  0.06  0.06  0.06   0.06       0          0             0
2017-09-28  0.06  0.06  0.06   0.06       0          0             0
2017-09-29  0.06  0.06  0.06   0.06       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BRC_V.csv
Getting data for: BRG.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.17  0.17  0.17   0.17       0          0             0
2017-09-26  0.17  0.17  0.17   0.17       0          0             0
2017-09-27  0.17  0.17  0.17   0.17       0          0             0
2017-09-28  0.17  0.17  0.17   0.17       0          0             0
2017-09-29  0.17  0.17  0.17   0.17       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BRG_V.csv
Getting data for: BRMI.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-03-24  8.50  8.80  8.35   8.70  366900          0             0
2021-03-25  8.83  9.10  8.51   8.93   70100          0             0
2021-03-26  8.90  8.90  8.75   8.81   30100          0             0
2021-03-29  8.93  9.05  8.76   9.00   39300          0             0
2021-03-30  8.99  8.99  8.75   8.75    7600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BRMI_TO.csv
Getting data for: BRND-A-U.NE
- BRND-A-U.NE: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BRND-A-U_NE.csv
Getting data for: BRO.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-07-10  0.78  0.78  0.78   0.78       0          0             0
2018-07-11  0.77  0.77  0.76   0.76   16300          0             0
2018-07-12  0.76  0.76  0.76   0.76    4000          0             0
2018-07-13  0.76  0.76  0.70   0.76   14500          0             0
2018-07-16  0.75  0.76  0.69   0.69   12600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BRO_V.csv
Getting data for: BSR.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.00  1.02  1.00   1.02   81300          0             0
2017-09-26  1.10  1.10  1.10   1.10    5000          0             0
2017-09-27  1.10  1.10  1.02   1.02   47700          0             0
2017-09-28  1.02  1.02  1.02   1.02       0          0             0
2017-09-29  1.02  1.02  1.01   1.01   42500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BSR_V.csv
Getting data for: BSX.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.58  0.61  0.57   0.59  245500          0             0
2017-09-26  0.59  0.59  0.57   0.58  129600          0             0
2017-09-27  0.59  0.59  0.55   0.55   73400          0             0
2017-09-28  0.55  0.57  0.55   0.57   30400          0             0
2017-09-29  0.58  0.58  0.56   0.56   98700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BSX_TO.csv
Getting data for: BTB-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.061597,3.068111,3.048569,3.061597,57200,0.000,0
2017-09-26,3.055083,3.068111,3.055083,3.061597,59100,0.000,0
2017-09-27,3.048570,3.068113,3.048570,3.068113,43800,0.000,0
2017-09-28,3.077956,3.091082,3.071393,3.091082,31900,0.035,0
2017-09-29,3.084519,3.097645,3.084519,3.091082,40800,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BTB-UN_TO.csv
Getting data for: BTCG-UN.TO
- BTCG-UN.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BTCG-UN_TO.csv
Getting data for: BTE.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  3.67  3.83  3.65   3.78  2371900          0             0
2017-09-26  3.74  3.85  3.68   3.82  2784600          0             0
2017-09-27  3.85  3.89  3.69   3.83  3174800          0             0
2017-09-28  3.87  3.93  3.75   3.79  2900800          0             0
2017-09-29  3.77  3.81  3.74   3.76  1398700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BTE_TO.csv
Getting data for: BTO.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,2.987780,3.251944,2.978671,3.242835,8221100,0.0,0
2017-09-26,3.188180,3.215507,3.142634,3.206398,4372100,0.0,0
2017-09-27,3.142635,3.233726,3.133526,3.151744,1695100,0.0,0
2017-09-28,3.151743,3.224616,3.151743,3.179071,1709100,0.0,0
2017-09-29,3.197290,3.206399,3.133526,3.133526,1872200,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BTO_TO.csv
Getting data for: BTR.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  4.00  4.05  3.98   4.00   19870          0           0.0
2017-09-26  4.10  4.10  3.90   4.05   14250          0           0.0
2017-09-27  3.95  4.05  3.90   4.00    8500          0           0.0
2017-09-28  4.10  4.10  4.00   4.00   30900          0           0.0
2017-09-29  4.10  4.10  4.00   4.05   14280          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BTR_V.csv
Getting data for: BU.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.76  0.82  0.76   0.79   11100          0             0
2017-09-26  0.82  0.95  0.80   0.89   76800          0             0
2017-09-27  0.94  0.97  0.85   0.85   41700          0             0
2017-09-28  0.86  0.86  0.82   0.82    6700          0             0
2017-09-29  0.83  0.83  0.82   0.82    2200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BU_TO.csv
Getting data for: BYD.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,91.361180,91.891893,90.339066,91.479118,15600,0.000,0
2017-09-26,92.835395,93.277660,90.240801,90.407875,23100,0.000,0
2017-09-27,90.476671,91.390676,89.582326,91.095840,19400,0.000,0
2017-09-28,90.852995,91.226631,90.095883,90.705505,16000,0.043,0
2017-09-29,90.469519,90.754665,89.968056,90.145042,40400,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BYD_TO.csv
Getting data for: BYL.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.95  1.95  1.95   1.95     100          0             0
2017-09-26  1.98  2.05  1.87   1.87    7400          0             0
2017-09-27  2.00  2.00  2.00   2.00    1400          0             0
2017-09-28  2.00  2.05  2.00   2.05    2800          0             0
2017-09-29  2.05  2.05  2.05   2.05       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BYL_TO.csv
Getting data for: BZ.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.395  0.395  0.395  0.395   20000          0             0
2017-09-26  0.390  0.390  0.390  0.390    7700          0             0
2017-09-27  0.365  0.370  0.330  0.350   61500          0             0
2017-09-28  0.330  0.330  0.300  0.305   58800          0             0
2017-09-29  0.310  0.310  0.275  0.275  301000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//BZ_V.csv
Getting data for: CAD.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.105  0.110  0.100  0.105  128500          0             0
2017-09-26  0.100  0.110  0.100  0.110  233300          0             0
2017-09-27  0.100  0.110  0.095  0.095  250200          0             0
2017-09-28  0.095  0.110  0.095  0.110  196000          0             0
2017-09-29  0.105  0.105  0.105  0.105     500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CAD_V.csv
Getting data for: CAE.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,19.886638,20.137634,19.857676,20.137634,672600,0.0,0
2017-09-26,20.127980,20.224518,19.857676,20.205210,834300,0.0,0
2017-09-27,20.234168,20.774777,20.234168,20.765123,823800,0.0,0
2017-09-28,20.745816,20.909929,20.668586,20.803738,529000,0.0,0
2017-09-29,20.871316,21.218849,20.871316,21.074043,770400,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CAE_TO.csv
Getting data for: CAPT.V

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2020-09-10  0.245  0.450  0.245  0.265  1860455          0             0
2020-09-11  0.265  0.285  0.265  0.270   385605          0             0
2020-09-14  0.280  0.290  0.280  0.290   741769          0             0
2020-09-15  0.310  0.395  0.310  0.390  1068925          0             0
2020-09-16  0.400  0.500  0.400  0.450  1054599          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CAPT_V.csv
Getting data for: CAR-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,28.954145,29.118706,28.936823,28.971468,117100,0.000,0
2017-09-26,29.032093,29.213976,28.928160,29.084061,85500,0.000,0
2017-09-27,29.084065,29.110048,28.858874,29.006115,94800,0.000,0
2017-09-28,29.107774,29.603041,28.977440,29.559597,257600,0.107,0
2017-09-29,29.533521,29.568274,29.298920,29.307608,226500,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CAR-UN_TO.csv
Getting data for: CARE.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-03-30,14.500000,15.74,14.010000,14.260000,1885100,0,0
2021-03-31,15.010000,15.38,14.800000,15.330000,466200,0,0
2021-04-01,16.490000,18.00,16.110001,17.700001,364500,0,0
2021-04-05,19.139999,20.35,18.740000,19.240000,423600,0,0
2021-04-06,19.250000,20.01,19.010000,19.490000,133000,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CARE_TO.csv
Getting data for: CAS.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,14.076286,14.076286,12.924670,13.270154,601100,0.0,0
2017-09-26,13.279013,13.615640,13.234720,13.615640,257200,0.0,0
2017-09-27,13.615639,13.633357,13.376458,13.456184,222900,0.0,0
2017-09-28,13.456187,13.509338,13.367601,13.376460,69600,0.0,0
2017-09-29,13.296732,13.394176,13.181570,13.252439,106200,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CAS_TO.csv
Getting data for: CBD-U.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2021-01-06  1.35  1.79  1.35   1.65  2863181          0             0
2021-01-07  1.75  1.88  1.73   1.88   804539          0             0
2021-01-08  1.88  1.91  1.72   1.77   379139          0             0
2021-01-11  1.87  1.87  1.75   1.87   229570          0             0
2021-01-12  1.87  1.87  1.77   1.80   191074          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CBD-U_TO.csv
Getting data for: CBDTCSE
- CBDTCSE: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CBDTCSE.csv
Getting data for: CBLU.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-07-19  0.85  0.86  0.63   0.63  385793          0             0
2018-07-20  0.64  0.70  0.61   0.61   73373          0             0
2018-07-23  0.60  0.70  0.60   0.65  106500          0             0
2018-07-24  0.69  0.70  0.65   0.67   81456          0             0
2018-07-25  0.65  0.65  0.64   0.64   13000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CBLU_V.csv
Getting data for: CBR.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.55  0.55  0.55   0.55       0          0           0.0
2017-09-26  0.55  0.55  0.55   0.55       0          0           0.0
2017-09-27  0.55  0.55  0.55   0.55       0          0           0.0
2017-09-28  0.55  0.55  0.55   0.55       0          0           0.0
2017-09-29  0.55  0.55  0.55   0.55       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CBR_V.csv
Getting data for: CCA.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,77.709166,77.999883,77.083688,77.929405,64100,0.0,0
2017-09-26,77.929432,78.528483,77.295142,77.788483,80000,0.0,0
2017-09-27,78.087982,79.867518,77.938221,79.435844,105200,0.0,0
2017-09-28,79.409415,80.396089,79.065843,80.193466,54800,0.0,0
2017-09-29,80.343221,81.162511,79.638460,81.065605,109600,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CCA_TO.csv
Getting data for: CCHW.NE

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2019-04-29  11.60  11.95  10.47  10.90  542213          0             0
2019-04-30  11.00  11.00   9.25   9.40  410612          0             0
2019-05-01   9.64   9.95   9.30   9.50  263634          0             0
2019-05-02   9.55   9.55   9.00   9.10  122193          0             0
2019-05-03   9.25   9.30   8.60   8.83  438826          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CCHW_NE.csv
Getting data for: CCL-B.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,55.215552,55.761032,54.679479,55.742222,302800,0.0,0
2017-09-26,55.516497,55.883283,55.253164,55.676380,267800,0.0,0
2017-09-27,55.911512,57.049491,55.601152,56.993061,489100,0.0,0
2017-09-28,56.899012,57.105918,56.598059,56.748535,275800,0.0,0
2017-09-29,56.748536,57.105919,56.259486,56.786156,284100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CCL-B_TO.csv
Getting data for: CCM.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.45  0.45  0.45   0.45    2000          0           0.0
2017-09-26  0.45  0.45  0.45   0.45   13740          0           0.0
2017-09-27  0.45  0.45  0.45   0.45       0          0           0.0
2017-09-28  0.45  0.45  0.40   0.40    7600          0           0.0
2017-09-29  0.40  0.45  0.40   0.40   69500          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CCM_TO.csv
Getting data for: CCO.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,11.884856,11.933051,11.807744,11.855939,741900,0.0,0
2017-09-26,11.836661,11.923412,11.807745,11.817384,914400,0.0,0
2017-09-27,11.855938,11.875216,11.807743,11.846299,804200,0.0,0
2017-09-28,11.826862,12.225302,11.826862,12.186430,1853400,0.1,0
2017-09-29,12.215586,12.244741,11.651939,11.710248,2385000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CCO_TO.csv
Getting data for: CCW.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.21  0.22  0.21   0.21  159500          0             0
2017-09-26  0.20  0.20  0.20   0.20   86700          0             0
2017-09-27  0.20  0.20  0.19   0.19   38000          0             0
2017-09-28  0.20  0.20  0.19   0.20  107300          0             0
2017-09-29  0.19  0.20  0.19   0.19  160000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CCW_V.csv
Getting data for: CERE-U.NE

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-04-14  9.25  9.25  9.25   9.25     500          0             0
2020-04-15  9.25  9.25  9.25   9.25       0          0             0
2020-04-16  9.25  9.25  9.25   9.25       0          0             0
2020-04-17  9.25  9.25  9.25   9.25       0          0             0
2020-04-20  9.15  9.15  9.15   9.15     400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CERE-U_NE.csv
Getting data for: CERT.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-02-25  1.25  1.25  1.10   1.25  175081          0             0
2021-02-26  1.20  1.25  1.10   1.20   85304          0             0
2021-03-01  1.15  1.15  0.95   1.01   82360          0             0
2021-03-02  1.06  1.07  1.00   1.07   54100          0             0
2021-03-03  1.02  1.02  1.00   1.00  188605          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CERT_V.csv
Getting data for: CERV.TO
- CERV.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CERV_TO.csv
Getting data for: CEU.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,5.798338,5.872438,5.789076,5.853913,499700,0.000,0
2017-09-26,5.798339,5.881701,5.668663,5.844651,395300,0.000,0
2017-09-27,5.863176,5.881701,5.659400,5.853913,579700,0.000,0
2017-09-28,5.884494,5.930829,5.856693,5.912295,416400,0.003,0
2017-09-29,5.884495,5.921562,5.736224,5.847427,544000,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CEU_TO.csv
Getting data for: CF.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.699644,3.751027,3.682516,3.699644,41900,0.0,0
2017-09-26,3.699643,3.708207,3.656823,3.665387,88000,0.0,0
2017-09-27,3.682516,3.691079,3.665388,3.682516,96000,0.0,0
2017-09-28,3.673952,3.682517,3.656824,3.656824,49700,0.0,0
2017-09-29,3.656824,3.699644,3.656824,3.673952,75000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CF_TO.csv
Getting data for: CFF.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.969904,4.024163,3.888517,3.987990,20800,0.0,0
2017-09-26,4.051292,4.069378,3.933732,3.978947,33500,0.0,0
2017-09-27,4.042249,4.105550,3.978948,4.024163,7000,0.0,0
2017-09-28,4.024163,4.033206,4.024163,4.024163,63200,0.0,0
2017-09-29,4.060335,4.114593,4.060335,4.078421,1300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CFF_TO.csv
Getting data for: CFP.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,23.750000,23.750000,23.219999,23.250000,180300,0,0
2017-09-26,23.200001,23.250000,22.950001,23.200001,165100,0,0
2017-09-27,23.209999,23.500000,23.180000,23.469999,211600,0,0
2017-09-28,23.410000,23.610001,23.309999,23.490000,115700,0,0
2017-09-29,23.500000,23.500000,22.959999,23.440001,274400,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CFP_TO.csv
Getting data for: CFW.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  241.0  245.5  240.0  245.5   17850          0           0.0
2017-09-26  243.0  247.0  229.0  246.0   13884          0           0.0
2017-09-27  246.0  249.0  241.5  247.0   11338          0           0.0
2017-09-28  249.0  252.5  242.5  250.5   18614          0           0.0
2017-09-29  249.5  256.5  249.5  253.5    9906          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CFW_TO.csv
Getting data for: CFX.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,11.401992,11.522374,11.393393,11.401992,7900,0.0,0
2017-09-26,11.393393,11.522375,11.307405,11.513777,15600,0.0,0
2017-09-27,11.608363,11.608363,11.444987,11.608363,11000,0.0,0
2017-09-28,11.522375,11.745944,11.444987,11.711549,10800,0.0,0
2017-09-29,11.685752,11.737344,11.444986,11.444986,22600,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CFX_TO.csv
Getting data for: CG.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,8.506829,8.788823,8.450430,8.629026,787000,0.0,0
2017-09-26,8.553827,8.619625,8.403429,8.441029,648900,0.0,0
2017-09-27,8.300032,8.384630,8.224833,8.271832,765900,0.0,0
2017-09-28,8.271833,8.469229,8.196634,8.337631,615400,0.0,0
2017-09-29,8.365831,8.365831,8.253033,8.262433,414300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CG_TO.csv
Getting data for: CGG.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,1.816634,1.825672,1.789520,1.798558,385800,0.0,0
2017-09-26,1.816634,1.834710,1.807596,1.816634,428900,0.0,0
2017-09-27,1.816634,1.816634,1.798558,1.798558,180700,0.0,0
2017-09-28,1.798558,1.816634,1.789520,1.798558,137300,0.0,0
2017-09-29,1.798558,1.816634,1.762406,1.771444,320000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CGG_TO.csv
Getting data for: CGX.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,34.054227,34.295994,33.121710,33.268494,258000,0.00,0
2017-09-26,33.398009,33.587968,32.715888,32.819500,218400,0.00,0
2017-09-27,32.905831,33.605218,32.845391,33.484337,338700,0.00,0
2017-09-28,33.553680,34.012963,33.432361,33.631672,279700,0.14,0
2017-09-29,33.631675,33.978302,33.363036,33.830986,275700,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CGX_TO.csv
Getting data for: CHE-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,11.790325,11.871082,11.777901,11.802750,310200,0.0,0
2017-09-26,11.833808,11.840020,11.740628,11.784112,268500,0.0,0
2017-09-27,11.827596,12.057439,11.821384,12.013955,209700,0.0,0
2017-09-28,12.038935,12.344903,12.038935,12.332415,714800,0.1,0
2017-09-29,12.326167,12.394854,12.251237,12.369877,472400,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CHE-UN_TO.csv
Getting data for: CHP-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,10.034118,10.133163,10.011260,10.095069,24329,0.000000,0.0
2017-09-26,10.095069,10.095069,10.011261,10.041737,30882,0.000000,0.0
2017-09-27,10.095070,10.095070,9.996024,10.026500,27506,0.000000,0.0
2017-09-28,10.089268,10.104578,9.997408,10.081614,31081,0.062437,0.0
2017-09-29,10.104576,10.204092,10.104576,10.173471,27804,0.000000,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CHP-UN_TO.csv
Getting data for: CHR.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,7.375277,7.383765,6.976385,7.163100,552600,0.00,0
2017-09-26,7.180074,7.180074,7.010333,7.154613,434300,0.00,0
2017-09-27,7.154616,7.256461,7.129154,7.230999,208900,0.00,0
2017-09-28,7.256578,7.290687,7.213942,7.230996,94000,0.04,0
2017-09-29,7.265106,7.299215,7.111618,7.128672,1073000,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CHR_TO.csv
Getting data for: CIA.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.03  1.03  1.01   1.03  293800          0             0
2017-09-26  1.03  1.03  1.00   1.01   76600          0             0
2017-09-27  1.00  1.01  1.00   1.00  190100          0             0
2017-09-28  1.00  1.01  0.98   0.98  225600          0             0
2017-09-29  0.99  1.02  0.99   0.99  153000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CIA_TO.csv
Getting data for: CIX.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,22.093396,22.199576,22.052559,22.085230,358000,0.000,0
2017-09-26,22.093398,22.093398,21.970884,22.028057,280100,0.000,0
2017-09-27,22.093396,22.330257,22.036222,22.224077,516700,0.000,0
2017-09-28,22.238843,22.394702,22.230639,22.329077,179300,0.118,0
2017-09-29,22.312674,22.484941,22.312674,22.386503,535900,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CIX_TO.csv
Getting data for: CJ.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.761708,3.955445,3.761708,3.907011,1937800,0.000,0
2017-09-26,3.915083,3.955445,3.818215,3.907011,794300,0.000,0
2017-09-27,3.955445,3.959481,3.802070,3.907011,773700,0.000,0
2017-09-28,3.935470,3.984257,3.821634,3.886683,541300,0.035,0
2017-09-29,3.886683,3.886683,3.821633,3.837896,314300,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CJ_TO.csv
Getting data for: CJR-B.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,8.955221,9.010973,8.885530,8.983097,396500,0.0,0
2017-09-26,8.997035,9.017942,8.920376,8.983097,252400,0.0,0
2017-09-27,8.997034,9.031880,8.927344,8.969158,301400,0.0,0
2017-09-28,8.941282,8.990065,8.920375,8.969158,216900,0.0,0
2017-09-29,8.962189,9.094601,8.962189,9.045817,312100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CJR-B_TO.csv
Getting data for: CJT.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,48.393858,49.120577,48.393858,48.460793,9000,0.0,0
2017-09-26,48.470356,49.656060,48.145244,48.470356,14100,0.0,0
2017-09-27,48.126124,48.623350,48.126124,48.326927,13600,0.0,0
2017-09-28,48.384295,48.384295,48.173931,48.173931,26900,0.0,0
2017-09-29,48.173938,48.288683,47.934885,48.269558,11500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CJT_TO.csv
Getting data for: CLIQ.TO
- CLIQ.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CLIQ_TO.csv
Getting data for: CLS.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  15.38  15.38  15.10  15.12   91900          0             0
2017-09-26  15.16  15.30  15.12  15.17  124000          0             0
2017-09-27  15.21  15.43  15.10  15.40  261200          0             0
2017-09-28  15.36  15.57  15.35  15.36  124400          0             0
2017-09-29  15.45  15.76  15.42  15.44  256700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CLS_TO.csv
Getting data for: CM.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,42.622236,42.847957,42.618347,42.824608,2547400,0.00,0.0
2017-09-26,42.960815,42.960815,42.649475,42.781796,2851600,0.00,0.0
2017-09-27,42.734535,42.951140,42.683335,42.896004,3132800,0.65,0.0
2017-09-28,42.844807,43.096858,42.785732,42.970833,2190400,0.00,0.0
2017-09-29,43.085051,43.242584,42.994469,42.994469,2297600,0.00,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CM_TO.csv
Getting data for: CMG.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,7.190957,7.556060,7.190957,7.381445,80500,0.0,0
2017-09-26,7.341759,7.373507,7.190956,7.190956,64000,0.0,0
2017-09-27,7.198891,7.238577,7.048088,7.087773,52600,0.0,0
2017-09-28,7.071898,7.246513,7.040150,7.230639,91500,0.0,0
2017-09-29,7.238577,7.310011,7.198892,7.270325,159700,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CMG_TO.csv
Getting data for: CMMC.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.16  1.17  1.13   1.13  247600          0             0
2017-09-26  1.13  1.14  1.11   1.13  362700          0             0
2017-09-27  1.12  1.18  1.12   1.17  434000          0             0
2017-09-28  1.19  1.25  1.19   1.24  352800          0             0
2017-09-29  1.26  1.27  1.23   1.25  184800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CMMC_TO.csv
Getting data for: CMX.V
- CMX.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CMX_V.csv
Getting data for: CNC.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-02-27  0.50  0.90  0.50   0.90   23200          0             0
2020-02-28  0.90  0.90  0.90   0.90       0          0             0
2020-03-02  0.80  0.89  0.58   0.58   44000          0             0
2020-03-03  0.54  0.54  0.52   0.52   89500          0             0
2020-03-04  0.52  0.53  0.52   0.53   14000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CNC_V.csv
Getting data for: CNE.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.482469,3.533308,3.448576,3.457049,209200,0.0,0
2017-09-26,3.440103,3.482469,3.414684,3.465523,276400,0.0,0
2017-09-27,3.431630,3.499416,3.431630,3.482469,222800,0.0,0
2017-09-28,3.507889,3.550255,3.482470,3.524835,349800,0.0,0
2017-09-29,3.516362,3.541781,3.490943,3.516362,337600,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CNE_TO.csv
Getting data for: CNQ.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,31.762642,31.965862,31.725007,31.905649,1771639,0.0,0.0
2017-09-26,31.770163,31.980909,31.612102,31.664787,1911720,0.0,0.0
2017-09-27,31.822841,32.191650,31.687362,32.191650,2514723,0.0,0.0
2017-09-28,32.191664,32.274455,31.905649,31.905649,1821464,0.0,0.0
2017-09-29,31.943276,31.950801,31.431459,31.454041,2173607,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CNQ_TO.csv
Getting data for: CNR.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,92.117154,92.593256,91.467089,92.382675,917200,0.0,0
2017-09-26,92.400959,92.959468,92.071348,92.822128,992000,0.0,0
2017-09-27,93.179227,94.982933,93.023579,94.854752,1657500,0.0,0
2017-09-28,94.992097,95.294243,94.451905,94.653328,1116000,0.0,0
2017-09-29,94.754043,95.202685,94.479371,94.653328,1023500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CNR_TO.csv
Getting data for: CP.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,39.509168,39.930392,39.358594,39.722637,1588000,0.0000,0.0
2017-09-26,39.699780,39.720745,39.392914,39.602573,1184000,0.0000,0.0
2017-09-27,39.728364,40.021885,39.678810,40.000919,1797000,0.0000,0.0
2017-09-28,39.936515,40.190695,39.791270,39.997673,968500,0.1126,0.0
2017-09-29,40.033981,40.204072,39.957539,40.053093,1094500,0.0000,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CP_TO.csv
Getting data for: CPAU.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   2.4   2.4  2.2    2.2    4660          0           0.0
2017-09-26   2.2   2.2  2.0    2.2    5825          0           0.0
2017-09-27   2.0   2.2  2.0    2.2    2275          0           0.0
2017-09-28   2.2   2.2  2.2    2.2    2000          0           0.0
2017-09-29   2.4   2.4  2.4    2.4     150          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CPAU_V.csv
Getting data for: CPG.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,8.987896,9.212818,8.969902,9.167833,3859900,0.00,0
2017-09-26,9.140841,9.248804,8.933913,9.230810,2712200,0.00,0
2017-09-27,9.257802,9.365765,9.050874,9.311784,3159000,0.00,0
2017-09-28,9.392989,9.420058,9.068160,9.167413,2560000,0.03,0
2017-09-29,9.149369,9.149369,8.986954,9.041093,1841400,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CPG_TO.csv
Getting data for: CPH.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  4.54  4.68  4.52   4.62    2800          0             0
2017-09-26  4.61  4.62  4.47   4.47    6100          0             0
2017-09-27  4.40  4.85  4.31   4.85    7700          0             0
2017-09-28  4.75  4.80  4.69   4.80   22600          0             0
2017-09-29  4.80  4.80  4.70   4.75    7500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CPH_TO.csv
Getting data for: CPR.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.449982,3.899980,3.299983,3.299983,4400,0,0.0
2017-09-26,3.899980,3.899980,3.599982,3.599982,1566,0,0.0
2017-09-27,3.599982,3.599982,3.599982,3.599982,0,0,0.0
2017-09-28,3.599982,3.599982,3.599982,3.599982,0,0,0.0
2017-09-29,3.599982,3.674981,3.224983,3.224983,5566,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CPR_V.csv
Getting data for: CPX.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,18.568815,18.590920,18.458285,18.531971,124200,0.000,0
2017-09-26,18.605661,18.679347,18.428815,18.635136,222500,0.000,0
2017-09-27,18.664608,18.730925,18.605659,18.664608,183200,0.000,0
2017-09-28,18.767999,18.917844,18.610663,18.865398,295500,0.418,0
2017-09-29,18.842923,18.857908,18.475805,18.483297,276500,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CPX_TO.csv
Getting data for: CR.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  4.18  4.35  4.15   4.34   676500          0             0
2017-09-26  4.39  4.50  4.32   4.47  1472700          0             0
2017-09-27  4.52  4.54  4.39   4.52   764200          0             0
2017-09-28  4.56  4.71  4.48   4.51   693000          0             0
2017-09-29  4.50  4.52  4.43   4.44   320300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CR_TO.csv
Getting data for: CRDL.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-12-20  4.88  4.88  4.15   4.15  100500          0             0
2018-12-21  4.15  4.70  4.15   4.65   70200          0             0
2018-12-24  4.65  4.65  4.49   4.55   16500          0             0
2018-12-27  4.50  4.55  4.40   4.43   26500          0             0
2018-12-28  4.43  4.44  4.40   4.44   21200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CRDL_TO.csv
Getting data for: CRE.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.65  1.65  1.61   1.61  105900          0             0
2017-09-26  1.62  1.62  1.57   1.60  222300          0             0
2017-09-27  1.62  1.62  1.58   1.60  103300          0             0
2017-09-28  1.60  1.65  1.59   1.63  166000          0             0
2017-09-29  1.65  1.65  1.62   1.64   75700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CRE_V.csv
Getting data for: CRH.TO
- CRH.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CRH_TO.csv
Getting data for: CRON.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.65  2.65  2.53   2.53  259400          0             0
2017-09-26  2.51  2.59  2.46   2.59  143100          0             0
2017-09-27  2.58  2.61  2.52   2.59   73800          0             0
2017-09-28  2.58  2.65  2.58   2.65   74100          0             0
2017-09-29  2.65  2.67  2.61   2.61  119700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CRON_TO.csv
Getting data for: CRR-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,10.164837,10.263084,10.142164,10.232854,88549,0.000000,0.0
2017-09-26,10.217745,10.263090,10.149727,10.210187,57251,0.000000,0.0
2017-09-27,10.240417,10.247974,10.157284,10.210187,63277,0.000000,0.0
2017-09-28,10.266414,10.266414,10.205621,10.236018,44032,0.076132,0.0
2017-09-29,10.205627,10.380408,10.205627,10.357610,117029,0.000000,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CRR-UN_TO.csv
Getting data for: CRRX.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  15.4  15.4  15.4   15.4    9060          0           0.0
2017-09-26  15.4  15.6  15.2   15.4   67420          0           0.0
2017-09-27  15.4  15.6  15.4   15.6    2575          0           0.0
2017-09-28  15.4  15.6  15.4   15.6    5205          0           0.0
2017-09-29  15.6  15.6  15.4   15.6    5215          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CRRX_TO.csv
Getting data for: CRT-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,10.620011,10.658350,10.581672,10.581672,13700,0.000,0
2017-09-26,10.620009,10.666016,10.589337,10.666016,5900,0.000,0
2017-09-27,10.650679,10.650679,10.543329,10.550997,24700,0.000,0
2017-09-28,10.634160,10.634160,10.518654,10.587957,81800,0.058,0
2017-09-29,10.587960,10.734266,10.587960,10.695765,26800,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CRT-UN_TO.csv
Getting data for: CS.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  1.33  1.34  1.25   1.26  1067500          0             0
2017-09-26  1.27  1.29  1.24   1.24   639400          0             0
2017-09-27  1.26  1.31  1.24   1.30  1054500          0             0
2017-09-28  1.30  1.37  1.30   1.37   873400          0             0
2017-09-29  1.36  1.39  1.33   1.36  1392600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CS_TO.csv
Getting data for: CSH-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,11.603487,11.713922,11.571934,11.587710,208900,0.000,0
2017-09-26,11.571936,11.706035,11.564048,11.619265,143300,0.000,0
2017-09-27,11.587711,11.627152,11.540382,11.595599,153800,0.000,0
2017-09-28,11.586101,11.752295,11.586101,11.736466,146800,0.048,0
2017-09-29,11.712729,11.823524,11.649417,11.791868,347200,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CSH-UN_TO.csv
Getting data for: CSO.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.45  1.45  1.41   1.41   28600          0             0
2017-09-26  1.41  1.41  1.41   1.41    4900          0             0
2017-09-27  1.41  1.41  1.41   1.41    2200          0             0
2017-09-28  1.41  1.49  1.41   1.44   43100          0             0
2017-09-29  1.48  1.48  1.41   1.42   39200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CSO_V.csv
Getting data for: CSTR.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.60  0.60  0.6    0.6       0          0             0
2017-09-26  0.61  0.61  0.6    0.6    4000          0             0
2017-09-27  0.60  0.60  0.6    0.6       0          0             0
2017-09-28  0.60  0.60  0.6    0.6       0          0             0
2017-09-29  0.60  0.60  0.6    0.6       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CSTR_V.csv
Getting data for: CSU.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,660.363676,669.544567,659.567479,664.914795,34500,0.0,0
2017-09-26,661.346742,670.085289,661.346742,669.642944,25400,0.0,0
2017-09-27,667.303432,674.449585,666.212358,674.449585,26500,0.0,0
2017-09-28,669.937806,673.830358,665.956822,666.684204,33000,0.0,0
2017-09-29,663.607460,671.618624,663.607460,669.141541,58000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CSU_TO.csv
Getting data for: CSX.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.39  0.39  0.39   0.39    5000          0             0
2017-09-26  0.38  0.38  0.38   0.38    3000          0             0
2017-09-27  0.38  0.38  0.38   0.38       0          0             0
2017-09-28  0.38  0.40  0.38   0.40   37500          0             0
2017-09-29  0.40  0.40  0.40   0.40       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CSX_V.csv
Getting data for: CTC-A.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,130.528532,131.275552,130.250565,130.971527,108700,0.0,0
2017-09-26,131.371108,131.371108,130.224515,131.197372,178300,0.0,0
2017-09-27,131.232129,133.950935,131.101827,133.464493,428800,0.0,0
2017-09-28,133.247309,136.165895,133.169136,135.366760,413400,0.0,0
2017-09-29,135.392851,137.347261,134.793496,134.932480,288000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CTC-A_TO.csv
Getting data for: CTS.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-11-13  0.90  0.92  0.88   0.92   44100          0             0
2018-11-14  0.91  0.91  0.85   0.87   19500          0             0
2018-11-15  0.87  0.87  0.85   0.85  147300          0             0
2018-11-16  0.83  0.85  0.75   0.85   41200          0             0
2018-11-19  0.78  0.85  0.78   0.80   56100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CTS_TO.csv
Getting data for: CU.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,30.027993,30.130344,29.949263,30.051611,119900,0.0,0
2017-09-26,30.106713,30.319284,30.059473,30.153950,232400,0.0,0
2017-09-27,30.153961,30.279930,29.965008,29.988626,206200,0.0,0
2017-09-28,29.988624,30.335040,29.886273,30.209070,176700,0.0,0
2017-09-29,30.224808,30.563351,30.114585,30.508240,563200,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CU_TO.csv
Getting data for: CUB.V
- CUB.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CUB_V.csv
Getting data for: CUF-UN.TO
- CUF-UN.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CUF-UN_TO.csv
Getting data for: CUR.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   2.4   2.4  2.4    2.4       0          0           0.0
2017-09-26   2.4   2.4  2.4    2.4       0          0           0.0
2017-09-27   2.4   2.4  2.4    2.4       0          0           0.0
2017-09-28   2.4   2.4  2.4    2.4       0          0           0.0
2017-09-29   2.4   2.4  2.4    2.4       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CUR_V.csv
Getting data for: CVE.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,12.265581,12.265581,11.753739,11.902638,5682000,0.0,0
2017-09-26,11.865411,11.949167,11.669981,11.800268,3543400,0.0,0
2017-09-27,11.884025,11.930555,11.539695,11.893331,3496100,0.0,0
2017-09-28,11.949169,11.995700,11.679289,11.725821,3431100,0.0,0
2017-09-29,11.679290,11.753739,11.558309,11.642065,2986000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CVE_TO.csv
Getting data for: CVV.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.38  0.38  0.35   0.37   12500          0             0
2017-09-26  0.37  0.37  0.35   0.37    9300          0             0
2017-09-27  0.36  0.36  0.36   0.36    3300          0             0
2017-09-28  0.35  0.36  0.33   0.34   31700          0             0
2017-09-29  0.37  0.37  0.35   0.35    7900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CVV_V.csv
Getting data for: CVX.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.14  0.14  0.14   0.14   24000          0             0
2017-09-26  0.15  0.15  0.14   0.14   12500          0             0
2017-09-27  0.16  0.18  0.16   0.16  133000          0             0
2017-09-28  0.16  0.16  0.16   0.16       0          0             0
2017-09-29  0.16  0.16  0.16   0.16       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CVX_V.csv
Getting data for: CWB.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,27.097295,27.147334,26.805387,26.830406,509900,0.0,0
2017-09-26,26.813730,26.838749,26.580203,26.688625,271700,0.0,0
2017-09-27,26.855426,28.106455,26.788703,27.989693,1734700,0.0,0
2017-09-28,27.939649,28.314959,27.781187,28.239897,730400,0.0,0
2017-09-29,28.339987,28.365007,28.114801,28.114801,374800,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CWB_TO.csv
Getting data for: CWEB.TO

             Open       High    Low  Close   Volume  Dividends  Stock Splits
Date
2018-09-13  17.40  17.480000  14.31  14.45  1668600          0             0
2018-09-14  13.40  15.400000  13.25  14.69   927500          0             0
2018-09-17  15.50  15.500000  14.29  14.69   498500          0             0
2018-09-18  14.98  15.900000  14.71  15.56   530300          0             0
2018-09-19  16.50  16.950001  15.51  16.35  1001500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CWEB_TO.csv
Getting data for: CWRK.V
- CWRK.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CWRK_V.csv
Getting data for: CWX.TO
- CWX.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CWX_TO.csv
Getting data for: CXB.TO

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   1.4   1.4  1.4    1.4   18470          0           0.0
2017-09-26   1.4   1.4  1.4    1.4   20600          0           0.0
2017-09-27   1.4   1.4  1.4    1.4    6800          0           0.0
2017-09-28   1.4   1.4  1.3    1.4   25730          0           0.0
2017-09-29   1.4   1.4  1.3    1.4   42230          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CXB_TO.csv
Getting data for: CYBN.NE

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2020-11-10  0.99  1.09  0.79   0.94  1765991          0             0
2020-11-11  0.94  0.99  0.85   0.92   596548          0             0
2020-11-12  0.91  0.92  0.83   0.88   693295          0             0
2020-11-13  0.90  0.90  0.80   0.88   737730          0             0
2020-11-16  0.92  0.92  0.79   0.81   164933          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CYBN_NE.csv
Getting data for: CYL.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.17  0.19  0.17   0.19   16000          0             0
2017-09-26  0.19  0.19  0.19   0.19       0          0             0
2017-09-27  0.18  0.18  0.18   0.18   10100          0             0
2017-09-28  0.19  0.19  0.18   0.18   69500          0             0
2017-09-29  0.19  0.19  0.18   0.18  268400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CYL_V.csv
Getting data for: CYM.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.235  0.235  0.230  0.230    7000          0             0
2017-09-26  0.225  0.230  0.225  0.230   11000          0             0
2017-09-27  0.220  0.220  0.220  0.220    9000          0             0
2017-09-28  0.225  0.225  0.200  0.200   35000          0             0
2017-09-29  0.210  0.215  0.210  0.215    6500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CYM_V.csv
Getting data for: CYP.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.12  0.12  0.12   0.12  144100          0             0
2017-09-26  0.12  0.12  0.11   0.11   41500          0             0
2017-09-27  0.11  0.11  0.11   0.11  107000          0             0
2017-09-28  0.11  0.11  0.11   0.11    1000          0             0
2017-09-29  0.12  0.14  0.12   0.14  570200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CYP_V.csv
Getting data for: CZO.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.57  0.57  0.56   0.56   14100          0             0
2017-09-26  0.56  0.56  0.55   0.55   64200          0             0
2017-09-27  0.57  0.58  0.56   0.58   57200          0             0
2017-09-28  0.58  0.58  0.56   0.56   34900          0             0
2017-09-29  0.56  0.57  0.55   0.57  131600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//CZO_V.csv
Getting data for: D-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,17.166635,17.319549,17.118347,17.158587,190400,0.000,0
2017-09-26,17.142494,17.239072,16.989581,17.045918,243000,0.000,0
2017-09-27,16.965436,17.174687,16.965436,17.045918,165900,0.000,0
2017-09-28,17.072587,17.088747,16.967551,17.024109,106200,0.083,0
2017-09-29,16.975623,17.040261,16.927145,16.991783,299700,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//D-UN_TO.csv
Getting data for: DAN.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.79  0.81  0.77   0.79   14000          0             0
2017-09-26  0.78  0.78  0.77   0.77   36500          0             0
2017-09-27  0.76  0.78  0.76   0.78   10700          0             0
2017-09-28  0.77  0.77  0.76   0.76   22100          0             0
2017-09-29  0.77  0.77  0.74   0.77   52800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DAN_V.csv
Getting data for: DBG.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.045  0.050  0.045  0.050  304600          0             0
2017-09-26  0.050  0.055  0.050  0.055  221900          0             0
2017-09-27  0.055  0.055  0.045  0.050  534900          0             0
2017-09-28  0.050  0.055  0.050  0.055  999500          0             0
2017-09-29  0.055  0.065  0.055  0.065  628700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DBG_V.csv
Getting data for: DC-A.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,2.413487,2.464221,2.391744,2.391744,21300,0.0,0
2017-09-26,2.442478,2.442478,2.290276,2.355505,16400,0.0,0
2017-09-27,2.398991,2.398991,2.333762,2.355505,12900,0.0,0
2017-09-28,2.370001,2.370001,2.333762,2.355505,20000,0.0,0
2017-09-29,2.319267,2.341010,2.312019,2.319267,32000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DC-A_TO.csv
Getting data for: DCBO.TO

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2019-10-08  16.00  16.23  15.80  16.00  1548000          0             0
2019-10-09  15.94  16.25  15.94  16.15   165600          0             0
2019-10-10  16.10  16.10  14.91  15.30   362000          0             0
2019-10-11  15.45  15.45  13.53  13.61   334200          0             0
2019-10-15  13.55  14.47  13.23  14.22   226500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DCBO_TO.csv
Getting data for: DCM.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.58  1.65  1.48   1.61   55400          0             0
2017-09-26  1.64  1.64  1.53   1.53   17000          0             0
2017-09-27  1.47  1.50  1.46   1.50   10300          0             0
2017-09-28  1.51  1.51  1.32   1.37   53200          0             0
2017-09-29  1.34  1.39  1.30   1.36   32600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DCM_TO.csv
Getting data for: DCMC.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-01-24,1.295994,1.295994,1.295994,1.295994,594,0,0.0
2019-01-25,1.295994,1.295994,1.295994,1.295994,0,0,0.0
2019-01-28,1.295994,1.295994,1.295994,1.295994,0,0,0.0
2019-01-29,1.133995,1.133995,1.079995,1.079995,3148,0,0.0
2019-01-30,1.079995,1.079995,1.079995,1.079995,2314,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DCMC_V.csv
Getting data for: DEAL.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.58  0.59  0.58   0.59    6500          0             0
2017-09-26  0.57  0.57  0.55   0.55   12500          0             0
2017-09-27  0.55  0.55  0.55   0.55   16000          0             0
2017-09-28  0.52  0.55  0.49   0.49   15200          0             0
2017-09-29  0.49  0.49  0.49   0.49       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DEAL_V.csv
Getting data for: DEF.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.33  0.33  0.32   0.33   24700          0             0
2017-09-26  0.32  0.33  0.31   0.33   30200          0             0
2017-09-27  0.33  0.34  0.31   0.34   20300          0             0
2017-09-28  0.32  0.34  0.32   0.33   22500          0             0
2017-09-29  0.34  0.34  0.31   0.31   84900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DEF_V.csv
Getting data for: DEFI.NE

            Open  High    Low  Close  Volume  Dividends  Stock Splits
Date
2022-09-23  0.27  0.29  0.255   0.26  212416          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DEFI_NE.csv
Getting data for: DEFN.V

             Open   High  Low  Close  Volume  Dividends  Stock Splits
Date
2018-02-20  0.205  0.205  0.2    0.2   26000          0             0
2018-02-21  0.200  0.200  0.2    0.2       0          0             0
2018-02-22  0.200  0.200  0.2    0.2       0          0             0
2018-02-23  0.200  0.200  0.2    0.2       0          0             0
2018-02-26  0.200  0.200  0.2    0.2       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DEFN_V.csv
Getting data for: DEV-H.V
- DEV-H.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DEV-H_V.csv
Getting data for: DEX-H.V
- DEX-H.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DEX-H_V.csv
Getting data for: DF.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,5.091955,5.091955,5.060523,5.091955,67700,0.0,0
2017-09-26,5.079382,5.091955,5.079382,5.079382,19700,0.0,0
2017-09-27,5.079383,5.085669,5.060524,5.085669,64200,0.0,0
2017-09-28,5.123859,5.123859,5.092034,5.104764,32100,0.1,0
2017-09-29,5.092034,5.104764,5.092034,5.098399,14600,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DF_TO.csv
Getting data for: DFLYCSE
- DFLYCSE: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DFLYCSE.csv
Getting data for: DFN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,5.617426,5.622580,5.586505,5.591659,70500,0.0,0
2017-09-26,5.617425,5.643193,5.617425,5.627733,77800,0.0,0
2017-09-27,5.648348,5.658655,5.638041,5.658655,83500,0.0,0
2017-09-28,5.648253,5.648253,5.611846,5.643052,53000,0.1,0
2017-09-29,5.648254,5.669057,5.643053,5.669057,41100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DFN_TO.csv
Getting data for: DFR.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   0.1   0.1  0.1    0.1       0          0             0
2017-09-26   0.1   0.1  0.1    0.1       0          0             0
2017-09-27   0.1   0.1  0.1    0.1       0          0             0
2017-09-28   0.1   0.1  0.1    0.1       0          0             0
2017-09-29   0.1   0.1  0.1    0.1       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DFR_V.csv
Getting data for: DGHI.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-02-24,1.950001,1.950001,1.650001,1.710001,5034,0,0.0
2020-02-25,1.710001,1.710001,1.590001,1.620001,2773,0,0.0
2020-02-26,1.620001,1.770001,1.440001,1.590001,16382,0,0.0
2020-02-27,1.500001,1.500001,1.140001,1.140001,35250,0,0.0
2020-02-28,1.050001,1.110001,0.960000,0.990000,27995,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DGHI_V.csv
Getting data for: DGS.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,4.371999,4.371999,4.355725,4.371999,142400,0.0,0
2017-09-26,4.371998,4.382846,4.339452,4.382846,139000,0.0,0
2017-09-27,4.382846,4.393695,4.366574,4.388271,125800,0.0,0
2017-09-28,4.399255,4.448685,4.371794,4.432208,99200,0.1,0
2017-09-29,4.426717,4.426717,4.393763,4.421225,64900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DGS_TO.csv
Getting data for: DGTL.V

            Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-08-04  0.25  0.250  0.18   0.18   75480          0             0
2020-08-05  0.22  0.360  0.22   0.30  141400          0             0
2020-08-06  0.35  0.350  0.20   0.24   76590          0             0
2020-08-07  0.25  0.305  0.25   0.30   54000          0             0
2020-08-10  0.25  0.260  0.24   0.25   48950          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DGTL_V.csv
Getting data for: DII-B.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,11.175295,11.298511,11.052079,11.052079,13600,0.0,0
2017-09-26,11.070749,11.182764,10.854188,11.037145,23300,0.0,0
2017-09-27,10.839254,11.137959,10.839254,11.063282,41100,0.0,0
2017-09-28,11.018476,11.223835,10.981137,11.186497,43600,0.0,0
2017-09-29,11.093153,11.291045,11.089419,11.149160,82500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DII-B_TO.csv
Getting data for: DIR-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,6.796977,6.819336,6.744808,6.804430,45800,0.000,0
2017-09-26,6.811883,6.819336,6.782072,6.804430,76200,0.000,0
2017-09-27,6.804432,6.849149,6.796979,6.841696,75700,0.000,0
2017-09-28,6.862695,6.900196,6.862695,6.892696,84200,0.058,0
2017-09-29,6.870197,6.885197,6.825196,6.825196,55500,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DIR-UN_TO.csv
Getting data for: DIV.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,2.043815,2.050516,2.017011,2.030413,331000,0.0,0
2017-09-26,2.017012,2.090723,2.017012,2.084022,789600,0.0,0
2017-09-27,2.097425,2.104126,2.023713,2.063919,463800,0.0,0
2017-09-28,2.063919,2.077321,2.043816,2.077321,151000,0.0,0
2017-09-29,2.077321,2.104126,2.070620,2.084022,262600,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DIV_TO.csv
Getting data for: DLCG.V
- DLCG.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DLCG_V.csv
Getting data for: DLTA.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.12  0.12  0.11   0.11   40200          0             0
2017-09-26  0.11  0.11  0.11   0.11     900          0             0
2017-09-27  0.11  0.11  0.11   0.11    9500          0             0
2017-09-28  0.11  0.11  0.10   0.10   17000          0             0
2017-09-29  0.11  0.11  0.11   0.11    4500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DLTA_V.csv
Getting data for: DME.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.16  0.16  0.16   0.16  110250          0           0.0
2017-09-26  0.16  0.16  0.16   0.16    9250          0           0.0
2017-09-27  0.16  0.16  0.16   0.16   29250          0           0.0
2017-09-28  0.16  0.16  0.16   0.16       0          0           0.0
2017-09-29  0.16  0.16  0.16   0.16    5100          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DME_V.csv
Getting data for: DMGI.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-02-16  1.92  1.92  1.55   1.66  613900          0             0
2018-02-20  1.60  1.62  1.45   1.57  693400          0             0
2018-02-21  1.58  1.58  1.35   1.38  673100          0             0
2018-02-22  1.34  1.44  1.30   1.37  241600          0             0
2018-02-23  1.41  1.55  1.41   1.50  303500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DMGI_V.csv
Getting data for: DML.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.61  0.61  0.59   0.60  136100          0             0
2017-09-26  0.60  0.60  0.58   0.58  131800          0             0
2017-09-27  0.58  0.59  0.58   0.58  195000          0             0
2017-09-28  0.58  0.59  0.58   0.58  143200          0             0
2017-09-29  0.58  0.58  0.56   0.58  633000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DML_TO.csv
Getting data for: DMX.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.14  0.14  0.14   0.14       0          0             0
2017-09-26  0.14  0.14  0.11   0.11   47700          0             0
2017-09-27  0.14  0.14  0.14   0.14    7000          0             0
2017-09-28  0.14  0.14  0.14   0.14       0          0             0
2017-09-29  0.14  0.14  0.14   0.14       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DMX_V.csv
Getting data for: DN.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-11-06  1.50  2.26  1.50   2.25  1187700          0             0
2017-11-07  2.50  3.10  2.50   2.89  1158200          0             0
2017-11-08  3.41  3.94  3.12   3.25  2553900          0             0
2017-11-09  3.45  3.45  2.77   2.89  1255200          0             0
2017-11-10  2.95  3.00  2.87   2.93   673300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DN_TO.csv
Getting data for: DND.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-07-17,11.445292,14.861946,11.206226,14.742414,2620500,0.0,0
2020-07-20,15.439692,15.439692,13.357823,14.543194,1125800,0.0,0
2020-07-21,14.543195,14.543195,13.696502,13.806073,211300,0.0,0
2020-07-22,13.875801,13.925606,13.098835,13.825995,100100,0.0,0
2020-07-23,13.825995,13.825995,12.999225,13.198446,48900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DND_TO.csv
Getting data for: DNG.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,1.768752,1.804127,1.733377,1.795283,65600,0.0,0
2017-09-26,1.804127,1.804127,1.751065,1.759909,34800,0.0,0
2017-09-27,1.759908,1.759908,1.733377,1.733377,4200,0.0,0
2017-09-28,1.768752,1.768752,1.724533,1.733377,23200,0.0,0
2017-09-29,1.733377,1.795284,1.724534,1.759909,14100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DNG_TO.csv
Getting data for: DOC.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2020-06-04  0.74  0.76  0.71   0.74   801100          0             0
2020-06-05  0.75  0.75  0.71   0.71   636900          0             0
2020-06-08  0.74  0.74  0.68   0.68   871300          0             0
2020-06-09  0.68  0.74  0.67   0.73  1301800          0             0
2020-06-10  0.73  0.77  0.72   0.72  1562400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DOC_V.csv
Getting data for: DOL.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,44.920590,44.920590,44.435990,44.619350,723900,0.0,0.0
2017-09-26,44.619339,44.619339,44.223146,44.435978,884400,0.0,0.0
2017-09-27,44.524398,44.927141,44.442537,44.783070,1389900,0.0,0.0
2017-09-28,44.966415,45.022075,44.730661,44.979511,989100,0.0,0.0
2017-09-29,45.022090,45.303683,44.691383,44.704479,943500,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DOL_TO.csv
Getting data for: DOO.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,43.113013,44.365904,43.054742,43.744316,282800,0.00,0
2017-09-26,43.511220,44.074537,43.462659,43.870575,105400,0.00,0
2017-09-27,40.791773,40.961738,40.257596,40.451843,617200,0.00,0
2017-09-28,40.597801,40.734035,40.471297,40.617264,151900,0.08,0
2017-09-29,40.189102,40.189102,39.118691,39.274387,1003200,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DOO_TO.csv
Getting data for: DPM.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,2.281867,2.414976,2.281867,2.395960,126500,0.0,0
2017-09-26,2.348422,2.433992,2.338914,2.348422,76700,0.0,0
2017-09-27,2.329406,2.367437,2.310390,2.357929,125400,0.0,0
2017-09-28,2.376945,2.453007,2.367437,2.433991,117400,0.0,0
2017-09-29,2.433991,2.567100,2.414976,2.567100,346000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DPM_TO.csv
Getting data for: DR.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,11.269330,11.379168,11.218072,11.262008,104200,0.000,0
2017-09-26,11.269332,11.342556,11.130204,11.320589,127500,0.000,0
2017-09-27,11.313264,11.686711,11.291296,11.620809,213500,0.000,0
2017-09-28,11.712152,11.741616,11.483802,11.594294,93900,0.094,0
2017-09-29,11.609024,11.682685,11.277548,11.483800,214200,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DR_TO.csv
Getting data for: DRDR.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-01-06  4.89  4.89  4.25   4.52  727400          0             0
2021-01-07  4.69  4.69  4.50   4.50  135600          0             0
2021-01-08  4.55  4.93  4.49   4.60  155900          0             0
2021-01-11  4.68  4.68  4.38   4.38   14800          0             0
2021-01-12  4.50  4.50  4.31   4.31   93400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DRDR_TO.csv
Getting data for: DRM.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,14.115116,14.172572,13.866138,13.923594,19150,0.0,0.0
2017-09-26,13.923593,13.981050,13.789528,13.866137,37300,0.0,0.0
2017-09-27,13.866137,14.057659,13.770376,13.866137,50100,0.0,0.0
2017-09-28,13.885288,13.942745,13.827831,13.885288,16000,0.0,0.0
2017-09-29,13.866137,13.904443,13.693769,13.827833,12350,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DRM_TO.csv
Getting data for: DRT.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  5.00  5.05  4.99   4.99  113900          0             0
2017-09-26  5.03  5.09  4.99   5.08  400500          0             0
2017-09-27  5.07  5.43  5.07   5.35  302100          0             0
2017-09-28  5.35  5.54  5.35   5.45  230500          0             0
2017-09-29  5.45  5.50  5.36   5.48  217000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DRT_TO.csv
Getting data for: DSG.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,34.119999,34.279999,33.770000,33.860001,114700,0,0
2017-09-26,33.880001,33.990002,33.080002,33.310001,146700,0,0
2017-09-27,33.369999,33.849998,33.340000,33.740002,136600,0,0
2017-09-28,33.660000,34.000000,33.630001,33.869999,111000,0,0
2017-09-29,33.910000,34.119999,33.840000,34.029999,199700,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DSG_TO.csv
Getting data for: DSLV.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.35  0.35  0.35   0.35     500          0           0.0
2017-09-26  0.35  0.35  0.35   0.35       0          0           0.0
2017-09-27  0.35  0.35  0.35   0.35     429          0           0.0
2017-09-28  0.35  0.35  0.35   0.35       0          0           0.0
2017-09-29  0.35  0.35  0.35   0.35       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DSLV_V.csv
Getting data for: DSV.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.81  0.81  0.81   0.81    4511          0             0
2017-09-26  0.81  0.81  0.81   0.81       0          0             0
2017-09-27  0.81  0.81  0.81   0.81       0          0             0
2017-09-28  0.81  0.81  0.81   0.81       0          0             0
2017-09-29  0.81  0.81  0.81   0.81       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DSV_V.csv
Getting data for: DTG.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.51  0.52  0.51   0.52    6000          0             0
2017-09-26  0.52  0.52  0.50   0.51   78500          0             0
2017-09-27  0.51  0.51  0.51   0.51   30000          0             0
2017-09-28  0.52  0.52  0.51   0.51   13000          0             0
2017-09-29  0.51  0.51  0.51   0.51   29000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DTG_V.csv
Getting data for: DV.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.74  0.74  0.70   0.71    6000          0             0
2017-09-26  0.70  0.70  0.68   0.68   17900          0             0
2017-09-27  0.68  0.68  0.64   0.65   66900          0             0
2017-09-28  0.67  0.70  0.67   0.68   22100          0             0
2017-09-29  0.69  0.69  0.64   0.66   42100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DV_V.csv
Getting data for: DXT.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,5.662348,5.822982,5.662348,5.782824,73680,0.0,0.0
2017-09-26,5.742665,5.943457,5.742665,5.863141,59280,0.0,0.0
2017-09-27,5.943458,5.983616,5.742665,5.782824,19920,0.0,0.0
2017-09-28,5.782823,5.904996,5.742099,5.742099,56780,0.1,0.0
2017-09-29,5.864272,5.864272,5.538479,5.660651,35940,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DXT_TO.csv
Getting data for: DYA.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.73  0.74  0.67   0.73  466770          0             0
2017-09-26  0.70  0.72  0.69   0.71  347172          0             0
2017-09-27  0.72  0.72  0.68   0.68  425308          0             0
2017-09-28  0.69  0.70  0.64   0.67  597246          0             0
2017-09-29  0.66  0.66  0.63   0.64  299227          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//DYA_TO.csv
Getting data for: EAM.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.225  0.225  0.220  0.220   77500          0             0
2017-09-26  0.225  0.230  0.220  0.220   72000          0             0
2017-09-27  0.225  0.230  0.225  0.225  176100          0             0
2017-09-28  0.225  0.240  0.220  0.230  122500          0             0
2017-09-29  0.240  0.260  0.225  0.260  299900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EAM_V.csv
Getting data for: ECN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,1.427862,1.435037,1.406336,1.420687,870300,0.00,0
2017-09-26,1.424275,1.424275,1.388399,1.391986,1340300,0.00,0
2017-09-27,1.406336,1.406336,1.388398,1.395574,481200,0.00,0
2017-09-28,1.391977,1.424348,1.391977,1.406364,1525300,0.01,0
2017-09-29,1.406364,1.442333,1.402768,1.424349,2024300,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ECN_TO.csv
Getting data for: ECO.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.35  2.37  2.15   2.30   35600          0             0
2017-09-26  2.30  2.37  2.30   2.35   19400          0             0
2017-09-27  2.31  2.31  2.21   2.30   89500          0             0
2017-09-28  2.28  2.30  2.25   2.30   87700          0             0
2017-09-29  2.25  2.30  2.25   2.26    9800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ECO_TO.csv
Getting data for: ECOM.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2020-12-15  1.20  1.74  1.20   1.22  2396027          0             0
2020-12-16  1.35  1.37  1.21   1.29  1087084          0             0
2020-12-17  1.36  1.49  1.22   1.27  1104814          0             0
2020-12-18  1.29  1.32  1.15   1.16   888841          0             0
2020-12-21  1.11  1.13  1.02   1.10   617703          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ECOM_V.csv
Getting data for: EDR.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  3.00  3.04  2.91   3.01  444700          0             0
2017-09-26  2.95  3.08  2.94   2.94  225100          0             0
2017-09-27  2.93  3.04  2.92   3.02  158800          0             0
2017-09-28  3.02  3.06  2.97   3.00  197200          0             0
2017-09-29  3.00  3.02  2.96   2.97  113300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EDR_TO.csv
Getting data for: EDT.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.420  0.425  0.385  0.390   68639          0             0
2017-09-26  0.390  0.395  0.390  0.395   25717          0             0
2017-09-27  0.400  0.415  0.400  0.400   34975          0             0
2017-09-28  0.405  0.410  0.395  0.400   12890          0             0
2017-09-29  0.390  0.420  0.390  0.420   69500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EDT_TO.csv
Getting data for: EDV.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,22.259647,23.830806,22.259647,23.755541,228500,0.0,0
2017-09-26,23.388621,23.689681,22.955846,23.219275,235900,0.0,0
2017-09-27,22.476033,23.134603,22.306686,22.974665,130000,0.0,0
2017-09-28,22.889990,23.275723,22.683012,23.256907,83100,0.0,0
2017-09-29,23.209869,23.614419,23.078156,23.482704,205200,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EDV_TO.csv
Getting data for: EFL.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  1.20  1.24  1.19   1.20    96700          0             0
2017-09-26  1.21  1.25  1.21   1.22    52600          0             0
2017-09-27  1.19  1.22  1.03   1.05  1476200          0             0
2017-09-28  1.08  1.09  1.06   1.06   412300          0             0
2017-09-29  1.09  1.09  0.98   1.03   976600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EFL_TO.csv
Getting data for: EFN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,8.044274,8.166554,8.009337,8.114148,426000,0.000,0
2017-09-26,8.105412,8.271364,8.026803,8.166553,969900,0.000,0
2017-09-27,8.210225,8.262631,8.096680,8.122883,864600,0.000,0
2017-09-28,8.127284,8.180116,8.056841,8.144895,1049800,0.075,0
2017-09-29,8.153700,8.232948,8.100868,8.144895,1089800,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EFN_TO.csv
Getting data for: EFR.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.03  2.04  2.01   2.03   25100          0             0
2017-09-26  2.04  2.05  1.99   1.99   59700          0             0
2017-09-27  2.01  2.02  1.99   2.01   54500          0             0
2017-09-28  2.00  2.01  1.98   1.99   34700          0             0
2017-09-29  1.98  2.00  1.98   2.00   49400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EFR_TO.csv
Getting data for: EFX.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,16.630889,17.087635,16.630889,16.989120,159400,0.0,0
2017-09-26,16.989122,16.989122,16.675671,16.836874,158500,0.0,0
2017-09-27,16.845824,16.872692,16.415947,16.639841,133200,0.0,0
2017-09-28,16.657756,16.801048,16.532374,16.648800,108000,0.0,0
2017-09-29,16.648802,16.729404,16.469686,16.478642,84200,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EFX_TO.csv
Getting data for: EGLX.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-01-02  2.09  2.13  1.98   1.98  202100          0             0
2020-01-03  1.99  1.99  1.94   1.95  272900          0             0
2020-01-06  1.98  1.98  1.83   1.85  180900          0             0
2020-01-07  1.86  1.91  1.85   1.89   86200          0             0
2020-01-08  1.87  1.90  1.80   1.88  146800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EGLX_TO.csv
Getting data for: EGT.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.22  0.22  0.21   0.21  124500          0             0
2017-09-26  0.21  0.21  0.20   0.20  195600          0             0
2017-09-27  0.21  0.22  0.20   0.22  139000          0             0
2017-09-28  0.21  0.22  0.20   0.22  274200          0             0
2017-09-29  0.22  0.22  0.21   0.21   66000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EGT_V.csv
Getting data for: EIF.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,24.723952,25.310001,24.665346,24.936396,96300,0.000,0
2017-09-26,25.053607,25.090235,24.526162,25.090235,66100,0.000,0
2017-09-27,25.112217,25.485825,25.053614,25.258730,81900,0.000,0
2017-09-28,25.328669,25.733633,25.196135,25.586372,134300,0.175,0
2017-09-29,25.741004,26.042886,25.461212,25.718916,221900,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EIF_TO.csv
Getting data for: EIT-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,6.791593,6.887503,6.755627,6.821565,102019,0.0,0.0
2017-09-26,6.815571,6.833554,6.815571,6.833554,78714,0.0,0.0
2017-09-27,6.869519,6.875513,6.827558,6.875513,123196,0.0,0.0
2017-09-28,6.893499,6.929464,6.893499,6.905487,146694,0.0,0.0
2017-09-29,6.971421,6.995399,6.947444,6.965427,248229,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EIT-UN_TO.csv
Getting data for: ELD.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  2.80  2.92  2.79   2.92  1916900          0             0
2017-09-26  2.86  2.87  2.78   2.78  1339400          0             0
2017-09-27  2.75  2.78  2.71   2.77  1131800          0             0
2017-09-28  2.77  2.86  2.75   2.86  1652800          0             0
2017-09-29  2.84  2.84  2.74   2.74  1712600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ELD_TO.csv
Getting data for: ELEF.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,37.500000,40.799999,37.500000,40.799999,1040,0,0.0
2017-09-26,41.400002,43.599998,40.000000,40.799999,710,0,0.0
2017-09-27,40.299999,41.000000,40.000000,40.000000,390,0,0.0
2017-09-28,40.099998,41.400002,40.099998,41.400002,100,0,0.0
2017-09-29,40.400002,40.400002,40.099998,40.099998,410,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ELEF_TO.csv
Getting data for: ELO.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.87  0.87  0.83   0.83    2800          0             0
2017-09-26  0.83  0.85  0.83   0.83   35500          0             0
2017-09-27  0.84  0.86  0.84   0.84   43300          0             0
2017-09-28  0.82  0.84  0.82   0.84   13000          0             0
2017-09-29  0.83  0.83  0.83   0.83     500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ELO_V.csv
Getting data for: ELR.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.31  0.33  0.31   0.33   17500          0             0
2017-09-26  0.33  0.33  0.33   0.33       0          0             0
2017-09-27  0.31  0.32  0.31   0.32    5500          0             0
2017-09-28  0.32  0.32  0.32   0.32       0          0             0
2017-09-29  0.31  0.32  0.31   0.32   26300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ELR_TO.csv
Getting data for: ELY.V
- ELY.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ELY_V.csv
Getting data for: EMA.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,36.823755,37.164130,36.665441,37.116634,449300,0.0,0
2017-09-26,37.156211,37.156211,36.902909,36.966236,460400,0.0,0
2017-09-27,36.918739,37.029558,36.792088,36.958317,400900,0.0,0
2017-09-28,36.974154,37.282865,36.792094,37.187878,566400,0.0,0
2017-09-29,37.338267,37.654895,37.259111,37.409508,596800,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EMA_TO.csv
Getting data for: EMH.V
- EMH.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EMH_V.csv
Getting data for: EMM.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.46  0.46  0.43   0.43   10100          0             0
2017-09-26  0.47  0.47  0.45   0.46   43200          0             0
2017-09-27  0.45  0.46  0.43   0.46   19800          0             0
2017-09-28  0.46  0.46  0.45   0.45   40000          0             0
2017-09-29  0.45  0.46  0.45   0.45   18300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EMM_V.csv
Getting data for: EMN.V

            Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2018-10-02  0.24  0.250  0.205  0.215   798800          0             0
2018-10-03  0.22  0.245  0.215  0.245  1503100          0             0
2018-10-04  0.23  0.235  0.230  0.235   365000          0             0
2018-10-05  0.24  0.240  0.225  0.230   645500          0             0
2018-10-09  0.23  0.230  0.210  0.210   175000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EMN_V.csv
Getting data for: EMP-A.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,20.815979,20.825231,20.593942,20.658703,617300,0.0,0
2017-09-26,20.732711,20.732711,20.399655,20.501423,401500,0.0,0
2017-09-27,20.593938,20.723459,20.279386,20.381153,469400,0.0,0
2017-09-28,20.390405,20.455165,20.233128,20.288637,330400,0.0,0
2017-09-29,20.316395,20.584690,19.890824,20.427414,398000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EMP-A_TO.csv
Getting data for: EMPR.V

            Open  High    Low  Close  Volume  Dividends  Stock Splits
Date
2020-12-29  0.53  0.56  0.370   0.56  368713          0             0
2020-12-30  0.50  0.55  0.475   0.54  231695          0             0
2020-12-31  0.64  0.64  0.530   0.55   79818          0             0
2021-01-04  0.56  0.57  0.530   0.54   74643          0             0
2021-01-05  0.55  0.57  0.530   0.56   90345          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EMPR_V.csv
Getting data for: ENB.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,36.704392,37.059477,36.508731,36.979763,1969900,0.0,0
2017-09-26,37.001509,37.008754,36.697147,36.914547,1909800,0.0,0
2017-09-27,37.059473,37.298615,36.762360,37.298615,2623100,0.0,0
2017-09-28,37.443546,37.631961,37.218901,37.450794,2009500,0.0,0
2017-09-29,37.479784,37.900090,37.407316,37.769650,2477200,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ENB_TO.csv
Getting data for: ENGH.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,24.247661,24.293715,23.939096,24.155552,25000,0.0,0.0
2017-09-26,24.160158,24.362798,24.058839,24.201607,42200,0.0,0.0
2017-09-27,24.312143,24.385830,24.127924,24.224638,71600,0.0,0.0
2017-09-28,24.279905,24.408857,24.072660,24.187796,60400,0.0,0.0
2017-09-29,24.114109,24.233850,23.625931,23.814754,91800,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ENGH_TO.csv
Getting data for: ENW.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.15  1.15  1.14   1.14    9100          0             0
2017-09-26  1.13  1.13  1.10   1.10   34700          0             0
2017-09-27  1.11  1.14  1.11   1.14   22500          0             0
2017-09-28  1.10  1.10  1.09   1.09   37700          0             0
2017-09-29  1.10  1.10  1.10   1.10   50400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ENW_V.csv
Getting data for: EPRX.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-03-09  7.75  7.75  6.75   6.90  218100          0             0
2021-03-10  7.00  7.46  6.76   6.85   41000          0             0
2021-03-11  6.70  7.19  6.70   7.19   24400          0             0
2021-03-12  6.94  7.01  6.80   7.00   22700          0             0
2021-03-15  6.90  7.00  6.76   7.00   38900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EPRX_TO.csv
Getting data for: EQX.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  5.60  5.65  5.45   5.60   30820          0           0.0
2017-09-26  5.50  5.55  5.45   5.50    6500          0           0.0
2017-09-27  5.50  5.50  5.45   5.45    6920          0           0.0
2017-09-28  5.40  5.50  5.20   5.30   30840          0           0.0
2017-09-29  5.25  5.25  5.10   5.10   12840          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EQX_TO.csv
Getting data for: ERD.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.73  0.75  0.73   0.74   75300          0             0
2017-09-26  0.74  0.75  0.72   0.72   58700          0             0
2017-09-27  0.72  0.72  0.68   0.70  189500          0             0
2017-09-28  0.72  0.73  0.70   0.73   28000          0             0
2017-09-29  0.73  0.73  0.71   0.73   32000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ERD_TO.csv
Getting data for: ERE-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-08-23,2.897846,2.972341,2.897846,2.949992,28100,0.0,0
2018-08-24,2.935093,2.979790,2.935093,2.979790,14600,0.0,0
2018-08-27,3.017037,3.046835,2.942542,3.046835,6500,0.0,0
2018-08-28,3.017037,3.046835,2.979789,3.046835,21900,0.0,0
2018-08-29,3.024487,3.031936,3.002139,3.002139,2800,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ERE-UN_TO.csv
Getting data for: ERF.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,11.443624,11.507657,11.233229,11.242377,2617200,0.00,0
2017-09-26,11.169195,11.397884,11.132604,11.260671,1380800,0.00,0
2017-09-27,11.306448,11.443773,11.031797,11.297293,1339800,0.01,0
2017-09-28,11.370532,11.388842,11.095882,11.141657,774500,0.00,0
2017-09-29,11.123348,11.297294,10.986023,11.269829,1191500,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ERF_TO.csv
Getting data for: ERL-H.V
- ERL-H.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ERL-H_V.csv
Getting data for: ERO.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-10-19  4.92  4.95  4.70   4.75  1407100          0             0
2017-10-20  4.75  4.92  4.75   4.90   281800          0             0
2017-10-23  4.97  5.01  4.90   5.01   138400          0             0
2017-10-24  5.05  5.23  5.05   5.12    99000          0             0
2017-10-25  5.20  5.20  5.01   5.05    45000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ERO_TO.csv
Getting data for: ESE.V

             Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-08-17  0.340  0.34  0.28   0.30  140366          0             0
2020-08-18  0.320  0.34  0.30   0.30   69050          0             0
2020-08-19  0.300  0.30  0.25   0.26  172900          0             0
2020-08-20  0.230  0.23  0.21   0.21   65500          0             0
2020-08-21  0.215  0.22  0.21   0.21   45600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ESE_V.csv
Getting data for: ESI.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,4.568081,4.933528,4.555030,4.900899,546200,0.0,0
2017-09-26,4.848692,4.861744,4.770382,4.816063,118400,0.0,0
2017-09-27,4.848693,4.900899,4.744279,4.796486,82500,0.0,0
2017-09-28,4.855218,4.855218,4.672495,4.698598,126200,0.0,0
2017-09-29,4.672494,4.685546,4.594184,4.600710,137000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ESI_TO.csv
Getting data for: ESK.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.31  0.31  0.26   0.28   17600          0             0
2017-09-26  0.26  0.26  0.25   0.25   41500          0             0
2017-09-27  0.28  0.28  0.26   0.26   28500          0             0
2017-09-28  0.28  0.28  0.28   0.28   24400          0             0
2017-09-29  0.28  0.30  0.28   0.30   77000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ESK_V.csv
Getting data for: ESM.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.46  1.49  1.46   1.46   10900          0             0
2017-09-26  1.43  1.46  1.40   1.46   41400          0             0
2017-09-27  1.41  1.47  1.41   1.42   11600          0             0
2017-09-28  1.42  1.45  1.41   1.45   46600          0             0
2017-09-29  1.44  1.44  1.40   1.41   25800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ESM_TO.csv
Getting data for: ESX.V

            Open  High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.75  0.75  0.750   0.75    8900          0           0.0
2017-09-26  0.75  0.75  0.725   0.75    3900          0           0.0
2017-09-27  0.75  0.75  0.750   0.75       0          0           0.0
2017-09-28  0.75  0.75  0.750   0.75       0          0           0.0
2017-09-29  0.75  0.75  0.750   0.75    1000          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ESX_V.csv
Getting data for: ETG.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.55  0.56  0.52   0.53   29500          0             0
2017-09-26  0.53  0.53  0.53   0.53    3000          0             0
2017-09-27  0.51  0.53  0.50   0.51   55100          0             0
2017-09-28  0.52  0.52  0.51   0.51   15500          0             0
2017-09-29  0.51  0.55  0.51   0.55   45600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ETG_TO.csv
Getting data for: ETHC.NE

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-04-19  2.44  2.45  2.00   2.10  782351          0             0
2018-04-20  2.20  2.50  2.17   2.40  299918          0             0
2018-04-23  2.55  2.65  2.40   2.47  512960          0             0
2018-04-24  2.50  2.50  2.40   2.40  166878          0             0
2018-04-25  2.44  2.44  2.32   2.35   85784          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ETHC_NE.csv
Getting data for: ETMC.V
- ETMC.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ETMC_V.csv
Getting data for: ETX.TO
- ETX.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ETX_TO.csv
Getting data for: EU.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.15  0.15  0.15   0.15    4000          0           0.0
2017-09-26  0.15  0.15  0.12   0.12   43167          0           0.0
2017-09-27  0.12  0.12  0.12   0.12   16667          0           0.0
2017-09-28  0.12  0.12  0.12   0.12    3333          0           0.0
2017-09-29  0.12  0.12  0.12   0.12   62333          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EU_V.csv
Getting data for: EVER.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2019-10-04  0.250  0.250  0.210   0.21  234500          0             0
2019-10-07  0.220  0.220  0.175   0.18  359300          0             0
2019-10-08  0.185  0.185  0.180   0.18   25777          0             0
2019-10-09  0.170  0.170  0.170   0.17   23000          0             0
2019-10-10  0.180  0.190  0.180   0.19   17005          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EVER_V.csv
Getting data for: EWS.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.05  0.05  0.05   0.05   21000          0             0
2017-09-26  0.05  0.05  0.05   0.05  148100          0             0
2017-09-27  0.05  0.05  0.05   0.05   95000          0             0
2017-09-28  0.05  0.05  0.05   0.05    1300          0             0
2017-09-29  0.05  0.05  0.05   0.05       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EWS_V.csv
Getting data for: EXE.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,6.659444,6.673889,6.616106,6.666666,127000,0.00,0
2017-09-26,6.688336,6.738896,6.637776,6.717227,168800,0.00,0
2017-09-27,6.717225,6.731670,6.666664,6.681110,346800,0.00,0
2017-09-28,6.695618,6.804431,6.695618,6.797177,208900,0.04,0
2017-09-29,6.811685,6.847956,6.739143,6.768160,249500,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EXE_TO.csv
Getting data for: EXN.TO

             Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   9.65  10.25  9.65  10.10   27060          0           0.0
2017-09-26  10.10  10.20  9.85   9.95   20080          0           0.0
2017-09-27   9.80  10.10  9.55  10.10   42140          0           0.0
2017-09-28   9.95  10.50  9.85  10.40   35380          0           0.0
2017-09-29  10.50  10.65  9.95  10.15   41340          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EXN_TO.csv
Getting data for: EXRO.V
- EXRO.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//EXRO_V.csv
Getting data for: FAF.TO

            Open       High   Low  Close  Volume  Dividends  Stock Splits
Date
2019-03-04  15.5  15.900000  14.7   14.9   45560          0           0.0
2019-03-05  15.1  15.400000  14.7   14.8   38170          0           0.0
2019-03-06  15.3  16.400000  14.7   15.5   85910          0           0.0
2019-03-07  15.6  16.200001  14.8   14.8   66550          0           0.0
2019-03-08  15.0  15.400000  14.9   15.2   17760          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FAF_TO.csv
Getting data for: FAP.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,4.247452,4.256646,4.229065,4.229065,78300,0.0,0
2017-09-26,4.247452,4.247452,4.229065,4.229065,103100,0.0,0
2017-09-27,4.256647,4.275034,4.192291,4.238259,69100,0.0,0
2017-09-28,4.247453,4.265840,4.229065,4.238259,53500,0.0,0
2017-09-29,4.238259,4.247452,4.219872,4.247452,23300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FAP_TO.csv
Getting data for: FCR-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,16.414204,16.479697,16.340524,16.471512,166500,0.000,0
2017-09-26,16.455135,16.520628,16.422388,16.463322,765300,0.000,0
2017-09-27,16.467460,16.558486,16.252307,16.335058,315400,0.215,0
2017-09-28,16.310237,16.343338,16.053709,16.153011,452900,0.000,0
2017-09-29,16.186110,16.285412,16.153010,16.285412,316900,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FCR-UN_TO.csv
Getting data for: FCU.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.69  0.69  0.67   0.67  133800          0             0
2017-09-26  0.67  0.68  0.66   0.66  122800          0             0
2017-09-27  0.66  0.66  0.64   0.64  330100          0             0
2017-09-28  0.64  0.64  0.63   0.64  357100          0             0
2017-09-29  0.63  0.64  0.60   0.64  436000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FCU_TO.csv
Getting data for: FD.V

            Open  High    Low  Close  Volume  Dividends  Stock Splits
Date
2018-06-04  0.65  0.75  0.625   0.75   13400          0           0.0
2018-06-05  0.80  0.90  0.800   0.85    8200          0           0.0
2018-06-06  0.85  0.85  0.850   0.85       0          0           0.0
2018-06-07  0.90  0.95  0.900   0.95    4000          0           0.0
2018-06-08  0.95  0.95  0.950   0.95       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FD_V.csv
Getting data for: FDGE.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-03-03,20.000000,20.500000,19.000000,19.980000,1367700,0,0
2021-03-04,20.000000,21.000000,19.000000,19.020000,288400,0,0
2021-03-05,19.270000,19.500000,18.770000,18.799999,103700,0,0
2021-03-08,19.059999,19.059999,16.309999,16.469999,172600,0,0
2021-03-09,16.480000,17.299999,16.480000,17.250000,51500,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FDGE_TO.csv
Getting data for: FDR.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-03-03  0.37  0.60  0.37   0.60   63275          0             0
2021-03-04  0.55  0.55  0.48   0.50   47019          0             0
2021-03-05  0.50  0.50  0.50   0.50   17000          0             0
2021-03-08  0.50  0.50  0.50   0.50    2000          0             0
2021-03-09  0.49  0.49  0.49   0.49    3000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FDR_V.csv
Getting data for: FEC.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,18.293799,18.423849,18.289463,18.423849,5200,0.0,0.0
2017-09-26,18.215767,18.753309,18.189757,18.753309,12400,0.0,0.0
2017-09-27,18.679616,18.705627,18.675282,18.675282,1600,0.0,0.0
2017-09-28,18.410842,18.835674,18.410842,18.813999,73200,0.0,0.0
2017-09-29,18.640600,18.926712,18.207098,18.879026,73000,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FEC_TO.csv
Getting data for: FF.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  0.63  0.67  0.63  0.660  1123200          0             0
2017-09-26  0.66  0.70  0.65  0.700  1248300          0             0
2017-09-27  0.67  0.68  0.66  0.680   323100          0             0
2017-09-28  0.67  0.68  0.66  0.660   599200          0             0
2017-09-29  0.68  0.68  0.66  0.675   309300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FF_TO.csv
Getting data for: FFH.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,581.488818,582.541964,566.507010,570.398987,44700,0.0,0
2017-09-26,571.928332,581.992574,569.290941,572.541931,44700,0.0,0
2017-09-27,568.714033,579.190266,568.714033,578.439392,103500,0.0,0
2017-09-28,581.571253,583.878984,578.558425,579.840454,38600,0.0,0
2017-09-29,581.140832,596.727074,580.994335,594.630005,61000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FFH_TO.csv
Getting data for: FFN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,5.444931,5.498429,5.438987,5.456820,76293,0.000000,0.0
2017-09-26,5.468708,5.486541,5.456820,5.456820,11731,0.000000,0.0
2017-09-27,5.456818,5.516261,5.444930,5.516261,21344,0.000000,0.0
2017-09-28,5.528279,5.570342,5.504243,5.516261,13847,0.113379,0.0
2017-09-29,5.510252,5.528279,5.492226,5.492226,35809,0.000000,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FFN_TO.csv
Getting data for: FIL.V
- FIL.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FIL_V.csv
Getting data for: FIND.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2018-05-25  0.140  0.145  0.140  0.140   44000          0             0
2018-05-28  0.140  0.140  0.140  0.140   10000          0             0
2018-05-29  0.135  0.135  0.135  0.135    5000          0             0
2018-05-30  0.135  0.135  0.135  0.135       0          0             0
2018-05-31  0.135  0.135  0.135  0.135       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FIND_V.csv
Getting data for: FIRE.TO
- FIRE.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FIRE_TO.csv
Getting data for: FISH.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-01-04  1.00  1.40  1.00   1.20   15500          0             0
2018-01-05  1.39  1.60  1.39   1.60   20500          0             0
2018-01-08  2.17  2.85  2.10   2.73  114100          0             0
2018-01-09  2.31  2.50  2.31   2.32   15000          0             0
2018-01-10  2.30  3.07  1.99   3.07   29500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FISH_V.csv
Getting data for: FL.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.425  0.450  0.425  0.430   34700          0             0
2017-09-26  0.450  0.450  0.430  0.430   83700          0             0
2017-09-27  0.430  0.435  0.415  0.415   44800          0             0
2017-09-28  0.395  0.400  0.380  0.400   97300          0             0
2017-09-29  0.395  0.405  0.370  0.395  134600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FL_V.csv
Getting data for: FLT.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2018-01-02  0.90  0.94  0.90   0.93   323900          0             0
2018-01-03  0.94  0.95  0.90   0.94   478200          0             0
2018-01-04  0.94  0.94  0.88   0.90   481600          0             0
2018-01-05  0.88  0.92  0.88   0.91   338700          0             0
2018-01-08  0.91  1.11  0.91   1.09  1451200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FLT_V.csv
Getting data for: FLWR.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-10-22  4.47  4.80  3.27   3.43  402000          0             0
2018-10-23  3.35  3.82  3.11   3.70  157000          0             0
2018-10-24  3.73  3.76  3.40   3.43   69400          0             0
2018-10-25  3.48  3.82  3.48   3.70   57900          0             0
2018-10-26  3.80  3.80  3.48   3.56   51300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FLWR_V.csv
Getting data for: FLY.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.47  2.51  2.45   2.50   11600          0             0
2017-09-26  2.45  2.46  2.45   2.46    3900          0             0
2017-09-27  2.43  2.51  2.41   2.41   22100          0             0
2017-09-28  2.42  2.47  2.42   2.44   51900          0             0
2017-09-29  2.48  2.49  2.43   2.48   11400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FLY_V.csv
Getting data for: FM.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,13.743928,13.763747,13.416928,13.565564,1955000,0.0,0
2017-09-26,13.486293,13.942111,13.486293,13.634930,2263700,0.0,0
2017-09-27,13.862839,13.862839,13.654748,13.704293,2820100,0.0,0
2017-09-28,13.625023,14.358296,13.496204,13.942114,3937100,0.0,0
2017-09-29,13.961931,14.021385,13.724112,13.882658,2018300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FM_TO.csv
Getting data for: FNV.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,92.167411,93.542341,91.304530,93.494926,599100,0.0,0
2017-09-26,93.039785,93.409592,92.224312,92.366547,422500,0.0,0
2017-09-27,91.693306,92.764804,91.551078,92.527748,375300,0.0,0
2017-09-28,92.404464,93.096671,92.205338,92.755310,295300,0.0,0
2017-09-29,92.755317,93.001857,91.551075,91.655380,414600,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FNV_TO.csv
Getting data for: FOM.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.30  0.30  0.27   0.30   36400          0             0
2017-09-26  0.30  0.30  0.30   0.30       0          0             0
2017-09-27  0.30  0.30  0.30   0.30       0          0             0
2017-09-28  0.30  0.30  0.30   0.30       0          0             0
2017-09-29  0.29  0.29  0.28   0.28    8000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FOM_V.csv
Getting data for: FOOD.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.34  2.63  2.34   2.48  241700          0             0
2017-09-26  2.60  3.00  2.56   2.80  245900          0             0
2017-09-27  3.00  3.10  2.84   2.90  190800          0             0
2017-09-28  2.91  2.91  2.76   2.76   44100          0             0
2017-09-29  2.85  2.86  2.60   2.60   71100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FOOD_TO.csv
Getting data for: FORT.V
- FORT.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FORT_V.csv
Getting data for: FPC.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.11  1.13  1.08   1.08   74600          0             0
2017-09-26  1.08  1.15  1.06   1.15  480100          0             0
2017-09-27  1.12  1.18  1.12   1.15  360200          0             0
2017-09-28  1.14  1.19  1.12   1.18  326600          0             0
2017-09-29  1.19  1.21  1.16   1.20  571800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FPC_V.csv
Getting data for: FPX.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.10  0.10  0.10   0.10       0          0             0
2017-09-26  0.11  0.11  0.11   0.11    1300          0             0
2017-09-27  0.11  0.11  0.11   0.11     500          0             0
2017-09-28  0.11  0.11  0.11   0.11       0          0             0
2017-09-29  0.11  0.11  0.11   0.11    3600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FPX_V.csv
Getting data for: FR.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,8.692253,9.031171,8.642412,8.991299,512200,0.0,0
2017-09-26,8.861710,9.140819,8.722155,8.841773,433600,0.0,0
2017-09-27,8.722157,8.881648,8.722157,8.821839,355100,0.0,0
2017-09-28,8.811870,8.881647,8.502856,8.632442,1061100,0.0,0
2017-09-29,8.672314,8.692251,8.492887,8.492887,539700,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FR_TO.csv
Getting data for: FRI.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.15  0.15  0.15   0.15       0          0           0.0
2017-09-26  0.15  0.15  0.15   0.15       0          0           0.0
2017-09-27  0.15  0.15  0.15   0.15       0          0           0.0
2017-09-28  0.15  0.15  0.15   0.15    4000          0           0.0
2017-09-29  0.15  0.15  0.15   0.15       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FRI_V.csv
Getting data for: FRII.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  9.01  9.01  8.82   8.86    16400          0             0
2017-09-26  6.00  6.00  5.32   5.75  2168300          0             0
2017-09-27  5.85  5.85  5.62   5.70   460200          0             0
2017-09-28  5.77  5.80  5.40   5.44   303300          0             0
2017-09-29  5.38  5.74  5.28   5.61   504300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FRII_TO.csv
Getting data for: FRU.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,10.946133,11.078014,10.924153,11.063361,195800,0.00,0
2017-09-26,11.034053,11.070687,10.865538,11.019400,84700,0.00,0
2017-09-27,11.063361,11.099995,10.909500,11.026728,216300,0.00,0
2017-09-28,11.063485,11.122295,10.997325,11.026730,125900,0.05,0
2017-09-29,11.026728,11.041431,10.828247,10.835598,154300,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FRU_TO.csv
Getting data for: FSV.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,78.539407,80.488349,78.248517,80.226547,57200,0.000,0
2017-09-26,79.780523,80.944074,79.761134,80.430168,26600,0.000,0
2017-09-27,80.430152,81.079805,79.964738,80.963448,53300,0.000,0
2017-09-28,80.383530,81.257793,80.383530,80.985802,18800,0.153,0
2017-09-29,81.063494,81.063494,79.606391,79.645248,27300,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FSV_TO.csv
Getting data for: FSX.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2020-04-14  0.99  1.25  0.91   1.08  7062239          0             0
2020-04-15  1.17  1.17  1.00   1.11  1786548          0             0
2020-04-16  1.12  1.37  1.12   1.34  2019470          0             0
2020-04-17  1.29  1.29  1.18   1.20   988144          0             0
2020-04-20  1.19  1.34  1.15   1.32   688943          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FSX_V.csv
Getting data for: FSY.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.13  0.14  0.12   0.14   15000          0             0
2017-09-26  0.14  0.14  0.14   0.14       0          0             0
2017-09-27  0.12  0.13  0.12   0.13    7800          0             0
2017-09-28  0.13  0.13  0.13   0.13    1500          0             0
2017-09-29  0.13  0.13  0.13   0.13       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FSY_TO.csv
Getting data for: FSZ.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,10.064388,10.077870,9.936308,9.956532,23300,0.0,0
2017-09-26,9.976754,9.976754,9.700371,9.774523,145700,0.0,0
2017-09-27,9.801485,9.801485,9.680146,9.713851,69100,0.0,0
2017-09-28,9.767781,9.895862,9.673407,9.767781,70200,0.0,0
2017-09-29,9.767781,9.788005,9.707111,9.734076,36400,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FSZ_TO.csv
Getting data for: FTG.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  3.64  3.65  3.51   3.55   12900          0             0
2017-09-26  3.56  3.56  3.50   3.50   92900          0             0
2017-09-27  3.50  3.50  3.43   3.43   32600          0             0
2017-09-28  3.51  3.51  3.39   3.39   11200          0             0
2017-09-29  3.45  3.47  3.40   3.45   13100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FTG_TO.csv
Getting data for: FTN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,13.426351,13.426351,13.349188,13.362048,104680,0.000,0.0
2017-09-26,13.362049,13.362049,13.284886,13.336328,82000,0.000,0.0
2017-09-27,13.336322,13.413486,13.336322,13.400624,129720,0.000,0.0
2017-09-28,13.447495,13.473531,13.382406,13.447495,79440,0.315,0.0
2017-09-29,13.460503,13.460503,13.421449,13.460503,25640,0.000,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FTN_TO.csv
Getting data for: FTS.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,37.418868,37.535308,37.302425,37.468769,711100,0.0,0
2017-09-26,37.452140,37.468775,36.894892,36.928162,986800,0.0,0
2017-09-27,37.036276,37.044595,36.603784,36.786762,988900,0.0,0
2017-09-28,36.836663,37.185981,36.728539,37.119446,946700,0.0,0
2017-09-29,37.260833,37.468761,36.928148,37.244198,1605100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FTS_TO.csv
Getting data for: FTT.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,24.326850,24.626336,24.258396,24.266953,412100,0.0,0
2017-09-26,24.292619,24.292619,23.881895,24.172825,363000,0.0,0
2017-09-27,24.207050,24.369628,24.035915,24.309731,361300,0.0,0
2017-09-28,24.275507,24.720457,24.138597,24.592106,440500,0.0,0
2017-09-29,24.634888,24.643444,24.335402,24.412413,404900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FTT_TO.csv
Getting data for: FURY.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-07-10,2.133333,2.133333,2.088889,2.103704,16335,0,0.0
2018-07-11,2.103704,2.133333,2.074074,2.074074,18833,0,0.0
2018-07-12,2.088889,2.207407,2.074074,2.207407,61290,0,0.0
2018-07-13,2.222222,2.222222,2.148148,2.192593,51503,0,0.0
2018-07-16,2.296296,2.296296,2.088889,2.192593,64193,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FURY_TO.csv
Getting data for: FVAN.V
- FVAN.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FVAN_V.csv
Getting data for: FVI.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  5.76  5.91  5.75   5.86  934400          0             0
2017-09-26  5.77  5.85  5.61   5.62  554800          0             0
2017-09-27  5.60  5.63  5.43   5.43  458800          0             0
2017-09-28  5.45  5.57  5.42   5.52  387300          0             0
2017-09-29  5.52  5.55  5.45   5.46  243600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FVI_TO.csv
Getting data for: FVL.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.14  0.14  0.13   0.13   36800          0             0
2017-09-26  0.13  0.13  0.13   0.13       0          0             0
2017-09-27  0.13  0.14  0.12   0.14   80900          0             0
2017-09-28  0.13  0.14  0.13   0.14    2000          0             0
2017-09-29  0.13  0.14  0.13   0.14   30000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FVL_TO.csv
Getting data for: FWZ.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-01-02  1.17  1.27  1.17   1.27   29000          0             0
2018-01-03  1.32  1.34  1.25   1.27   46400          0             0
2018-01-04  1.26  1.29  1.24   1.29   15100          0             0
2018-01-05  1.29  1.29  1.16   1.27   27900          0             0
2018-01-08  1.26  1.26  1.17   1.23  206700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//FWZ_V.csv
Getting data for: G.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-03-29  2.80  2.80  2.69   2.75   11800          0             0
2021-03-30  2.75  2.99  2.63   2.80   86000          0             0
2021-03-31  2.80  2.80  2.61   2.78   53200          0             0
2021-04-01  2.78  2.78  2.58   2.70   24900          0             0
2021-04-05  2.65  2.72  2.61   2.64   18900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//G_TO.csv
Getting data for: GASX.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   4.0  4.00  3.85   3.90   22409          0           0.0
2017-09-26   3.9  4.10  3.80   4.00   72990          0           0.0
2017-09-27   4.0  4.25  4.00   4.15   36119          0           0.0
2017-09-28   4.2  4.50  4.15   4.20   20693          0           0.0
2017-09-29   4.3  4.65  4.20   4.30  126187          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GASX_V.csv
Getting data for: GAU.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.25  1.31  1.23   1.26  938400          0             0
2017-09-26  1.25  1.26  1.23   1.24  232600          0             0
2017-09-27  1.26  1.26  1.18   1.20  459000          0             0
2017-09-28  1.20  1.21  1.17   1.19  308800          0             0
2017-09-29  1.20  1.22  1.18   1.18  399000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GAU_TO.csv
Getting data for: GBAR.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.385  0.385  0.365  0.365   65900          0             0
2017-09-26  0.365  0.365  0.360  0.360   45000          0             0
2017-09-27  0.360  0.360  0.360  0.360  133000          0             0
2017-09-28  0.350  0.360  0.350  0.360   28000          0             0
2017-09-29  0.340  0.355  0.340  0.355   16000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GBAR_TO.csv
Getting data for: GBML.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.15  0.15  0.15   0.15       0          0             0
2017-09-26  0.15  0.15  0.15   0.15       0          0             0
2017-09-27  0.15  0.15  0.15   0.15       0          0             0
2017-09-28  0.15  0.15  0.15   0.15       0          0             0
2017-09-29  0.15  0.15  0.15   0.15       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GBML_V.csv
Getting data for: GBR.V
- GBR.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GBR_V.csv
Getting data for: GBRC.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.465  0.465  0.465  0.465       0          0           0.0
2017-09-26  0.435  0.450  0.435  0.450   13999          0           0.0
2017-09-27  0.450  0.450  0.450  0.450       0          0           0.0
2017-09-28  0.465  0.480  0.465  0.480   16693          0           0.0
2017-09-29  0.510  0.510  0.510  0.510     333          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GBRC_V.csv
Getting data for: GBRR.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2021-04-05  2.50  3.95  2.49   3.42  1002272          0             0
2021-04-06  3.42  3.50  3.08   3.49   393707          0             0
2021-04-07  3.43  3.97  3.30   3.70   193415          0             0
2021-04-08  3.75  4.60  3.60   4.55   288991          0             0
2021-04-09  4.39  4.69  3.82   3.90   193775          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GBRR_V.csv
Getting data for: GBU.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.33  0.35  0.33   0.33   10500          0             0
2017-09-26  0.32  0.35  0.32   0.35   46300          0             0
2017-09-27  0.34  0.35  0.34   0.35   72500          0             0
2017-09-28  0.35  0.36  0.35   0.35  189500          0             0
2017-09-29  0.34  0.35  0.33   0.35   28500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GBU_V.csv
Getting data for: GC.TO
- GC.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GC_TO.csv
Getting data for: GCL.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.88  0.89  0.87   0.89   23300          0             0
2017-09-26  0.89  0.89  0.87   0.87   10600          0             0
2017-09-27  0.87  0.88  0.86   0.86    7300          0             0
2017-09-28  0.87  0.88  0.87   0.88    6700          0             0
2017-09-29  0.88  0.89  0.88   0.89   21900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GCL_TO.csv
Getting data for: GCM.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,2.045001,2.082352,1.998311,2.054338,319800,0.0,0
2017-09-26,2.045000,2.054338,1.923607,1.942283,156400,0.0,0
2017-09-27,1.904932,1.914270,1.848905,1.858242,115000,0.0,0
2017-09-28,1.867580,1.942283,1.867580,1.942283,67700,0.0,0
2017-09-29,1.932945,1.998311,1.914269,1.942283,56300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GCM_TO.csv
Getting data for: GDNP.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.100  0.100  0.090  0.095  523700          0             0
2017-09-26  0.100  0.100  0.100  0.100       0          0             0
2017-09-27  0.100  0.100  0.100  0.100       0          0             0
2017-09-28  0.090  0.090  0.090  0.090   21000          0             0
2017-09-29  0.095  0.095  0.095  0.095   20000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GDNP_V.csv
Getting data for: GEI.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,12.739089,12.977135,12.724661,12.890574,231500,0.00,0
2017-09-26,12.890575,13.070913,12.832867,13.027631,252500,0.00,0
2017-09-27,13.005990,13.063698,12.941068,13.013204,188000,0.00,0
2017-09-28,13.079336,13.101380,12.969117,13.064641,239200,0.33,0
2017-09-29,13.027897,13.071986,12.932374,13.020549,185100,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GEI_TO.csv
Getting data for: GEM.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.20  1.24  1.20   1.24   11650          0           0.0
2017-09-26  1.24  1.24  1.08   1.08   99925          0           0.0
2017-09-27  1.08  1.16  1.00   1.16   71125          0           0.0
2017-09-28  1.16  1.20  1.12   1.16   55550          0           0.0
2017-09-29  1.12  1.16  1.08   1.08   45850          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GEM_V.csv
Getting data for: GENM.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2018-05-09  0.200  0.200  0.200   0.20    5500          0             0
2018-05-10  0.120  0.150  0.105   0.12   45622          0             0
2018-05-11  0.105  0.105  0.100   0.10   34410          0             0
2018-05-14  0.105  0.120  0.100   0.10   11310          0             0
2018-05-15  0.115  0.115  0.080   0.09  326600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GENM_TO.csv
Getting data for: GFL.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-03-03,23.266365,23.903526,22.300665,22.300665,403100,0.0,0
2020-03-04,23.146896,23.843793,22.907961,23.186720,175400,0.0,0
2020-03-05,23.714368,23.714368,22.947783,23.385832,164300,0.0,0
2020-03-06,22.927869,22.997559,21.733190,22.878090,194000,0.0,0
2020-03-09,21.643590,22.121461,20.309532,21.942261,64000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GFL_TO.csv
Getting data for: GGD.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.57  0.58  0.56   0.57   14500          0             0
2017-09-26  0.56  0.58  0.55   0.55   48600          0             0
2017-09-27  0.55  0.55  0.52   0.52   63600          0             0
2017-09-28  0.52  0.53  0.52   0.53   38100          0             0
2017-09-29  0.53  0.54  0.48   0.54   59600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GGD_TO.csv
Getting data for: GGI.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  1.75  1.83  1.63   1.81   587800          0             0
2017-09-26  1.79  2.06  1.61   1.83  1558700          0             0
2017-09-27  1.82  1.84  1.67   1.68   985500          0             0
2017-09-28  1.68  1.93  1.63   1.81  1387900          0             0
2017-09-29  1.82  1.93  1.80   1.89   834400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GGI_V.csv
Getting data for: GIB-A.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,63.180000,63.400002,62.959999,63.230000,344300,0,0
2017-09-26,63.169998,63.820000,62.869999,63.790001,584300,0,0
2017-09-27,63.970001,64.160004,63.599998,64.089996,505200,0,0
2017-09-28,63.880001,64.370003,63.700001,64.250000,375800,0,0
2017-09-29,64.360001,65.029999,64.260002,64.699997,440500,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GIB-A_TO.csv
Getting data for: GIGA.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.23  0.23  0.23   0.23  109600          0             0
2017-09-26  0.25  0.27  0.23   0.27   69400          0             0
2017-09-27  0.27  0.30  0.27   0.29   63500          0             0
2017-09-28  0.29  0.35  0.29   0.35   67000          0             0
2017-09-29  0.32  0.38  0.32   0.38   64500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GIGA_V.csv
Getting data for: GIII.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.75  0.75  0.70   0.70   16200          0             0
2017-09-26  0.75  0.75  0.70   0.70   25700          0             0
2017-09-27  0.70  0.70  0.68   0.70   25000          0             0
2017-09-28  0.70  0.70  0.67   0.67   68200          0             0
2017-09-29  0.69  0.80  0.69   0.80  475400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GIII_V.csv
Getting data for: GIL.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,34.395364,34.577399,34.304345,34.422668,452500,0.0,0
2017-09-26,34.531894,34.850456,34.431778,34.641117,577600,0.0,0
2017-09-27,34.795846,34.932373,34.459084,34.932373,1196600,0.0,0
2017-09-28,34.786736,35.469364,34.750328,35.260025,561200,0.0,0
2017-09-29,35.260033,35.833438,35.260033,35.487576,585500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GIL_TO.csv
Getting data for: GLD.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.19  0.19  0.19   0.19   24400          0             0
2017-09-26  0.19  0.19  0.19   0.19       0          0             0
2017-09-27  0.18  0.18  0.16   0.16  120000          0             0
2017-09-28  0.16  0.16  0.16   0.16       0          0             0
2017-09-29  0.17  0.17  0.17   0.17   33500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GLD_V.csv
Getting data for: GLDC.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.450  1.450  1.350  1.375   45520          0           0.0
2017-09-26  1.450  1.450  1.425  1.425    1800          0           0.0
2017-09-27  1.400  1.400  1.400  1.400    1400          0           0.0
2017-09-28  1.350  1.400  1.325  1.400   13980          0           0.0
2017-09-29  1.375  1.375  1.300  1.325   12840          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GLDC_V.csv
Getting data for: GLDL.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   3.0   3.0  3.0    3.0       0          0           0.0
2017-09-26   3.0   3.0  3.0    3.0       0          0           0.0
2017-09-27   3.0   3.0  3.0    3.0       0          0           0.0
2017-09-28   4.0   4.0  4.0    4.0      25          0           0.0
2017-09-29   4.0   4.0  4.0    4.0       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GLDL_V.csv
Getting data for: GLDX.V
- GLDX.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GLDX_V.csv
Getting data for: GLO.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,0.468320,0.468320,0.468320,0.468320,1815,0,0.0
2017-09-26,0.468320,0.468320,0.468320,0.468320,0,0,0.0
2017-09-27,0.440771,0.440771,0.440771,0.440771,9075,0,0.0
2017-09-28,0.468320,0.468320,0.468320,0.468320,182,0,0.0
2017-09-29,0.440771,0.440771,0.440771,0.440771,3412,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GLO_TO.csv
Getting data for: GLXY.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-07-23  2.20  2.25  2.06   2.25  380300          0             0
2020-07-24  2.22  2.29  2.13   2.19  342800          0             0
2020-07-27  2.35  2.87  2.35   2.58  658400          0             0
2020-07-28  2.65  2.84  2.45   2.52  604100          0             0
2020-07-29  2.55  2.70  2.55   2.58  339400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GLXY_TO.csv
Getting data for: GMA.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.080  0.080  0.075  0.075   83000          0             0
2017-09-26  0.070  0.075  0.070  0.075   52000          0             0
2017-09-27  0.075  0.075  0.075  0.075   88800          0             0
2017-09-28  0.075  0.080  0.075  0.075   76400          0             0
2017-09-29  0.075  0.080  0.075  0.080  158000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GMA_V.csv
Getting data for: GMIN.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2019-10-24  0.150  0.150  0.150  0.150    1000          0             0
2019-10-25  0.150  0.150  0.150  0.150       0          0             0
2019-10-28  0.150  0.150  0.150  0.150       0          0             0
2019-10-29  0.150  0.150  0.150  0.150       0          0             0
2019-10-30  0.165  0.165  0.165  0.165   15000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GMIN_V.csv
Getting data for: GMTN.V
- GMTN.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GMTN_V.csv
Getting data for: GMX.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.49  0.49  0.49   0.49   75500          0             0
2017-09-26  0.47  0.47  0.47   0.47    1000          0             0
2017-09-27  0.48  0.48  0.48   0.48    4300          0             0
2017-09-28  0.48  0.50  0.48   0.48   37000          0             0
2017-09-29  0.47  0.47  0.47   0.47   25000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GMX_TO.csv
Getting data for: GOG.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.04  0.04  0.04   0.04    2100          0             0
2017-09-26  0.04  0.04  0.04   0.04   28000          0             0
2017-09-27  0.04  0.04  0.04   0.04       0          0             0
2017-09-28  0.04  0.04  0.04   0.04    7000          0             0
2017-09-29  0.04  0.04  0.04   0.04       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GOG_V.csv
Getting data for: GOLD.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-07-10  1.00  1.00  0.94   0.97  144600          0             0
2018-07-11  0.93  0.95  0.90   0.92  208100          0             0
2018-07-12  0.88  0.98  0.88   0.93  168400          0             0
2018-07-13  0.93  0.94  0.92   0.94   65200          0             0
2018-07-16  0.95  0.95  0.90   0.93  106600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GOLD_TO.csv
Getting data for: GOOS.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,23.870001,23.940001,23.500000,23.700001,68900,0,0
2017-09-26,23.840000,24.680000,23.730000,24.639999,223000,0,0
2017-09-27,24.740000,25.400000,24.459999,25.330000,260300,0,0
2017-09-28,25.520000,26.120001,24.900000,25.209999,275600,0,0
2017-09-29,25.010000,26.120001,25.000000,25.650000,206300,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GOOS_TO.csv
Getting data for: GPH.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   0.5   0.5  0.5    0.5    3200          0           0.0
2017-09-26   0.5   0.5  0.5    0.5   10950          0           0.0
2017-09-27   0.5   0.5  0.5    0.5       0          0           0.0
2017-09-28   0.5   0.5  0.5    0.5   81180          0           0.0
2017-09-29   0.5   0.5  0.5    0.5   74200          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GPH_V.csv
Getting data for: GPR.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  16.0  16.1  15.7   15.9    5570          0           0.0
2017-09-26  15.9  16.0  15.2   15.5   22200          0           0.0
2017-09-27  15.2  15.6  15.2   15.5    3300          0           0.0
2017-09-28  15.4  15.6  15.0   15.3   20710          0           0.0
2017-09-29  15.3  15.5  15.2   15.5    7680          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GPR_TO.csv
Getting data for: GPV.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-08-07  4.90  4.90  4.69   4.90    7143          0           0.0
2018-08-08  4.90  4.90  4.69   4.76    7714          0           0.0
2018-08-09  4.76  4.90  4.69   4.90    3543          0           0.0
2018-08-10  4.83  4.83  4.55   4.55    3143          0           0.0
2018-08-13  4.48  4.55  4.48   4.55    4943          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GPV_V.csv
Getting data for: GRA.V
- GRA.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GRA_V.csv
Getting data for: GRAM-U.NE

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2021-01-15  13.35  13.67  12.13  12.70   479959          0             0
2021-01-18  12.80  13.17  12.43  12.59    80023          0             0
2021-01-19  12.75  12.91  11.99  12.44   452454          0             0
2021-01-20  12.54  12.54  11.59  11.62   330952          0             0
2021-01-21  11.65  11.98  10.35  11.02  1248812          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GRAM-U_NE.csv
Getting data for: GRAT.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.275  0.275  0.250  0.250   83560          0           0.0
2017-09-26  0.300  0.325  0.275  0.325  166180          0           0.0
2017-09-27  0.325  0.325  0.325  0.325       0          0           0.0
2017-09-28  0.350  0.350  0.325  0.325    8000          0           0.0
2017-09-29  0.300  0.300  0.275  0.275  203780          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GRAT_V.csv
Getting data for: GRB.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.15  1.15  1.15   1.15   20000          0             0
2017-09-26  1.15  1.45  1.15   1.40   24000          0             0
2017-09-27  1.45  1.45  1.30   1.38   11400          0             0
2017-09-28  1.40  1.40  1.40   1.40    5000          0             0
2017-09-29  1.44  1.44  1.40   1.40    4500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GRB_V.csv
Getting data for: GRN.TO

            Open  High    Low  Close  Volume  Dividends  Stock Splits
Date
2019-06-10  0.26  0.30  0.260  0.300  252000          0             0
2019-06-11  0.31  0.33  0.275  0.275   82900          0             0
2019-06-12  0.28  0.29  0.275  0.275   44000          0             0
2019-06-13  0.28  0.28  0.270  0.275   30500          0             0
2019-06-14  0.28  0.28  0.265  0.270   47500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GRN_TO.csv
Getting data for: GRSL.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.23  0.23  0.23   0.23       0          0           0.0
2017-09-26  0.23  0.23  0.23   0.23       0          0           0.0
2017-09-27  0.23  0.23  0.23   0.23       0          0           0.0
2017-09-28  0.23  0.23  0.23   0.23       0          0           0.0
2017-09-29  0.23  0.23  0.23   0.23       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GRSL_V.csv
Getting data for: GRT-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,40.808397,40.969951,40.251038,40.541832,83200,0.000,0
2017-09-26,40.501426,40.961853,40.372183,40.533737,43800,0.000,0
2017-09-27,40.533752,40.606451,40.275267,40.436821,65100,0.000,0
2017-09-28,40.507396,40.880586,40.442492,40.564186,69100,0.217,0
2017-09-29,40.629086,40.840019,40.572294,40.620972,47100,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GRT-UN_TO.csv
Getting data for: GSI.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.13  0.13  0.13   0.13   85000          0             0
2017-09-26  0.13  0.13  0.13   0.13  180900          0             0
2017-09-27  0.13  0.13  0.12   0.12  311000          0             0
2017-09-28  0.13  0.13  0.12   0.13   51500          0             0
2017-09-29  0.13  0.13  0.12   0.13  165000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GSI_V.csv
Getting data for: GSPR.V

             Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-12-04  0.250  0.250  0.22   0.22   64500          0             0
2018-12-05  0.220  0.220  0.22   0.22       0          0             0
2018-12-06  0.230  0.230  0.23   0.23    5000          0             0
2018-12-07  0.235  0.235  0.23   0.23   29000          0             0
2018-12-10  0.230  0.230  0.23   0.23       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GSPR_V.csv
Getting data for: GSV.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.06  2.07  2.02   2.03   48815          0             0
2017-09-26  2.01  2.04  1.90   1.92  206438          0             0
2017-09-27  1.87  1.98  1.81   1.94  143200          0             0
2017-09-28  1.93  2.04  1.92   2.03   74683          0             0
2017-09-29  2.02  2.04  1.99   2.02   94000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GSV_TO.csv
Getting data for: GSY.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,26.403805,26.403805,25.713394,26.085154,19900,0.00,0
2017-09-26,26.279889,26.279889,25.899277,25.916981,18500,0.00,0
2017-09-27,25.784206,25.801909,25.509812,25.669138,18300,0.00,0
2017-09-28,25.678046,26.212449,25.678046,25.695860,11300,0.18,0
2017-09-29,25.695861,26.025408,25.695861,25.847275,7500,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GSY_TO.csv
Getting data for: GTE.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.88  2.92  2.86   2.91  612000          0             0
2017-09-26  2.90  2.97  2.85   2.93  323500          0             0
2017-09-27  2.94  2.94  2.80   2.87  602000          0             0
2017-09-28  2.89  2.91  2.83   2.84  363900          0             0
2017-09-29  2.82  2.90  2.81   2.83  562500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GTE_TO.csv
Getting data for: GTEC.V
- GTEC.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GTEC_V.csv
Getting data for: GTMS.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2018-10-03  19.00  20.35  15.05  15.35  243160          0           0.0
2018-10-04  16.75  18.00  15.00  15.75   40660          0           0.0
2018-10-05  15.60  17.00  15.60  17.00   13080          0           0.0
2018-10-09  17.00  17.65  17.00  17.10   88080          0           0.0
2018-10-10  17.00  17.50  16.75  17.00   20420          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GTMS_TO.csv
Getting data for: GTT.V
- GTT.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GTT_V.csv
Getting data for: GTWO.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.12  0.12  0.12   0.12   44500          0           0.0
2017-09-26  0.14  0.14  0.14   0.14    6000          0           0.0
2017-09-27  0.14  0.14  0.14   0.14       0          0           0.0
2017-09-28  0.14  0.14  0.14   0.14       0          0           0.0
2017-09-29  0.14  0.14  0.14   0.14       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GTWO_V.csv
Getting data for: GUD.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  8.67  8.70  8.55   8.59   64700          0             0
2017-09-26  8.59  8.59  8.51   8.56   55300          0             0
2017-09-27  8.55  8.56  8.47   8.55  215200          0             0
2017-09-28  8.51  8.56  8.49   8.56   91300          0             0
2017-09-29  8.54  8.67  8.53   8.65  483300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GUD_TO.csv
Getting data for: GVC.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.65  0.65  0.65   0.65       0          0             0
2017-09-26  0.65  0.65  0.65   0.65       0          0             0
2017-09-27  0.66  0.66  0.65   0.65    1500          0             0
2017-09-28  0.65  0.66  0.65   0.65   33500          0             0
2017-09-29  0.66  0.66  0.63   0.63   71700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GVC_TO.csv
Getting data for: GWM.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.415  0.450  0.390  0.395  170500          0             0
2017-09-26  0.415  0.415  0.350  0.350  143600          0             0
2017-09-27  0.345  0.370  0.340  0.355  166200          0             0
2017-09-28  0.380  0.380  0.380  0.380    2000          0             0
2017-09-29  0.355  0.395  0.355  0.395    8500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GWM_V.csv
Getting data for: GWO.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,26.871371,27.024094,26.863737,27.001186,285500,0.0,0
2017-09-26,27.016457,27.085182,26.840827,26.894279,388800,0.0,0
2017-09-27,27.016461,27.131000,26.879011,27.123365,511100,0.0,0
2017-09-28,27.092819,27.276086,27.092819,27.115726,345300,0.0,0
2017-09-29,27.138641,27.489900,27.138641,27.421175,777900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GWO_TO.csv
Getting data for: GXE.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,0.767210,0.815768,0.757499,0.786633,367800,0.0,0
2017-09-26,0.815768,0.825480,0.796345,0.806056,611300,0.0,0
2017-09-27,0.835191,0.835191,0.747787,0.786633,1115000,0.0,0
2017-09-28,0.786634,0.786634,0.757499,0.767210,365800,0.0,0
2017-09-29,0.776922,0.806057,0.776922,0.796345,251300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//GXE_TO.csv
Getting data for: H.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,18.700265,18.749825,18.683746,18.733305,390100,0.0,0
2017-09-26,18.741562,18.848940,18.725042,18.774601,712600,0.0,0
2017-09-27,18.782864,18.824164,18.683746,18.782864,627000,0.0,0
2017-09-28,18.791128,18.931545,18.786998,18.857206,465000,0.0,0
2017-09-29,18.758084,18.832423,18.605278,18.766344,946800,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//H_TO.csv
Getting data for: HAI.TO

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2020-12-16   7.00   8.24   6.30   7.77  1387800          0             0
2020-12-17   8.25  10.49   8.00  10.35   830300          0             0
2020-12-18  11.00  12.84  10.56  11.90   622200          0             0
2020-12-21  12.19  12.19  10.80  11.60   354400          0             0
2020-12-22  11.65  11.77  10.50  10.80   169300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HAI_TO.csv
Getting data for: HAN.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.30  0.30  0.30   0.30   22500          0             0
2017-09-26  0.30  0.30  0.27   0.28   26000          0             0
2017-09-27  0.27  0.29  0.27   0.29   60000          0             0
2017-09-28  0.30  0.32  0.30   0.32   17000          0             0
2017-09-29  0.29  0.32  0.29   0.32   11000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HAN_V.csv
Getting data for: HAPB.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-10-30  0.50  0.87  0.50   0.71  942170          0             0
2020-11-02  0.68  0.68  0.55   0.60  424535          0             0
2020-11-03  0.59  0.59  0.50   0.53  690436          0             0
2020-11-04  0.58  0.58  0.53   0.53   48560          0             0
2020-11-05  0.53  0.57  0.53   0.57   24333          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HAPB_V.csv
Getting data for: HAR.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,0.581958,0.581958,0.560404,0.560404,5103,0,0.0
2017-09-26,0.560404,0.560404,0.560404,0.560404,0,0,0.0
2017-09-27,0.560404,0.560404,0.560404,0.560404,13918,0,0.0
2017-09-28,0.538850,0.538850,0.538850,0.538850,9279,0,0.0
2017-09-29,0.538850,0.538850,0.538850,0.538850,0,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HAR_V.csv
Getting data for: HBM.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,8.944581,8.983941,8.728100,8.757620,1992500,0.0,0
2017-09-26,8.718261,8.875702,8.560821,8.590341,1875100,0.0,0
2017-09-27,8.669061,8.806821,8.472260,8.688741,1878800,0.0,0
2017-09-28,8.718261,9.200423,8.688742,9.200423,2921400,0.0,0
2017-09-29,9.200424,9.338183,9.082343,9.102023,2852900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HBM_TO.csv
Getting data for: HCG.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,13.742647,13.900383,13.713072,13.801798,294400,0.0,0
2017-09-26,13.851091,13.851091,13.594772,13.634206,205500,0.0,0
2017-09-27,13.801798,13.890524,13.653922,13.811657,215500,0.0,0
2017-09-28,13.801798,13.939817,13.683497,13.722931,296000,0.0,0
2017-09-29,13.673638,13.811657,13.673638,13.693356,210300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HCG_TO.csv
Getting data for: HELX.V
- HELX.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HELX_V.csv
Getting data for: HEM.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   2.2   2.2  1.5    1.6   30940          0           0.0
2017-09-26   1.8   1.8  1.6    1.8   14740          0           0.0
2017-09-27   1.9   2.0  1.9    2.0    2350          0           0.0
2017-09-28   2.0   2.0  1.8    1.8     900          0           0.0
2017-09-29   1.8   2.2  1.8    2.2    1395          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HEM_V.csv
Getting data for: HEO.V
- HEO.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HEO_V.csv
Getting data for: HEXO.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  6.36   7.0  6.36    7.0  101350          0           0.0
2017-09-26  7.00   7.0  6.84    7.0   58925          0           0.0
2017-09-27  7.00   7.0  6.88    7.0   27825          0           0.0
2017-09-28  7.00   7.0  6.88    7.0   19500          0           0.0
2017-09-29  6.96   7.2  6.88    7.2   34950          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HEXO_TO.csv
Getting data for: HIRE.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2019-01-25   0.4   0.4  0.4    0.4     375          0           0.0
2019-01-28   0.4   0.4  0.4    0.4       0          0           0.0
2019-01-29   0.4   0.4  0.4    0.4    2250          0           0.0
2019-01-30   0.4   0.4  0.4    0.4       0          0           0.0
2019-01-31   0.4   0.4  0.4    0.4       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HIRE_V.csv
Getting data for: HITI.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-12-18,6.224968,6.299968,5.099974,5.249973,56970,0,0.0
2018-12-19,5.249973,5.924970,4.499977,5.099974,26942,0,0.0
2018-12-20,5.324973,5.324973,4.574977,5.099974,7402,0,0.0
2018-12-21,5.249973,5.249973,4.649976,4.949975,5714,0,0.0
2018-12-24,5.174974,5.174974,4.499977,4.499977,3972,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HITI_V.csv
Getting data for: HIVE.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  46.25  50.00  44.50  44.75   72372          0           0.0
2017-09-26  47.00  47.00  41.00  41.75   80828          0           0.0
2017-09-27  42.75  47.00  42.25  47.00   60064          0           0.0
2017-09-28  48.25  51.50  46.75  51.25   92332          0           0.0
2017-09-29  51.50  52.25  49.00  50.75   68412          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HIVE_V.csv
Getting data for: HLS.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-03-14,11.269488,11.269488,10.982975,10.982975,10800,0.0,0
2018-03-15,11.355440,11.355440,10.982974,11.068928,26000,0.0,0
2018-03-16,10.982975,10.982975,10.982975,10.982975,25000,0.0,0
2018-03-19,10.982975,10.982975,10.982975,10.982975,0,0.0,0
2018-03-20,11.221735,11.221735,10.982975,10.982975,700,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HLS_TO.csv
Getting data for: HME.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,0.262249,0.262249,0.242823,0.262249,46600,0.0,0
2017-09-26,0.252536,0.262249,0.223397,0.223397,154000,0.0,0
2017-09-27,0.242823,0.262249,0.242823,0.262249,87000,0.0,0
2017-09-28,0.252536,0.271962,0.252536,0.271962,150500,0.0,0
2017-09-29,0.271962,0.271962,0.262249,0.271962,16000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HME_V.csv
Getting data for: HOC.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-01-02,0.250000,0.250000,0.250000,0.250000,315,0.0,0.0
2018-01-03,0.250000,0.250000,0.250000,0.250000,0,0.0,0.0
2018-01-04,0.220588,0.220588,0.220588,0.220588,150,0.0,0.0
2018-01-05,0.205882,0.250000,0.205882,0.250000,600,0.0,0.0
2018-01-08,0.279412,0.279412,0.279412,0.279412,120,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HOC_V.csv
Getting data for: HOT-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,6.819349,6.883280,6.769624,6.861969,266200,0.000,0
2017-09-26,6.890387,6.890387,6.762525,6.769628,169300,0.000,0
2017-09-27,6.805144,6.805144,6.712798,6.741212,147000,0.000,0
2017-09-28,6.774833,6.796295,6.696139,6.731909,124500,0.067,0
2017-09-29,6.746219,6.839221,6.746219,6.796297,120800,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HOT-UN_TO.csv
Getting data for: HPQ.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.11  0.11  0.11   0.11   26000          0             0
2017-09-26  0.11  0.11  0.11   0.11   61000          0             0
2017-09-27  0.11  0.11  0.10   0.10  101500          0             0
2017-09-28  0.11  0.11  0.10   0.10  521100          0             0
2017-09-29  0.11  0.11  0.10   0.10  260000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HPQ_V.csv
Getting data for: HR-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,16.414605,16.545798,16.399171,16.453192,402405,0.0,0.0
2017-09-26,16.445480,16.553521,16.430045,16.460915,259740,0.0,0.0
2017-09-27,16.484060,16.484060,16.406889,16.414606,248773,0.0,0.0
2017-09-28,16.430038,16.522644,16.422321,16.514927,357287,0.0,0.0
2017-09-29,16.538082,16.761884,16.538082,16.622972,508994,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HR-UN_TO.csv
Getting data for: HRX.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  12.80  13.06  12.79  13.06    4000          0             0
2017-09-26  13.06  13.06  13.03  13.03     500          0             0
2017-09-27  12.98  13.14  12.71  12.79   21000          0             0
2017-09-28  12.71  12.72  12.50  12.62    5200          0             0
2017-09-29  12.97  12.97  12.73  12.97    6400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HRX_TO.csv
Getting data for: HSTR.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.08  0.08  0.07   0.08  307400          0             0
2017-09-26  0.08  0.08  0.07   0.08  185000          0             0
2017-09-27  0.08  0.08  0.08   0.08  152000          0             0
2017-09-28  0.08  0.08  0.08   0.08  201200          0             0
2017-09-29  0.08  0.08  0.08   0.08  184000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HSTR_V.csv
Getting data for: HTL.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.75  0.76  0.74   0.76   38000          0             0
2017-09-26  0.77  0.78  0.77   0.77   43000          0             0
2017-09-27  0.75  0.75  0.74   0.74   23500          0             0
2017-09-28  0.74  0.74  0.73   0.73   19700          0             0
2017-09-29  0.73  0.75  0.73   0.73  111500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HTL_V.csv
Getting data for: HTR.V
- HTR.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HTR_V.csv
Getting data for: HULK.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2021-01-28  0.75  0.85  0.60   0.75  1215987          0             0
2021-01-29  0.71  0.72  0.65   0.67   473634          0             0
2021-02-01  0.69  0.73  0.65   0.68   452131          0             0
2021-02-02  0.70  0.89  0.70   0.89   417208          0             0
2021-02-03  0.98  1.65  0.92   1.40  1282716          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HULK_V.csv
Getting data for: HUT.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2018-03-06  4.70  4.70  3.32   4.00  2088300          0             0
2018-03-07  4.40  4.85  4.30   4.58   833800          0             0
2018-03-08  4.75  5.00  4.30   4.70   745200          0             0
2018-03-09  4.54  4.66  4.40   4.51   234500          0             0
2018-03-12  4.73  4.73  4.25   4.29   173500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HUT_TO.csv
Getting data for: HVT.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  0.75  0.75  0.73   0.75   230655          0             0
2017-09-26  0.75  0.80  0.74   0.80   543124          0             0
2017-09-27  0.80  0.80  0.76   0.76   235081          0             0
2017-09-28  0.76  0.78  0.73   0.75   134906          0             0
2017-09-29  0.77  0.86  0.77   0.80  1050409          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HVT_V.csv
Getting data for: HWX.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.61  0.62  0.60   0.61   24000          0             0
2017-09-26  0.61  0.61  0.60   0.61   37000          0             0
2017-09-27  0.60  0.62  0.60   0.61   12500          0             0
2017-09-28  0.61  0.61  0.61   0.61    8100          0             0
2017-09-29  0.61  0.61  0.60   0.60   39000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//HWX_TO.csv
Getting data for: IAG.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,45.281050,45.901571,45.221548,45.867569,123900,0.0,0
2017-09-26,45.910078,46.054585,45.459564,45.995083,134800,0.0,0
2017-09-27,46.258584,47.669635,46.139580,47.610130,230300,0.0,0
2017-09-28,47.567633,47.686637,47.363628,47.601635,115300,0.0,0
2017-09-29,47.601627,48.077645,47.567625,48.026642,194400,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IAG_TO.csv
Getting data for: IBG.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  7.02  7.25  6.77   7.25   22600          0             0
2017-09-26  7.25  7.38  7.24   7.35   32900          0             0
2017-09-27  7.31  7.31  7.22   7.26    7100          0             0
2017-09-28  7.32  7.38  7.28   7.38   22200          0             0
2017-09-29  7.26  7.39  7.25   7.39   18000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IBG_TO.csv
Getting data for: IFC-R.TO
- IFC-R.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IFC-R_TO.csv
Getting data for: IFC.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,90.130126,91.504740,90.059183,90.635628,239300,0.0,0
2017-09-26,90.635614,91.265281,90.236536,90.724304,155300,0.0,0
2017-09-27,90.901674,91.424910,90.573539,91.247543,236500,0.0,0
2017-09-28,91.327368,92.524608,90.999232,92.054581,176100,0.0,0
2017-09-29,92.098919,92.223077,91.336232,91.407181,217800,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IFC_TO.csv
Getting data for: IFP.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,18.565248,18.687325,18.302310,18.537075,242500,0.0,0
2017-09-26,18.546465,18.696715,18.377434,18.546465,270800,0.0,0
2017-09-27,18.612200,18.762449,18.532380,18.706106,268100,0.0,0
2017-09-28,18.668543,18.865747,18.471341,18.649763,268000,0.0,0
2017-09-29,18.640372,18.837574,18.236576,18.574638,978700,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IFP_TO.csv
Getting data for: IGM.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,30.993310,31.206349,30.963928,31.044733,83500,0.000,0
2017-09-26,31.059423,31.088808,30.868425,31.066771,162500,0.000,0
2017-09-27,31.147566,31.221026,30.919835,30.949221,192000,0.000,0
2017-09-28,30.899339,31.286512,30.891895,31.226946,120000,0.563,0
2017-09-29,31.234393,31.316295,31.174827,31.226946,165500,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IGM_TO.csv
Getting data for: IGX.V
- IGX.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IGX_V.csv
Getting data for: III.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  3.35  3.45  3.34   3.45    1900          0             0
2017-09-26  3.40  3.41  3.20   3.25   89000          0             0
2017-09-27  3.23  3.26  3.07   3.15   38100          0             0
2017-09-28  3.16  3.29  3.00   3.20   51200          0             0
2017-09-29  3.20  3.25  3.14   3.20   33800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//III_TO.csv
Getting data for: IIP-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,7.150784,7.204281,7.106203,7.150784,24200,0.00,0
2017-09-26,7.159703,7.159703,7.106205,7.106205,15600,0.00,0
2017-09-27,7.106206,7.132955,7.061625,7.097290,37900,0.00,0
2017-09-28,7.106227,7.150920,7.079411,7.133043,66300,0.02,0
2017-09-29,7.133043,7.195613,7.106227,7.195613,74800,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IIP-UN_TO.csv
Getting data for: IMG.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  7.77  8.06  7.71   8.04  1985700          0             0
2017-09-26  7.91  8.09  7.88   7.90  1293100          0             0
2017-09-27  7.79  8.00  7.72   7.96   997200          0             0
2017-09-28  7.96  8.35  7.95   8.29  1614200          0             0
2017-09-29  8.28  8.29  7.62   7.63  2915200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IMG_TO.csv
Getting data for: IMIN.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.36  0.36  0.36   0.36       0          0           0.0
2017-09-26  0.36  0.36  0.36   0.36       0          0           0.0
2017-09-27  0.36  0.36  0.36   0.36       0          0           0.0
2017-09-28  0.36  0.36  0.36   0.36    1667          0           0.0
2017-09-29  0.36  0.36  0.36   0.36       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IMIN_V.csv
Getting data for: IMO.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,34.429219,34.868368,34.306258,34.736622,586500,0.0,0
2017-09-26,34.543385,34.754174,34.235979,34.543385,606400,0.0,0
2017-09-27,34.569748,35.052810,34.525834,35.035244,422800,0.0,0
2017-09-28,35.079157,35.184555,34.727840,34.727840,571900,0.0,0
2017-09-29,34.727834,35.219677,34.622436,35.008888,574500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IMO_TO.csv
Getting data for: IMV.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.653846,3.685897,3.653846,3.653846,11014,0,0.0
2017-09-26,3.653846,3.653846,3.493590,3.557692,81619,0,0.0
2017-09-27,3.525641,3.589744,3.461538,3.493590,31294,0,0.0
2017-09-28,3.589744,3.653846,3.365385,3.589744,38813,0,0.0
2017-09-29,3.589744,3.589744,3.461538,3.525641,8299,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IMV_TO.csv
Getting data for: INE.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,11.650597,11.796534,11.626274,11.772211,94300,0.000,0
2017-09-26,11.755994,11.780316,11.650595,11.707348,145600,0.000,0
2017-09-27,11.707349,11.731673,11.634382,11.666812,93400,0.000,0
2017-09-28,11.711922,11.892358,11.687317,11.834947,99400,0.165,0
2017-09-29,11.859549,11.867751,11.720121,11.785734,133700,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//INE_TO.csv
Getting data for: INEO.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-02-02,0.080955,0.080955,0.080955,0.080955,2594,0,0.0
2018-02-05,0.080955,0.080955,0.080955,0.080955,0,0,0.0
2018-02-06,0.080955,0.080955,0.080955,0.080955,0,0,0.0
2018-02-07,0.080955,0.080955,0.080955,0.080955,0,0,0.0
2018-02-08,0.080955,0.080955,0.080955,0.080955,0,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//INEO_V.csv
Getting data for: INO-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,6.256516,6.293573,6.256516,6.293573,21000,0.000,0
2017-09-26,6.281219,6.312100,6.268866,6.299747,34400,0.000,0
2017-09-27,6.299750,6.299750,6.237988,6.275045,20200,0.000,0
2017-09-28,6.286859,6.355263,6.286859,6.336607,15400,0.069,0
2017-09-29,6.330389,6.330389,6.299297,6.317952,21800,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//INO-UN_TO.csv
Getting data for: INV.TO
- INV.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//INV_TO.csv
Getting data for: ION.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2020-08-31  0.450  0.500  0.330   0.36  143500          0             0
2020-09-01  0.385  0.385  0.315   0.35   31750          0             0
2020-09-02  0.300  0.350  0.300   0.32  148450          0             0
2020-09-03  0.340  0.345  0.320   0.34   24000          0             0
2020-09-04  0.340  0.340  0.320   0.33   51100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ION_V.csv
Getting data for: IPA.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  5.35  5.35  5.00   5.00   13680          0           0.0
2017-09-26  5.05  5.10  4.70   4.90   41560          0           0.0
2017-09-27  4.75  4.75  4.50   4.55   28960          0           0.0
2017-09-28  4.65  4.90  4.55   4.55    5500          0           0.0
2017-09-29  4.65  4.65  4.50   4.65   11740          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IPA_V.csv
Getting data for: IPCI.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  10.5  14.1  10.5   12.6   10630          0           0.0
2017-09-26  15.0  15.0  12.5   13.1    4510          0           0.0
2017-09-27  13.1  14.3  13.1   13.9    1540          0           0.0
2017-09-28  14.7  14.7  13.4   13.6    1080          0           0.0
2017-09-29  13.4  13.4  12.3   12.8    1870          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IPCI_TO.csv
Getting data for: IPCO.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  5.20  5.44  5.00   5.35   16900          0             0
2017-09-26  5.42  5.42  5.15   5.15   23900          0             0
2017-09-27  5.15  5.15  5.15   5.15     500          0             0
2017-09-28  5.46  5.46  5.39   5.39     800          0             0
2017-09-29  5.35  5.49  5.35   5.49     600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IPCO_TO.csv
Getting data for: IPL.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,2265.983165,2305.323150,2249.321524,2303.009033,1317390,0.0,0
2017-09-26,2307.637366,2317.819481,2296.529605,2310.414307,1267869,0.0,0
2017-09-27,2328.927554,2361.325195,2321.985203,2361.325195,2567499,0.0,0
2017-09-28,2365.952957,2424.268699,2360.399077,2416.863525,2551226,0.0,0
2017-09-29,2417.789831,2420.566772,2391.871716,2392.797363,1341020,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IPL_TO.csv
Getting data for: IPO.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.48  1.58  1.48   1.57   87100          0             0
2017-09-26  1.60  1.76  1.59   1.65  115200          0             0
2017-09-27  1.65  1.77  1.65   1.67   87300          0             0
2017-09-28  1.67  1.75  1.67   1.70   14000          0             0
2017-09-29  1.70  1.74  1.64   1.68   61100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IPO_TO.csv
Getting data for: IPT.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.33  0.33  0.32   0.33  159400          0             0
2017-09-26  0.32  0.33  0.32   0.33   97400          0             0
2017-09-27  0.32  0.32  0.31   0.31  287500          0             0
2017-09-28  0.32  0.33  0.32   0.33  130000          0             0
2017-09-29  0.32  0.34  0.32   0.34  173100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IPT_V.csv
Getting data for: IQ.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.15  0.15  0.15   0.15       0          0             0
2017-09-26  0.15  0.15  0.15   0.15    1000          0             0
2017-09-27  0.15  0.15  0.15   0.15   89000          0             0
2017-09-28  0.15  0.15  0.15   0.15       0          0             0
2017-09-29  0.15  0.15  0.15   0.15       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IQ_V.csv
Getting data for: ISO.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.62  0.62  0.62   0.62       0          0             0
2017-09-26  0.62  0.62  0.62   0.62       0          0             0
2017-09-27  0.62  0.62  0.62   0.62       0          0             0
2017-09-28  0.62  0.62  0.62   0.62       0          0             0
2017-09-29  0.62  0.62  0.62   0.62       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ISO_V.csv
Getting data for: ITM.V
- ITM.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ITM_V.csv
Getting data for: ITP.TO
- ITP.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ITP_TO.csv
Getting data for: ITR.V

            Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-11-08  3.00  3.000  2.750  2.750   30000          0           0.0
2017-11-09  2.75  2.750  2.650  2.750   13200          0           0.0
2017-11-10  2.65  2.750  2.625  2.625   77800          0           0.0
2017-11-13  2.75  2.875  2.750  2.875    1000          0           0.0
2017-11-14  2.85  2.850  2.750  2.750    2160          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ITR_V.csv
Getting data for: IVN.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  4.13  4.13  3.93   3.96  1946400          0             0
2017-09-26  4.00  4.06  3.98   4.04  1217000          0             0
2017-09-27  4.02  4.08  3.98   4.08   926200          0             0
2017-09-28  4.07  4.19  4.01   4.14  1086300          0             0
2017-09-29  4.15  4.15  3.96   3.97  1722500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//IVN_TO.csv
Getting data for: JAG.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.176075,3.176075,2.994585,3.085330,23030,0.0,0.0
2017-09-26,3.176075,3.176075,2.994585,2.994585,18720,0.0,0.0
2017-09-27,2.903840,2.903840,2.631605,2.722350,199150,0.0,0.0
2017-09-28,2.813095,2.994585,2.813095,2.994585,18580,0.0,0.0
2017-09-29,2.994585,3.085330,2.903840,2.994585,15250,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//JAG_TO.csv
Getting data for: JE.TO
- JE.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//JE_TO.csv
Getting data for: JEV.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-07-10  0.75  0.76  0.70   0.76   42500          0             0
2018-07-11  0.78  0.82  0.76   0.80  112800          0             0
2018-07-12  0.80  0.80  0.77   0.79   10000          0             0
2018-07-13  0.78  0.80  0.77   0.80   31200          0             0
2018-07-16  0.82  0.82  0.72   0.72   39300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//JEV_V.csv
Getting data for: JNH.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2019-08-29  0.315  0.315  0.315  0.315    3333          0           0.0
2019-08-30  0.315  0.315  0.315  0.315       0          0           0.0
2019-09-03  0.315  0.315  0.315  0.315       0          0           0.0
2019-09-04  0.315  0.315  0.315  0.315       0          0           0.0
2019-09-05  0.315  0.315  0.315  0.315       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//JNH_V.csv
Getting data for: JOSE.TO
- JOSE.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//JOSE_TO.csv
Getting data for: JOY.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  1.78  1.86  1.78   1.80    28000          0             0
2017-09-26  1.81  1.84  1.72   1.84    15300          0             0
2017-09-27  1.84  1.84  1.70   1.82  1786100          0             0
2017-09-28  1.81  1.97  1.81   1.92    24200          0             0
2017-09-29  1.89  2.09  1.89   2.09    33800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//JOY_TO.csv
Getting data for: JRV.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2019-06-24  0.195  0.195  0.155  0.155    3000          0             0
2019-06-25  0.155  0.155  0.155  0.155       0          0             0
2019-06-26  0.155  0.155  0.155  0.155       0          0             0
2019-06-27  0.155  0.155  0.155  0.155       0          0             0
2019-06-28  0.180  0.190  0.165  0.190   11007          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//JRV_V.csv
Getting data for: JUGR.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   4.6   5.0  4.6    5.0    2600          0           0.0
2017-09-26   4.9   4.9  4.5    4.5   16950          0           0.0
2017-09-27   4.6   4.6  4.6    4.6     100          0           0.0
2017-09-28   4.7   4.9  4.2    4.2    8100          0           0.0
2017-09-29   4.8   4.8  4.4    4.7    6250          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//JUGR_V.csv
Getting data for: JUMP.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2020-12-14  0.470  0.470  0.400  0.400  350211          0             0
2020-12-15  0.445  0.445  0.400  0.400  253520          0             0
2020-12-16  0.400  0.400  0.300  0.335  256750          0             0
2020-12-17  0.360  0.370  0.345  0.360  218000          0             0
2020-12-18  0.355  0.400  0.355  0.390  179451          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//JUMP_V.csv
Getting data for: JWEL.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,17.645639,18.015181,17.599446,17.645639,102000,0.0,0
2017-09-26,17.562486,17.738019,17.507055,17.553247,75700,0.0,0
2017-09-27,17.774974,18.283096,17.774974,18.015177,67900,0.0,0
2017-09-28,17.932031,18.440150,17.932031,18.421675,13100,0.0,0
2017-09-29,18.430914,18.477106,18.310811,18.384720,40100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//JWEL_TO.csv
Getting data for: K.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,4.990207,5.142870,4.932958,5.142870,4431200,0.0,0
2017-09-26,5.028372,5.123787,5.028372,5.037914,2431000,0.0,0
2017-09-27,4.990206,5.028372,4.942498,5.009289,1858500,0.0,0
2017-09-28,5.009288,5.095162,4.990205,5.085620,2002800,0.0,0
2017-09-29,5.104704,5.133329,5.047455,5.047455,1861900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//K_TO.csv
Getting data for: KC.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.45  0.45  0.45   0.45       0          0             0
2017-09-26  0.45  0.45  0.45   0.45       0          0             0
2017-09-27  0.45  0.45  0.45   0.45       0          0             0
2017-09-28  0.45  0.45  0.45   0.45       0          0             0
2017-09-29  0.45  0.45  0.45   0.45       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KC_V.csv
Getting data for: KCC.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.05  1.11  1.05   1.11    5200          0           0.0
2017-09-26  1.11  1.11  1.02   1.02   13700          0           0.0
2017-09-27  0.99  1.02  0.99   1.02     867          0           0.0
2017-09-28  1.05  1.05  1.05   1.05    3500          0           0.0
2017-09-29  1.02  1.05  1.02   1.05   20267          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KCC_V.csv
Getting data for: KDK.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.95  0.95  0.95   0.95       0          0           0.0
2017-09-26  0.95  0.95  0.95   0.95    2500          0           0.0
2017-09-27  0.95  0.95  0.90   0.90    2100          0           0.0
2017-09-28  0.95  1.05  0.95   1.00   14000          0           0.0
2017-09-29  1.00  1.00  0.95   0.95    1300          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KDK_V.csv
Getting data for: KEL.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  6.90  7.04  6.86   6.91   918800          0             0
2017-09-26  6.85  7.03  6.76   7.01   727500          0             0
2017-09-27  7.03  7.21  6.95   7.12  1013700          0             0
2017-09-28  7.15  7.21  7.03   7.06   479000          0             0
2017-09-29  7.02  7.17  6.99   7.13   808700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KEL_TO.csv
Getting data for: KEON-H.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   6.6   6.6  6.6    6.6     283          0           0.0
2017-09-26   7.2   7.2  7.2    7.2     100          0           0.0
2017-09-27   7.2   7.2  7.2    7.2       0          0           0.0
2017-09-28   7.2   7.2  7.2    7.2       0          0           0.0
2017-09-29   7.2   7.2  7.2    7.2       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KEON-H_V.csv
Getting data for: KEY.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,28.211519,28.551764,28.175321,28.428698,364000,0.0,0
2017-09-26,28.370788,28.443183,28.110176,28.168089,351500,0.0,0
2017-09-27,28.204292,28.211533,27.987114,28.037788,407200,0.0,0
2017-09-28,28.030552,28.168098,27.907483,28.052269,398600,0.0,0
2017-09-29,28.059504,28.102940,27.559993,27.610668,507300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KEY_TO.csv
Getting data for: KFR.V

             Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-03-18  0.465  0.50  0.40  0.490  464860          0             0
2021-03-19  0.500  0.67  0.50  0.540  157886          0             0
2021-03-22  0.495  0.54  0.45  0.485  717495          0             0
2021-03-23  0.490  0.52  0.44  0.450  241877          0             0
2021-03-24  0.500  0.54  0.48  0.530  143491          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KFR_V.csv
Getting data for: KHRN.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2018-05-24  1.15  1.21  1.02   1.18  2864300          0             0
2018-05-25  1.20  1.28  1.20   1.23   496600          0             0
2018-05-28  1.22  1.22  1.05   1.11   962800          0             0
2018-05-29  1.13  1.15  1.08   1.11   452100          0             0
2018-05-30  1.13  1.19  1.05   1.13   598300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KHRN_V.csv
Getting data for: KITS.TO

            Open   High   Low  Close   Volume  Dividends  Stock Splits
Date
2021-01-19  9.00  10.20  8.92   9.07  1574700          0             0
2021-01-20  9.30   9.30  9.00   9.21   223800          0             0
2021-01-21  9.18   9.18  8.39   8.50   251700          0             0
2021-01-22  8.51   8.52  8.34   8.39   167800          0             0
2021-01-25  8.50   8.50  8.34   8.45    30800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KITS_TO.csv
Getting data for: KL.TO
- KL.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KL_TO.csv
Getting data for: KLD.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-01-13  1.75  1.75  1.10   1.15  144539          0             0
2021-01-14  1.15  1.32  1.15   1.20  133521          0             0
2021-01-15  1.20  1.25  1.18   1.18   44440          0             0
2021-01-18  1.17  1.18  1.05   1.10  113373          0             0
2021-01-19  1.15  1.15  1.09   1.11   25900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KLD_V.csv
Getting data for: KLS.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.63  0.64  0.62   0.62   17100          0             0
2017-09-26  0.62  0.62  0.55   0.58  119100          0             0
2017-09-27  0.60  0.60  0.45   0.48  234200          0             0
2017-09-28  0.53  0.53  0.47   0.48  148000          0             0
2017-09-29  0.48  0.53  0.48   0.48  150900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KLS_TO.csv
Getting data for: KMP-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,10.971725,11.046476,10.930197,10.996642,196000,0.000,0
2017-09-26,10.963419,11.013253,10.888668,10.888668,60600,0.000,0
2017-09-27,10.905282,10.955115,10.797309,10.938504,70800,0.000,0
2017-09-28,10.973525,10.998541,10.865124,10.990203,46100,0.052,0
2017-09-29,10.990202,11.048572,10.898477,10.998540,106700,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KMP-UN_TO.csv
Getting data for: KNC.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.37  0.37  0.37   0.37       0          0             0
2017-09-26  0.37  0.37  0.37   0.37       0          0             0
2017-09-27  0.37  0.37  0.37   0.37       0          0             0
2017-09-28  0.37  0.37  0.37   0.37       0          0             0
2017-09-29  0.37  0.37  0.37   0.37       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KNC_V.csv
Getting data for: KNRCSE
- KNRCSE: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KNRCSE.csv
Getting data for: KNT.TO

             Open  High    Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  0.440  0.44  0.425  0.430   122900          0             0
2017-09-26  0.440  0.49  0.435  0.435  2096000          0             0
2017-09-27  0.435  0.44  0.420  0.420   801700          0             0
2017-09-28  0.420  0.45  0.420  0.430   647000          0             0
2017-09-29  0.430  0.46  0.420  0.460   587100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KNT_TO.csv
Getting data for: KOR.TO
- KOR.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KOR_TO.csv
Getting data for: KORE.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   0.5   0.5  0.5    0.5       0          0           0.0
2017-09-26   0.4   0.4  0.4    0.4   36000          0           0.0
2017-09-27   0.4   0.4  0.4    0.4   16300          0           0.0
2017-09-28   0.4   0.4  0.4    0.4   16000          0           0.0
2017-09-29   0.4   0.4  0.4    0.4    1000          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KORE_V.csv
Getting data for: KRR.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,0.900901,0.900901,0.900901,0.900901,35298,0,0.0
2017-09-26,0.900901,0.900901,0.855856,0.855856,149495,0,0.0
2017-09-27,0.855856,0.900901,0.810811,0.855856,121034,0,0.0
2017-09-28,0.855856,0.855856,0.810811,0.810811,26751,0,0.0
2017-09-29,0.855856,0.855856,0.855856,0.855856,26263,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KRR_TO.csv
Getting data for: KTN.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.22  0.23  0.22   0.22  497800          0             0
2017-09-26  0.23  0.23  0.22   0.22  206800          0             0
2017-09-27  0.22  0.22  0.22   0.22  180900          0             0
2017-09-28  0.22  0.23  0.22   0.23  291300          0             0
2017-09-29  0.23  0.23  0.23   0.23  174900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KTN_V.csv
Getting data for: KTO.V

            Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.32  0.340  0.320  0.340   22100          0             0
2017-09-26  0.34  0.340  0.320  0.320   24500          0             0
2017-09-27  0.34  0.355  0.335  0.340   95500          0             0
2017-09-28  0.36  0.365  0.330  0.345   72400          0             0
2017-09-29  0.37  0.370  0.360  0.370   47000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KTO_V.csv
Getting data for: KWE.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-09-22  1.40  1.40  0.85   0.85  298034          0             0
2020-09-23  0.89  0.89  0.77   0.80  204624          0             0
2020-09-24  0.79  0.84  0.73   0.80   58500          0             0
2020-09-25  0.83  0.83  0.75   0.77   21365          0             0
2020-09-28  0.76  0.76  0.70   0.75   29231          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KWE_V.csv
Getting data for: KXS.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,76.330002,76.349998,73.519997,73.940002,91000,0,0
2017-09-26,73.970001,74.139999,73.339996,74.070000,88600,0,0
2017-09-27,74.019997,74.910004,72.989998,74.059998,85900,0,0
2017-09-28,74.010002,74.570000,73.500000,73.809998,66000,0,0
2017-09-29,73.820000,74.300003,73.519997,73.699997,77300,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//KXS_TO.csv
Getting data for: LAB.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.17  0.17  0.15   0.15  133900          0             0
2017-09-26  0.16  0.22  0.16   0.20  679100          0             0
2017-09-27  0.20  0.22  0.20   0.22  291100          0             0
2017-09-28  0.20  0.20  0.20   0.20  194500          0             0
2017-09-29  0.20  0.20  0.18   0.18  197400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LAB_V.csv
Getting data for: LABS.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2019-03-04  3.29  3.42  3.01   3.17  1116500          0             0
2019-03-05  3.20  3.23  3.07   3.10   500400          0             0
2019-03-06  3.15  3.20  2.94   3.05   673200          0             0
2019-03-07  3.05  3.09  2.71   2.73  1202900          0             0
2019-03-08  2.71  2.94  2.60   2.90   727100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LABS_TO.csv
Getting data for: LAC.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  7.70  7.75  7.20    7.2  325320          0           0.0
2017-09-26  7.10  7.60  7.05    7.6  252620          0           0.0
2017-09-27  7.65  7.85  7.55    7.7  234900          0           0.0
2017-09-28  7.85  7.90  7.55    7.9  184020          0           0.0
2017-09-29  7.90  8.30  7.80    8.3  399580          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LAC_TO.csv
Getting data for: LAM.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.28  0.29  0.28   0.29   15600          0             0
2017-09-26  0.28  0.28  0.28   0.28     500          0             0
2017-09-27  0.29  0.29  0.29   0.29   13800          0             0
2017-09-28  0.28  0.29  0.28   0.29   20000          0             0
2017-09-29  0.28  0.28  0.28   0.28   25200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LAM_TO.csv
Getting data for: LB.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,45.860528,45.921953,45.545731,45.699291,118300,0.00,0
2017-09-26,45.730012,45.952671,45.430568,45.906605,131200,0.00,0
2017-09-27,46.006413,46.804923,45.944990,46.451736,202300,0.00,0
2017-09-28,46.336566,46.743500,46.198362,46.689754,115800,0.00,0
2017-09-29,46.495827,46.844896,46.464801,46.782841,273100,0.62,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LB_TO.csv
Getting data for: LBC.V

             Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.450  0.450  0.45   0.45       0          0           0.0
2017-09-26  0.450  0.450  0.45   0.45     200          0           0.0
2017-09-27  0.450  0.450  0.45   0.45     400          0           0.0
2017-09-28  0.375  0.375  0.35   0.35    2200          0           0.0
2017-09-29  0.375  0.375  0.35   0.35   15000          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LBC_V.csv
Getting data for: LBS.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,5.594294,5.610895,5.572161,5.599828,19300,0.0,0
2017-09-26,5.461493,5.516827,5.455959,5.478093,412800,0.0,0
2017-09-27,5.489162,5.516829,5.472561,5.511295,144200,0.0,0
2017-09-28,5.522473,5.522473,5.494526,5.505705,109800,0.1,0
2017-09-29,5.505706,5.505706,5.483348,5.494526,119900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LBS_TO.csv
Getting data for: LEAF.TO
- LEAF.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LEAF_TO.csv
Getting data for: LGD.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.49  0.49  0.48   0.49   45000          0             0
2017-09-26  0.48  0.49  0.48   0.48  972600          0             0
2017-09-27  0.48  0.48  0.48   0.48  185500          0             0
2017-09-28  0.48  0.48  0.48   0.48  154700          0             0
2017-09-29  0.48  0.48  0.48   0.48  188000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LGD_TO.csv
Getting data for: LGO.TO

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   8.7   9.0  8.4    8.8    7800          0           0.0
2017-09-26   8.6   9.2  8.6    8.7   12270          0           0.0
2017-09-27   8.8   8.9  8.8    8.9    6220          0           0.0
2017-09-28   8.9   9.5  8.8    9.2    6040          0           0.0
2017-09-29   9.0   9.5  8.7    8.7   13360          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LGO_TO.csv
Getting data for: LI.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.335  0.350  0.320  0.320  163600          0           0.0
2017-09-26  0.320  0.320  0.285  0.305   72400          0           0.0
2017-09-27  0.300  0.300  0.295  0.295    5000          0           0.0
2017-09-28  0.295  0.295  0.280  0.280   14800          0           0.0
2017-09-29  0.275  0.280  0.255  0.255   73600          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LI_V.csv
Getting data for: LIF.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,11.697325,11.730825,11.418152,11.485153,238000,0.0,0
2017-09-26,11.496318,11.596821,11.401400,11.513069,334900,0.0,0
2017-09-27,11.552155,11.563321,11.373485,11.529820,328500,0.0,0
2017-09-28,11.559158,12.052036,11.559158,11.893611,354400,1.0,0
2017-09-29,11.864273,11.905347,11.576761,11.617834,303600,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LIF_TO.csv
Getting data for: LIO.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  0.60  0.61  0.59   0.61    40700          0             0
2017-09-26  0.60  0.60  0.60   0.60    31000          0             0
2017-09-27  0.60  0.60  0.60   0.60        0          0             0
2017-09-28  0.57  0.57  0.45   0.49  1284100          0             0
2017-09-29  0.50  0.51  0.47   0.50   224800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LIO_V.csv
Getting data for: LIS.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.239993,3.359993,3.119993,3.359993,12316,0,0.0
2017-09-26,3.359993,3.359993,3.239993,3.239993,1262,0,0.0
2017-09-27,3.119993,3.119993,3.119993,3.119993,708,0,0.0
2017-09-28,2.879994,2.999994,2.879994,2.879994,7900,0,0.0
2017-09-29,2.999994,2.999994,2.879994,2.999994,4395,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LIS_V.csv
Getting data for: LITH.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-01-02  1.25  1.25  1.14   1.25   37000          0             0
2018-01-03  1.25  1.25  1.16   1.24    8900          0             0
2018-01-04  1.18  1.20  1.10   1.11   44800          0             0
2018-01-05  1.20  1.24  1.19   1.19   16400          0             0
2018-01-08  1.20  1.20  1.12   1.15   68300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LITH_V.csv
Getting data for: LLG.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.04  2.07  1.99   2.06  168100          0             0
2017-09-26  2.06  2.08  2.03   2.05   19400          0             0
2017-09-27  2.00  2.08  1.93   2.08  147000          0             0
2017-09-28  2.03  2.08  2.03   2.08   85600          0             0
2017-09-29  2.09  2.14  2.05   2.14  255500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LLG_V.csv
Getting data for: LN.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.20  0.20  0.20   0.20   13000          0           0.0
2017-09-26  0.19  0.19  0.19   0.19   18500          0           0.0
2017-09-27  0.19  0.19  0.19   0.19       0          0           0.0
2017-09-28  0.19  0.19  0.19   0.19       0          0           0.0
2017-09-29  0.18  0.19  0.18   0.19   35500          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LN_TO.csv
Getting data for: LNR.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,71.368751,71.968246,70.283947,70.417168,150100,0.0,0
2017-09-26,70.207811,70.797796,70.198294,70.750214,108600,0.0,0
2017-09-27,71.035718,71.578120,70.559926,71.359253,131000,0.0,0
2017-09-28,71.368751,72.872255,71.359233,72.234695,136000,0.0,0
2017-09-29,72.539229,73.547905,72.158594,72.453583,131300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LNR_TO.csv
Getting data for: LORD.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.15  0.15  0.15   0.15     220          0           0.0
2017-09-26  0.15  0.15  0.15   0.15       0          0           0.0
2017-09-27  0.15  0.15  0.15   0.15       0          0           0.0
2017-09-28  0.15  0.15  0.15   0.15    1080          0           0.0
2017-09-29  0.15  0.15  0.15   0.15       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LORD_V.csv
Getting data for: LPEN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-02-25,17.250000,17.440001,15.900000,16.000000,1587400,0,0
2021-02-26,16.200001,16.855000,16.020000,16.450001,175300,0,0
2021-03-01,16.799999,17.350000,16.799999,16.900000,117600,0,0
2021-03-02,17.360001,17.360001,16.500000,16.590000,53600,0,0
2021-03-03,16.500000,16.500000,15.800000,15.800000,263800,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LPEN_TO.csv
Getting data for: LPS.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.53  0.56  0.53   0.56   29900          0             0
2017-09-26  0.54  0.54  0.54   0.54   16000          0             0
2017-09-27  0.53  0.53  0.52   0.52   48000          0             0
2017-09-28  0.52  0.54  0.52   0.52   40000          0             0
2017-09-29  0.52  0.52  0.52   0.52    7500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LPS_V.csv
Getting data for: LR.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2018-09-05   0.9   0.9  0.9    0.9    3415          0             0
2018-09-06   0.9   0.9  0.9    0.9       0          0             0
2018-09-07   0.9   0.9  0.9    0.9       0          0             0
2018-09-10   0.9   0.9  0.9    0.9       0          0             0
2018-09-11   0.9   0.9  0.9    0.9       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LR_V.csv
Getting data for: LSPD.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-03-08,18.10,20.219999,18.049999,18.900000,4313000,0,0
2019-03-11,20.00,20.340000,19.030001,20.080000,828400,0,0
2019-03-12,20.25,21.100000,20.000000,20.750000,346900,0,0
2019-03-13,21.48,23.930000,21.020000,22.945000,452100,0,0
2019-03-14,23.76,23.760000,22.000000,22.799999,408400,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LSPD_TO.csv
Getting data for: LTE.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.68  1.70  1.66   1.66   34800          0             0
2017-09-26  1.66  1.68  1.63   1.68   58400          0             0
2017-09-27  1.62  1.62  1.56   1.56   60000          0             0
2017-09-28  1.59  1.63  1.52   1.63   45900          0             0
2017-09-29  1.60  1.63  1.60   1.63   26000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LTE_V.csv
Getting data for: LUC.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,2.076823,2.076823,2.032256,2.050083,271300,0.0,0
2017-09-26,2.103563,2.192698,2.103563,2.157044,530600,0.0,0
2017-09-27,2.228351,2.246178,2.112477,2.165957,464900,0.0,0
2017-09-28,2.165957,2.183784,2.148130,2.165957,178500,0.0,0
2017-09-29,2.192698,2.210524,2.157044,2.157044,1265900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LUC_TO.csv
Getting data for: LUCK.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-12-17  0.81  0.89  0.77   0.79  491823          0             0
2020-12-18  0.80  0.80  0.62   0.65  337788          0             0
2020-12-21  0.66  0.85  0.63   0.85  548631          0             0
2020-12-22  0.88  0.88  0.80   0.81  702143          0             0
2020-12-23  0.84  0.99  0.81   0.94  736627          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LUCK_V.csv
Getting data for: LUG.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,5.074131,5.113013,5.054689,5.083851,27200,0.0,0
2017-09-26,5.083851,5.083851,4.986646,4.996366,12000,0.0,0
2017-09-27,4.986646,4.986646,4.831116,4.986646,32200,0.0,0
2017-09-28,4.918602,5.113013,4.918602,5.025528,34300,0.0,0
2017-09-29,5.006087,5.044969,4.947763,4.947763,13800,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LUG_TO.csv
Getting data for: LUM.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.64  0.67  0.64   0.65   25500          0             0
2017-09-26  0.65  0.65  0.64   0.64   17500          0             0
2017-09-27  0.64  0.64  0.62   0.62   52500          0             0
2017-09-28  0.63  0.63  0.63   0.63  129900          0             0
2017-09-29  0.62  0.63  0.62   0.62   15000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LUM_V.csv
Getting data for: LUN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,7.659553,7.659553,7.458904,7.485075,1535500,0.0,0
2017-09-26,7.502523,7.554866,7.371665,7.424008,1196300,0.0,0
2017-09-27,7.458904,7.537419,7.397836,7.424008,2512400,0.0,0
2017-09-28,7.424009,7.642105,7.389113,7.485075,7518900,0.0,0
2017-09-29,7.511246,7.554866,7.432732,7.467628,2491500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LUN_TO.csv
Getting data for: LVX.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-02-11  0.80  0.80  0.65   0.74  943214          0             0
2021-02-12  0.69  0.72  0.64   0.68  531614          0             0
2021-02-16  0.75  0.75  0.66   0.68  765020          0             0
2021-02-17  0.69  0.70  0.53   0.55  914954          0             0
2021-02-18  0.60  0.63  0.56   0.58  982619          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LVX_V.csv
Getting data for: LXE.V
- LXE.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LXE_V.csv
Getting data for: LXG.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-07-10  0.84  0.86  0.80   0.86  338100          0             0
2018-07-11  0.89  0.91  0.88   0.90   73100          0             0
2018-07-12  0.87  0.90  0.85   0.90   57300          0             0
2018-07-13  0.92  0.92  0.83   0.85  129100          0             0
2018-07-16  0.84  0.86  0.82   0.86   94600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//LXG_V.csv
Getting data for: MAG.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  14.71  15.17  14.71  15.11  136000          0             0
2017-09-26  14.89  15.15  14.68  14.70   90200          0             0
2017-09-27  14.55  14.64  14.18  14.19  215800          0             0
2017-09-28  14.21  14.34  14.13  14.19  125300          0             0
2017-09-29  14.24  14.24  13.95  13.97  146000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MAG_TO.csv
Getting data for: MAI.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.20  0.20  0.19   0.20  209000          0             0
2017-09-26  0.21  0.21  0.20   0.20  102000          0             0
2017-09-27  0.20  0.20  0.19   0.19   36000          0             0
2017-09-28  0.19  0.19  0.18   0.18  269000          0             0
2017-09-29  0.18  0.20  0.18   0.20  107500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MAI_V.csv
Getting data for: MAPS.V

             Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.010  0.010  0.01   0.01    1700          0           0.0
2017-09-26  0.015  0.015  0.01   0.01   82500          0           0.0
2017-09-27  0.020  0.020  0.02   0.02    3000          0           0.0
2017-09-28  0.020  0.020  0.02   0.02       0          0           0.0
2017-09-29  0.020  0.020  0.02   0.02       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MAPS_V.csv
Getting data for: MARI.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  3.00  3.25  3.00   3.25    5224          0           0.0
2017-09-26  3.25  3.25  3.25   3.25    1864          0           0.0
2017-09-27  3.25  3.25  3.00   3.25    6020          0           0.0
2017-09-28  3.00  3.25  3.00   3.00    5820          0           0.0
2017-09-29  3.25  3.25  3.25   3.25    3836          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MARI_TO.csv
Getting data for: MAU.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2020-10-23  1.25  1.27  1.10   1.14  1894800          0             0
2020-10-26  1.10  1.10  1.07   1.07   129400          0             0
2020-10-27  1.07  1.07  1.01   1.05   241700          0             0
2020-10-28  1.02  1.02  0.90   0.93   318400          0             0
2020-10-29  0.96  0.96  0.93   0.95   276300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MAU_V.csv
Getting data for: MAW.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.33  0.33  0.33   0.33    1300          0             0
2017-09-26  0.33  0.33  0.33   0.33       0          0             0
2017-09-27  0.33  0.33  0.31   0.31   61900          0             0
2017-09-28  0.31  0.31  0.31   0.31       0          0             0
2017-09-29  0.32  0.32  0.31   0.31   53000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MAW_TO.csv
Getting data for: MAXR.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,67.501711,68.218798,66.861116,68.094505,104600,0.0,0
2017-09-26,68.113618,68.352646,67.960643,68.151863,186500,0.0,0
2017-09-27,68.151872,68.228363,67.769424,67.989334,73400,0.0,0
2017-09-28,67.960655,67.960655,66.928049,67.061905,62600,0.0,0
2017-09-29,67.473025,69.232281,67.119260,67.865036,300500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MAXR_TO.csv
Getting data for: MBCN.TO
- MBCN.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MBCN_TO.csv
Getting data for: MBX.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.37  0.38  0.36   0.38   28300          0             0
2017-09-26  0.37  0.37  0.37   0.37   14000          0             0
2017-09-27  0.37  0.38  0.37   0.38    2000          0             0
2017-09-28  0.38  0.38  0.37   0.37    5000          0             0
2017-09-29  0.37  0.37  0.36   0.37   48500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MBX_TO.csv
Getting data for: MCI.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.71  0.71  0.71   0.71    1000          0             0
2017-09-26  0.65  0.65  0.58   0.59   51000          0             0
2017-09-27  0.59  0.59  0.59   0.59       0          0             0
2017-09-28  0.58  0.60  0.58   0.60   48000          0             0
2017-09-29  0.60  0.60  0.60   0.60   56000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MCI_V.csv
Getting data for: MDA.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-04-07,14.140000,14.640000,14.05,14.550000,820200,0,0
2021-04-08,15.070000,16.950001,14.96,16.450001,480000,0,0
2021-04-09,17.320000,18.260000,16.90,17.520000,571200,0,0
2021-04-12,17.950001,18.879999,17.60,18.000000,252800,0,0
2021-04-13,18.049999,18.500000,16.90,17.129999,89500,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MDA_TO.csv
Getting data for: MDF.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,12.384915,12.384915,12.321029,12.321029,5200,0.0,0
2017-09-26,12.321029,12.321029,12.257142,12.257142,3500,0.0,0
2017-09-27,12.184128,12.257142,12.184128,12.238888,4200,0.0,0
2017-09-28,12.238888,12.321028,12.184128,12.202381,21900,0.0,0
2017-09-29,12.312726,12.413876,12.275944,12.358703,10000,0.1,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MDF_TO.csv
Getting data for: MDI.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  7.53  7.81  7.37   7.44  280700          0             0
2017-09-26  7.41  7.43  7.20   7.22   37800          0             0
2017-09-27  7.25  7.25  6.88   6.97  196400          0             0
2017-09-28  6.99  7.12  6.92   7.03   51600          0             0
2017-09-29  7.03  7.10  6.92   7.00  129200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MDI_TO.csv
Getting data for: MDL.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.15  0.15  0.14   0.14    8000          0             0
2017-09-26  0.16  0.16  0.16   0.16   10000          0             0
2017-09-27  0.14  0.14  0.14   0.14   25000          0             0
2017-09-28  0.14  0.14  0.14   0.14     700          0             0
2017-09-29  0.16  0.16  0.14   0.14   23700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MDL_V.csv
Getting data for: MDNA.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.92  2.18  1.83   2.00   22300          0             0
2017-09-26  2.00  2.00  2.00   2.00       0          0             0
2017-09-27  2.00  2.00  1.95   1.95    2500          0             0
2017-09-28  1.95  2.10  1.95   2.10    4300          0             0
2017-09-29  2.10  2.20  2.05   2.15   17300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MDNA_TO.csv
Getting data for: MDP.V
- MDP.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MDP_V.csv
Getting data for: MEDV.NE

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.04  0.04  0.04   0.04   10000          0             0
2017-09-26  0.04  0.04  0.04   0.04       0          0             0
2017-09-27  0.04  0.04  0.04   0.04    2000          0             0
2017-09-28  0.05  0.05  0.04   0.04  191000          0             0
2017-09-29  0.04  0.04  0.04   0.04       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MEDV_NE.csv
Getting data for: MEG.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  5.74  5.76  5.61   5.72  1185100          0             0
2017-09-26  5.70  5.79  5.68   5.70  1897400          0             0
2017-09-27  5.70  5.75  5.56   5.62   950300          0             0
2017-09-28  5.72  5.72  5.55   5.59   689700          0             0
2017-09-29  5.55  5.60  5.48   5.49   874300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MEG_TO.csv
Getting data for: MFC.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,19.556342,19.778483,19.484939,19.722948,2908500,0.0,0
2017-09-26,19.730879,19.810214,19.580140,19.651543,2889200,0.0,0
2017-09-27,19.834020,20.135497,19.786419,20.119631,5308400,0.0,0
2017-09-28,20.079959,20.151362,19.984757,20.008556,2483700,0.0,0
2017-09-29,20.079960,20.167230,20.016491,20.079960,2463700,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MFC_TO.csv
Getting data for: MFG.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2021-03-22  2.10  2.15  1.80  2.120  1917900          0             0
2021-03-23  2.14  2.14  1.95  2.000   381300          0             0
2021-03-24  1.95  2.00  1.90  1.995   856400          0             0
2021-03-25  1.90  2.00  1.87  1.970   304800          0             0
2021-03-26  1.95  1.95  1.85  1.850   199700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MFG_V.csv
Getting data for: MFI.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,30.318968,30.318968,29.829235,29.847044,107500,0.0,0
2017-09-26,29.847047,30.060747,29.793620,29.944994,245000,0.0,0
2017-09-27,30.042939,30.238830,29.855947,30.212118,205400,0.0,0
2017-09-28,30.149780,30.381289,30.078544,30.274439,104900,0.0,0
2017-09-29,30.274447,30.336777,30.069650,30.283350,203100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MFI_TO.csv
Getting data for: MG.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,54.298828,54.855099,54.182593,54.788677,1069400,0.0,0
2017-09-26,54.838495,55.153991,54.597720,54.722260,795000,0.0,0
2017-09-27,54.888312,55.602333,54.614325,55.527607,1023000,0.0,0
2017-09-28,55.386442,55.552497,54.763749,54.963009,876200,0.0,0
2017-09-29,55.112466,55.677041,55.029442,55.286819,827000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MG_TO.csv
Getting data for: MGG.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.33  0.34  0.33   0.34   85700          0             0
2017-09-26  0.33  0.33  0.32   0.32  118500          0             0
2017-09-27  0.31  0.32  0.30   0.30  366000          0             0
2017-09-28  0.31  0.34  0.30   0.33  109600          0             0
2017-09-29  0.32  0.34  0.30   0.30  290000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MGG_V.csv
Getting data for: MGM.V

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  0.265  0.275  0.265  0.270   238600          0             0
2017-09-26  0.270  0.270  0.260  0.260   294400          0             0
2017-09-27  0.260  0.290  0.260  0.275  1416100          0             0
2017-09-28  0.285  0.290  0.275  0.275   371400          0             0
2017-09-29  0.280  0.280  0.270  0.275   305600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MGM_V.csv
Getting data for: MI-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-08-23,15.362800,15.362800,15.107209,15.207620,25300,0.0,0
2018-08-24,15.207618,15.289772,15.152849,15.198489,13900,0.0,0
2018-08-27,15.161979,15.362800,15.161979,15.207620,22400,0.0,0
2018-08-28,15.216750,15.216750,15.134596,15.152853,20300,0.0,0
2018-08-29,15.152854,15.180238,14.842494,14.942905,110800,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MI-UN_TO.csv
Getting data for: MIN.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.20  1.22  1.19   1.22   26700          0             0
2017-09-26  1.21  1.21  1.17   1.19   81800          0             0
2017-09-27  1.20  1.20  1.07   1.10  147600          0             0
2017-09-28  1.10  1.12  1.07   1.08  235200          0             0
2017-09-29  1.07  1.14  1.07   1.14  150400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MIN_TO.csv
Getting data for: MIR.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.02  0.02  0.02   0.02    7000          0             0
2017-09-26  0.03  0.03  0.03   0.03   20300          0             0
2017-09-27  0.03  0.03  0.03   0.03   31000          0             0
2017-09-28  0.03  0.03  0.03   0.03       0          0             0
2017-09-29  0.03  0.03  0.03   0.03       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MIR_V.csv
Getting data for: MKO.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.35  0.35  0.33   0.33  118300          0             0
2017-09-26  0.33  0.35  0.32   0.35  105400          0             0
2017-09-27  0.34  0.36  0.34   0.36  346900          0             0
2017-09-28  0.35  0.35  0.35   0.35  180800          0             0
2017-09-29  0.35  0.36  0.35   0.35   76200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MKO_V.csv
Getting data for: ML.V
- ML.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ML_V.csv
Getting data for: MMED.NE

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-03-03,8.999999,9.599999,3.599999,6.074999,909569,0,0.125
2020-03-04,7.349999,11.699999,6.524999,11.549999,1032469,0,0.000
2020-03-05,14.849999,14.849999,10.049999,10.199999,1096350,0,0.000
2020-03-06,10.499999,10.799999,7.949999,7.949999,447749,0,0.000
2020-03-09,7.199999,8.099999,5.999999,6.674999,237958,0,0.000

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MMED_NE.csv
Getting data for: MMG.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  0.30  0.31  0.29   0.30   333400          0             0
2017-09-26  0.28  0.30  0.28   0.30  1375500          0             0
2017-09-27  0.30  0.33  0.30   0.32   252800          0             0
2017-09-28  0.33  0.33  0.31   0.32   277600          0             0
2017-09-29  0.32  0.33  0.32   0.32   101900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MMG_V.csv
Getting data for: MMX.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.267565,3.465600,3.168548,3.267565,20450,0.0,0.0
2017-09-26,3.307172,3.307172,3.208155,3.208155,350,0.0,0.0
2017-09-27,3.346779,3.386386,3.346779,3.386386,900,0.0,0.0
2017-09-28,3.346779,3.346779,3.326975,3.326975,2250,0.0,0.0
2017-09-29,3.346779,3.465600,3.227958,3.465600,10250,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MMX_TO.csv
Getting data for: MN.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.12  0.12  0.11   0.11  132500          0             0
2017-09-26  0.12  0.12  0.12   0.12   25000          0             0
2017-09-27  0.12  0.13  0.11   0.12  342000          0             0
2017-09-28  0.13  0.14  0.13   0.14  116800          0             0
2017-09-29  0.13  0.15  0.13   0.14  612600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MN_V.csv
Getting data for: MNOW.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-03-09  5.55  5.56  4.12   4.75  355300          0             0
2021-03-10  5.10  5.10  4.31   4.75  213300          0             0
2021-03-11  4.60  4.99  4.50   4.85   55600          0             0
2021-03-12  4.70  4.70  4.25   4.32   89900          0             0
2021-03-15  4.30  4.30  3.59   4.01  135500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MNOW_V.csv
Getting data for: MOGO.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.330612,3.330612,3.281633,3.281633,700,0.0,0
2017-09-26,3.281633,3.281633,3.281633,3.281633,0,0.0,0
2017-09-27,3.281633,3.281633,3.242449,3.242449,1000,0.0,0
2017-09-28,3.330612,3.350204,3.330612,3.350204,1200,0.0,0
2017-09-29,3.291429,3.291429,3.232653,3.232653,1400,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MOGO_TO.csv
Getting data for: MON.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.170  0.210  0.155  0.155    7000          0             0
2017-09-26  0.155  0.155  0.155  0.155       0          0             0
2017-09-27  0.155  0.155  0.155  0.155       0          0             0
2017-09-28  0.155  0.155  0.155  0.155       0          0             0
2017-09-29  0.160  0.160  0.160  0.160     500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MON_V.csv
Getting data for: MOZ.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.14  1.14  1.10   1.13  838100          0             0
2017-09-26  1.11  1.12  1.07   1.08  220900          0             0
2017-09-27  1.07  1.08  1.06   1.07  137000          0             0
2017-09-28  1.11  1.11  1.06   1.11  187100          0             0
2017-09-29  1.12  1.14  1.07   1.07  173000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MOZ_TO.csv
Getting data for: MPCT-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,4.375135,4.389647,4.353368,4.389647,118900,0.000,0
2017-09-26,4.375135,4.396902,4.353368,4.375135,288200,0.000,0
2017-09-27,4.389647,4.411413,4.353368,4.389647,113500,0.000,0
2017-09-28,4.399131,4.435608,4.399131,4.413722,3900,0.033,0
2017-09-29,4.435608,4.464790,4.413722,4.421017,63500,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MPCT-UN_TO.csv
Getting data for: MPVD.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,4.02456,4.06392,3.97536,4.01472,37300,0.0,0
2017-09-26,3.98520,4.06392,3.93600,3.95568,81800,0.0,0
2017-09-27,4.05408,4.05408,3.95568,3.99504,42200,0.0,0
2017-09-28,3.99504,3.99504,3.95568,3.98520,12300,0.0,0
2017-09-29,3.93600,4.02456,3.93600,3.99504,52300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MPVD_TO.csv
Getting data for: MRE.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,10.657999,10.759416,10.519703,10.565802,119900,0.00,0
2017-09-26,10.602679,10.694877,10.528921,10.648778,131500,0.00,0
2017-09-27,10.704097,10.943810,10.704097,10.888493,238800,0.00,0
2017-09-28,10.851517,10.879247,10.611193,10.657410,96600,0.03,0
2017-09-29,10.685141,10.703627,10.472547,10.481791,201500,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MRE_TO.csv
Getting data for: MRG-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,12.347796,12.404661,12.315301,12.388413,16900,0.000,0
2017-09-26,12.388414,12.453402,12.388414,12.445278,6100,0.000,0
2017-09-27,12.429032,12.550885,12.412785,12.550885,30400,0.000,0
2017-09-28,12.512573,12.602240,12.455512,12.602240,17500,0.053,0
2017-09-29,12.577781,12.797871,12.577781,12.716356,12400,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MRG-UN_TO.csv
Getting data for: MRS.V

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  0.245  0.255  0.245  0.255  2850900          0             0
2017-09-26  0.250  0.250  0.230  0.235  1587300          0             0
2017-09-27  0.240  0.245  0.235  0.240  1361700          0             0
2017-09-28  0.240  0.250  0.230  0.240  1512400          0             0
2017-09-29  0.240  0.245  0.235  0.235   791300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MRS_V.csv
Getting data for: MRT-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,9.986713,10.007562,9.903317,9.924166,13400,0.00,0
2017-09-26,9.903313,9.945011,9.868564,9.903313,11800,0.00,0
2017-09-27,9.917217,9.931116,9.868568,9.896367,27000,0.00,0
2017-09-28,9.966257,9.973246,9.924323,9.938301,15600,0.08,0
2017-09-29,9.959269,10.008191,9.924324,9.945291,23900,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MRT-UN_TO.csv
Getting data for: MRU.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,36.961926,37.035682,36.869730,36.980366,432400,0.0,0
2017-09-26,36.998794,37.063332,36.860496,36.961914,275000,0.0,0
2017-09-27,37.072539,40.871070,37.072539,40.207249,1705000,0.0,0
2017-09-28,40.004428,40.170384,39.064015,39.644859,1087600,0.0,0
2017-09-29,39.746277,39.912233,39.561882,39.561882,862600,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MRU_TO.csv
Getting data for: MRZ.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.63  1.69  1.63   1.63   44500          0             0
2017-09-26  1.60  1.60  1.56   1.58   58800          0             0
2017-09-27  1.56  1.60  1.55   1.55   42900          0             0
2017-09-28  1.57  1.62  1.57   1.61   17500          0             0
2017-09-29  1.59  1.61  1.58   1.58   18400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MRZ_V.csv
Getting data for: MSI.TO
- MSI.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MSI_TO.csv
Getting data for: MTA.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-03-22,2.872365,2.872365,2.639470,2.639470,34225,0.0,0.0
2018-03-23,2.872366,3.105260,2.872366,3.105260,121475,0.0,0.0
2018-03-26,3.066444,3.221707,3.066444,3.182891,87425,0.0,0.0
2018-03-27,3.182891,3.221707,3.066444,3.144075,36975,0.0,0.0
2018-03-28,3.144075,3.144075,2.988812,3.027628,11625,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MTA_V.csv
Getting data for: MTB.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  0.09  0.09  0.09   0.09    68000          0             0
2017-09-26  0.09  0.09  0.09   0.09        0          0             0
2017-09-27  0.09  0.09  0.08   0.08  1384900          0             0
2017-09-28  0.08  0.09  0.08   0.08   659400          0             0
2017-09-29  0.08  0.08  0.07   0.08   887200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MTB_V.csv
Getting data for: MTL.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,13.680633,14.014695,13.680633,13.807895,131300,0.00,0
2017-09-26,13.791986,13.831755,13.680633,13.799940,41000,0.00,0
2017-09-27,13.807894,13.879478,13.489738,13.672678,77100,0.00,0
2017-09-28,13.760331,13.840009,13.704557,13.800169,93900,0.03,0
2017-09-29,13.760323,13.808129,13.481451,13.585032,154800,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MTL_TO.csv
Getting data for: MTRX.V
- MTRX.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MTRX_V.csv
Getting data for: MTS.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.85  0.97  0.84   0.97  589100          0             0
2017-09-26  0.95  1.02  0.89   0.90  747600          0             0
2017-09-27  0.90  0.94  0.85   0.85  234400          0             0
2017-09-28  0.89  1.02  0.84   1.01  431600          0             0
2017-09-29  1.03  1.12  1.02   1.02  571300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MTS_V.csv
Getting data for: MTY.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,46.381198,47.691616,46.266414,47.691616,23500,0.0,0
2017-09-26,47.720314,49.078561,46.275985,47.701183,20900,0.0,0
2017-09-27,46.572494,46.821188,46.151630,46.151630,8200,0.0,0
2017-09-28,47.203791,47.203791,46.304672,46.390759,7100,0.0,0
2017-09-29,46.782932,46.792496,46.390763,46.754238,9400,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MTY_TO.csv
Getting data for: MUX.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,25.543322,26.441329,25.044429,25.742878,46550,0.0,0.0
2017-09-26,25.443543,26.141994,24.146422,24.345978,87690,0.0,0.0
2017-09-27,24.046642,25.343763,23.946863,25.343763,37540,0.0,0.0
2017-09-28,25.243984,25.643100,24.745091,24.944649,39210,0.0,0.0
2017-09-29,25.144208,25.243985,24.345978,24.345978,29290,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MUX_TO.csv
Getting data for: MVI-H.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.38  0.38  0.38   0.38       0          0             0
2017-09-26  0.38  0.38  0.38   0.38       0          0             0
2017-09-27  0.38  0.38  0.38   0.38       0          0             0
2017-09-28  0.38  0.38  0.38   0.38       0          0             0
2017-09-29  0.38  0.38  0.38   0.38     664          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MVI-H_V.csv
Getting data for: MVMDCSE
- MVMDCSE: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MVMDCSE.csv
Getting data for: MVP.V
- MVP.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MVP_V.csv
Getting data for: MVY.V

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  0.160  0.160  0.145  0.155  3634300          0             0
2017-09-26  0.155  0.155  0.130  0.140  2166300          0             0
2017-09-27  0.135  0.135  0.120  0.120   433100          0             0
2017-09-28  0.115  0.120  0.115  0.115   271700          0             0
2017-09-29  0.110  0.125  0.110  0.125   119500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MVY_V.csv
Getting data for: MX.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,58.149888,58.186256,56.831605,57.549843,449500,0.0,0
2017-09-26,57.313462,58.258989,56.767964,57.813499,395700,0.0,0
2017-09-27,58.068060,58.813575,57.731672,58.177162,315600,0.0,0
2017-09-28,58.559006,58.686288,57.840766,57.949867,329800,0.0,0
2017-09-29,58.068057,58.168065,56.886149,57.004341,506900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MX_TO.csv
Getting data for: MXR.V
- MXR.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MXR_V.csv
Getting data for: MYCO.NE

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,168.751694,168.751694,157.501572,168.751694,72,0,0.0
2017-09-26,157.501572,157.501572,146.251465,157.501572,108,0,0.0
2017-09-27,157.501572,168.751694,157.501572,157.501572,107,0,0.0
2017-09-28,157.501572,157.501572,157.501572,157.501572,26,0,0.0
2017-09-29,157.501572,157.501572,146.251465,157.501572,63,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MYCO_NE.csv
Getting data for: MYID.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,0.78125,0.78125,0.78125,0.78125,10752,0,0.0
2017-09-26,0.78125,0.78125,0.78125,0.78125,0,0,0.0
2017-09-27,0.78125,0.78125,0.78125,0.78125,2688,0,0.0
2017-09-28,0.78125,0.78125,0.78125,0.78125,806,0,0.0
2017-09-29,0.78125,0.78125,0.78125,0.78125,0,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//MYID_V.csv
Getting data for: N.V
- N.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//N_V.csv
Getting data for: NA.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,47.908187,48.348015,47.908187,48.298225,1124400,0.0,0
2017-09-26,48.231826,48.837628,48.231826,48.679955,1188000,0.0,0
2017-09-27,48.787845,49.318958,48.713156,49.136387,1514000,0.0,0
2017-09-28,49.053396,49.841770,49.011904,49.758781,1178200,0.0,0
2017-09-29,49.700702,50.206921,49.700702,49.833481,905500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NA_TO.csv
Getting data for: NAC-U.TO
- NAC-U.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NAC-U_TO.csv
Getting data for: NB.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.57  0.60  0.55   0.55  125600          0             0
2017-09-26  0.56  0.56  0.55   0.56   78200          0             0
2017-09-27  0.56  0.57  0.53   0.53  163500          0             0
2017-09-28  0.54  0.57  0.54   0.54   67400          0             0
2017-09-29  0.54  0.55  0.52   0.52   75000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NB_TO.csv
Getting data for: NBL-H.V
- NBL-H.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NBL-H_V.csv
Getting data for: NBR.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.24  0.24  0.24   0.24   25500          0             0
2017-09-26  0.24  0.25  0.24   0.25   45000          0             0
2017-09-27  0.27  0.28  0.23   0.28   35000          0             0
2017-09-28  0.28  0.28  0.28   0.28       0          0             0
2017-09-29  0.28  0.28  0.28   0.28       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NBR_V.csv
Getting data for: NBVA.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2018-03-07  1.00  1.09  0.72   1.09  1149300          0             0
2018-03-08  1.10  1.25  0.92   1.20   784400          0             0
2018-03-09  1.16  1.19  1.06   1.15   186700          0             0
2018-03-12  1.15  1.20  1.10   1.10   118500          0             0
2018-03-13  1.11  1.17  1.05   1.05   161400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NBVA_V.csv
Getting data for: NBY.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.180  0.180  0.165  0.165   18500          0             0
2017-09-26  0.165  0.165  0.165  0.165       0          0             0
2017-09-27  0.170  0.170  0.165  0.170   26700          0             0
2017-09-28  0.175  0.180  0.165  0.165   32700          0             0
2017-09-29  0.165  0.165  0.165  0.165       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NBY_V.csv
Getting data for: NCAU.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.37  0.37  0.37   0.37       0          0             0
2017-09-26  0.37  0.37  0.37   0.37       0          0             0
2017-09-27  0.34  0.34  0.34   0.34     500          0             0
2017-09-28  0.34  0.34  0.34   0.34       0          0             0
2017-09-29  0.35  0.35  0.35   0.35   15000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NCAU_V.csv
Getting data for: NDA.V

             Open  High    Low  Close    Volume  Dividends  Stock Splits
Date
2018-01-22  0.850  0.85  0.590  0.600  13456494          0             0
2018-01-23  0.610  0.61  0.500  0.540   3448798          0             0
2018-01-24  0.530  0.56  0.455  0.465   2978111          0             0
2018-01-25  0.485  0.51  0.445  0.445   2373409          0             0
2018-01-26  0.440  0.45  0.375  0.395   1474263          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NDA_V.csv
Getting data for: NDM.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  2.25  2.25  2.08   2.14  1119700          0             0
2017-09-26  2.14  2.32  2.09   2.31  1244800          0             0
2017-09-27  2.31  2.32  2.18   2.26   608900          0             0
2017-09-28  2.26  2.31  2.23   2.29   362300          0             0
2017-09-29  2.31  2.31  2.22   2.24   284800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NDM_TO.csv
Getting data for: NDVA.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-12-19  2.00  3.00  1.20   1.25  876000          0         0.091
2017-12-20  1.35  1.35  1.05   1.10  358000          0         0.000
2017-12-21  1.27  1.27  1.12   1.24  283700          0         0.000
2017-12-22  1.26  1.35  1.24   1.25  305700          0         0.000
2017-12-27  1.35  1.35  1.23   1.29  300500          0         0.000

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NDVA_V.csv
Getting data for: NEE.V
- NEE.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NEE_V.csv
Getting data for: NEO.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-12-08,15.091931,15.204236,14.677271,15.204236,500200,0.0,0
2017-12-11,15.420204,15.420204,14.685908,15.290623,155000,0.0,0
2017-12-12,15.351091,15.463394,15.117844,15.333813,67100,0.0,0
2017-12-13,15.333816,15.377009,15.290623,15.290623,55300,0.0,0
2017-12-14,15.290624,15.299261,14.815491,15.204236,40300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NEO_TO.csv
Getting data for: NEPT.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.98  1.05  0.97   1.03   21200          0           0.0
2017-09-26  1.01  1.05  1.01   1.05   28188          0           0.0
2017-09-27  1.06  1.10  1.06   1.08   41600          0           0.0
2017-09-28  1.13  1.17  1.11   1.15   57921          0           0.0
2017-09-29  1.16  1.16  1.11   1.11   42880          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NEPT_TO.csv
Getting data for: NEXE.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2020-12-18  1.51  1.80  1.21   1.55  2253023          0             0
2020-12-21  1.57  1.60  1.37   1.55   856638          0             0
2020-12-22  1.59  2.09  1.58   1.92  1064894          0             0
2020-12-23  1.95  1.98  1.79   1.82   654594          0             0
2020-12-24  1.85  1.95  1.83   1.92   319772          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NEXE_V.csv
Getting data for: NEXT.TO

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   0.8   0.8  0.8    0.8   24120          0           0.0
2017-09-26   0.8   0.8  0.8    0.8   23400          0           0.0
2017-09-27   0.8   0.8  0.8    0.8   17380          0           0.0
2017-09-28   0.8   0.8  0.8    0.8   14900          0           0.0
2017-09-29   0.8   0.8  0.7    0.7   49070          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NEXT_TO.csv
Getting data for: NFG.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2020-08-11  1.30  1.42  1.24   1.40  3528425          0             0
2020-08-12  1.40  1.57  1.36   1.54  2952675          0             0
2020-08-13  1.59  1.78  1.55   1.65  2163407          0             0
2020-08-14  1.67  1.73  1.54   1.54  1294952          0             0
2020-08-17  1.62  1.75  1.57   1.60  1473724          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NFG_V.csv
Getting data for: NFI.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,41.688233,41.795742,41.307822,41.407059,63300,0.000,0
2017-09-26,41.407068,41.845368,41.316099,41.804020,170800,0.000,0
2017-09-27,41.919791,42.242318,41.878443,42.126537,115300,0.000,0
2017-09-28,42.147339,43.279259,42.030819,43.187706,162700,0.325,0
2017-09-29,43.254294,43.470689,42.563489,42.871437,148200,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NFI_TO.csv
Getting data for: NG.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  5.26  5.40  5.23   5.36  173600          0             0
2017-09-26  5.28  5.36  5.27   5.29  187400          0             0
2017-09-27  5.24  5.33  5.23   5.30  127800          0             0
2017-09-28  5.31  5.36  5.16   5.25  222600          0             0
2017-09-29  5.23  5.27  5.09   5.10  171000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NG_TO.csv
Getting data for: NGC.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.265  0.275  0.265  0.275   66200          0             0
2017-09-26  0.265  0.285  0.265  0.285   39500          0             0
2017-09-27  0.280  0.280  0.280  0.280    4100          0             0
2017-09-28  0.280  0.285  0.280  0.280   15000          0             0
2017-09-29  0.260  0.265  0.260  0.265   43100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NGC_V.csv
Getting data for: NGD.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  4.53  4.75  4.51   4.72  1021800          0             0
2017-09-26  4.62  4.75  4.56   4.58   616900          0             0
2017-09-27  4.54  4.56  4.50   4.51   507100          0             0
2017-09-28  4.55  4.77  4.54   4.67  1063700          0             0
2017-09-29  4.67  4.75  4.63   4.63   685000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NGD_TO.csv
Getting data for: NGEX.V

             Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2019-08-20  0.660  0.660  0.40   0.40   31000          0             0
2019-08-21  0.395  0.395  0.30   0.37   32307          0             0
2019-08-22  0.310  0.340  0.31   0.33   23074          0             0
2019-08-23  0.340  0.355  0.32   0.34  137026          0             0
2019-08-26  0.330  0.360  0.33   0.36   17924          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NGEX_V.csv
Getting data for: NGLD.V
- NGLD.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NGLD_V.csv
Getting data for: NGT.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-04-22,44.549999,44.549999,43.230000,43.430000,10200,0,0
2019-04-23,43.619999,43.849998,42.580002,42.580002,49700,0,0
2019-04-24,43.470001,43.970001,43.250000,43.650002,20000,0,0
2019-04-25,43.910000,44.029999,42.049999,42.740002,116100,0,0
2019-04-26,42.799999,42.930000,42.209999,42.220001,208900,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NGT_TO.csv
Getting data for: NHK.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  4.55  4.55  4.20   4.40   83820          0           0.0
2017-09-26  4.45  4.50  4.35   4.50  333760          0           0.0
2017-09-27  4.45  4.45  4.30   4.30   14780          0           0.0
2017-09-28  4.30  4.30  4.15   4.25   19940          0           0.0
2017-09-29  4.30  4.40  4.15   4.25   21020          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NHK_TO.csv
Getting data for: NICL.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-11-01  0.32  0.38  0.32   0.38   36400          0           0.0
2017-11-02  0.37  0.40  0.36   0.40   62400          0           0.0
2017-11-03  0.44  0.52  0.44   0.52  193050          0           0.0
2017-11-06  0.52  0.52  0.44   0.48   43450          0           0.0
2017-11-07  0.46  0.46  0.37   0.40   41450          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NICL_V.csv
Getting data for: NKG.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.375  0.375  0.375  0.375       0          0           0.0
2017-09-26  0.375  0.375  0.375  0.375       0          0           0.0
2017-09-27  0.375  0.375  0.375  0.375       0          0           0.0
2017-09-28  0.375  0.375  0.375  0.375       0          0           0.0
2017-09-29  0.375  0.375  0.375  0.375       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NKG_V.csv
Getting data for: NKL.V

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2019-11-15  0.450  0.480  0.330  0.390   972260          0             0
2019-11-18  0.390  0.390  0.325  0.350  1714763          0             0
2019-11-19  0.355  0.365  0.345  0.355   972123          0             0
2019-11-20  0.350  0.360  0.345  0.350  1323757          0             0
2019-11-21  0.350  0.360  0.350  0.355   535806          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NKL_V.csv
Getting data for: NLC.V
- NLC.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NLC_V.csv
Getting data for: NLH.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.240  0.240  0.240  0.240       0          0             0
2017-09-26  0.235  0.235  0.235  0.235   17500          0             0
2017-09-27  0.235  0.235  0.235  0.235       0          0             0
2017-09-28  0.205  0.205  0.205  0.205    2000          0             0
2017-09-29  0.205  0.205  0.205  0.205       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NLH_V.csv
Getting data for: NNO.V
- NNO.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NNO_V.csv
Getting data for: NOA.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,4.991820,5.086005,4.991820,5.020075,63200,0.0,0
2017-09-26,5.038912,5.133097,5.001238,5.048331,10400,0.0,0
2017-09-27,5.020075,5.029494,4.991820,5.010657,9000,0.0,0
2017-09-28,5.095424,5.161354,4.991821,4.991821,54000,0.0,0
2017-09-29,5.057749,5.057749,5.010657,5.020075,14600,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NOA_TO.csv
Getting data for: NOC.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.15  0.15  0.15   0.15       0          0           0.0
2017-09-26  0.15  0.15  0.15   0.15       0          0           0.0
2017-09-27  0.15  0.15  0.15   0.15     300          0           0.0
2017-09-28  0.15  0.15  0.15   0.15       0          0           0.0
2017-09-29  0.15  0.15  0.15   0.15   88900          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NOC_V.csv
Getting data for: NOU.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  3.65  3.65  3.55   3.60   16510          0           0.0
2017-09-26  3.65  3.75  3.60   3.75   11960          0           0.0
2017-09-27  3.80  3.90  3.80   3.90   61860          0           0.0
2017-09-28  3.90  3.90  3.80   3.80   25790          0           0.0
2017-09-29  3.90  3.90  3.70   3.80   17460          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NOU_V.csv
Getting data for: NOVC.V
- NOVC.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NOVC_V.csv
Getting data for: NOVR.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-10-01  1.02  1.50  1.02   1.25  604700          0             0
2020-10-02  1.30  1.38  1.20   1.29  600000          0             0
2020-10-05  1.35  1.44  1.30   1.39  192300          0             0
2020-10-06  1.49  1.58  1.39   1.39  245200          0             0
2020-10-07  1.43  1.52  1.42   1.50  155200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NOVR_V.csv
Getting data for: NPI.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,18.760232,19.128722,18.760232,19.112345,259600,0.00,0
2017-09-26,19.112348,19.267933,19.022272,19.120537,199600,0.00,0
2017-09-27,19.079597,19.136919,18.956767,19.014088,170100,0.00,0
2017-09-28,19.063413,19.129177,18.972987,19.104515,98300,0.09,0
2017-09-29,19.120950,19.170272,19.005863,19.038744,172500,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NPI_TO.csv
Getting data for: NPR.V

            Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  6.76   6.76  6.40   6.40   19150          0           0.0
2017-09-26  6.60   7.00  6.50   6.80   16550          0           0.0
2017-09-27  7.10   7.96  6.94   7.96   78050          0           0.0
2017-09-28  8.16   9.78  8.02   9.22  228850          0           0.0
2017-09-29  9.58  10.54  8.50   8.54  241300          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NPR_V.csv
Getting data for: NPTH.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-07-06  0.90  0.90  0.90   0.90   14250          0             0
2020-07-07  0.89  0.89  0.85   0.85    7996          0             0
2020-07-08  0.89  0.89  0.75   0.80   29000          0             0
2020-07-09  0.80  0.80  0.80   0.80       0          0             0
2020-07-10  0.79  0.79  0.77   0.78    4250          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NPTH_V.csv
Getting data for: NRM.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.30  0.30  0.30   0.30       0          0           0.0
2017-09-26  0.30  0.30  0.30   0.30    2000          0           0.0
2017-09-27  0.30  0.30  0.30   0.30       0          0           0.0
2017-09-28  0.35  0.35  0.35   0.35     300          0           0.0
2017-09-29  0.35  0.35  0.35   0.35    8960          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NRM_V.csv
Getting data for: NSR.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-05-29,10.560258,13.440328,10.560258,11.808289,101814,0.0,0.0
2020-06-01,12.384301,13.920338,12.384301,13.536329,55676,0.0,0.0
2020-06-02,13.536330,13.728334,12.288299,12.384301,18745,0.0,0.0
2020-06-03,13.344324,13.920338,12.000292,12.864312,15233,0.0,0.0
2020-06-04,12.960317,13.248324,12.768312,12.960317,18771,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NSR_TO.csv
Getting data for: NTAR.NE
- NTAR.NE: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NTAR_NE.csv
Getting data for: NTR.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-01-02,55.810077,59.035645,55.399391,59.035645,393700,0.0,0
2018-01-03,58.950080,59.651663,58.667734,59.506214,1264700,0.0,0
2018-01-04,59.822778,59.934009,58.924413,59.506214,1113900,0.0,0
2018-01-05,58.924410,59.386429,58.051705,59.146858,1138100,0.0,0
2018-01-08,59.035631,59.061298,57.161889,57.196114,825100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NTR_TO.csv
Getting data for: NUAG.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.35  1.38  1.35   1.38   37500          0             0
2017-09-26  1.35  1.35  1.35   1.35   29700          0             0
2017-09-27  1.35  1.35  1.31   1.31    3000          0             0
2017-09-28  1.31  1.31  1.30   1.30  253200          0             0
2017-09-29  1.35  1.35  1.35   1.35    4000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NUAG_TO.csv
Getting data for: NUMI.V
- NUMI.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NUMI_V.csv
Getting data for: NVA.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  7.75  7.79  7.68   7.78  528000          0             0
2017-09-26  7.73  7.81  7.61   7.80  373600          0             0
2017-09-27  7.83  8.02  7.59   7.72  497700          0             0
2017-09-28  7.77  7.81  7.51   7.64  285000          0             0
2017-09-29  7.53  7.59  7.48   7.55  443100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NVA_TO.csv
Getting data for: NVCN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,57250.0,57250.0,51000.0,52750.0,2,0,0.0
2017-09-26,50000.0,53000.0,48750.0,50750.0,1,0,0.0
2017-09-27,49750.0,51500.0,49000.0,51250.0,1,0,0.0
2017-09-28,51750.0,53500.0,51250.0,52500.0,1,0,0.0
2017-09-29,52750.0,53500.0,52000.0,52750.0,1,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NVCN_TO.csv
Getting data for: NVEI.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-09-18,46.750000,47.310001,44.320000,46.150002,396800,0,0
2020-09-21,46.200001,46.369999,43.509998,45.099998,267300,0,0
2020-09-22,45.349998,46.299999,44.630001,46.099998,160700,0,0
2020-09-23,46.009998,49.880001,45.580002,49.200001,193800,0,0
2020-09-24,49.410000,52.880001,49.200001,51.950001,238200,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NVEI_TO.csv
Getting data for: NVO.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  5.40  6.69  5.35   6.50  1962100          0             0
2017-09-26  6.60  6.92  5.97   6.39  1347400          0             0
2017-09-27  6.34  6.84  6.15   6.70  1358400          0             0
2017-09-28  6.85  7.25  6.43   6.46  1414200          0             0
2017-09-29  6.70  6.71  6.11   6.33   919500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NVO_TO.csv
Getting data for: NWC.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,24.008294,24.072274,23.896329,24.032286,44900,0.00,0
2017-09-26,23.992297,24.040281,23.912323,23.936316,37700,0.00,0
2017-09-27,23.960307,24.624096,23.912323,24.512131,72300,0.00,0
2017-09-28,24.576785,24.706094,24.487885,24.536377,31800,0.32,0
2017-09-29,24.487883,24.487883,24.156529,24.172693,188800,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NWC_TO.csv
Getting data for: NWH-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,8.125093,8.139322,8.089518,8.125093,145500,0.000,0
2017-09-26,8.146436,8.160666,8.075288,8.110862,171100,0.000,0
2017-09-27,8.096637,8.110867,8.025489,8.068178,158600,0.000,0
2017-09-28,8.108970,8.116127,8.030242,8.080341,158300,0.067,0
2017-09-29,8.108970,8.151912,8.073184,8.108970,118100,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NWH-UN_TO.csv
Getting data for: NWST.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.42  0.42  0.40   0.42   45400          0           0.0
2017-09-26  0.42  0.42  0.42   0.42   41000          0           0.0
2017-09-27  0.42  0.44  0.42   0.44   30350          0           0.0
2017-09-28  0.44  0.44  0.44   0.44    7000          0           0.0
2017-09-29  0.44  0.44  0.42   0.44   39750          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NWST_V.csv
Getting data for: NWX.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,0.109837,0.109837,0.109837,0.109837,1500,0.0,0
2017-09-26,0.109837,0.109837,0.109837,0.109837,0,0.0,0
2017-09-27,0.109837,0.109837,0.109837,0.109837,18500,0.0,0
2017-09-28,0.109837,0.109837,0.109837,0.109837,25900,0.0,0
2017-09-29,0.109837,0.109837,0.109837,0.109837,10000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NWX_V.csv
Getting data for: NXE.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.83  2.86  2.75   2.77  782500          0             0
2017-09-26  2.78  2.82  2.75   2.75  290600          0             0
2017-09-27  2.74  2.77  2.69   2.73  596400          0             0
2017-09-28  2.74  2.80  2.73   2.80  426700          0             0
2017-09-29  2.80  2.80  2.76   2.77  346300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NXE_TO.csv
Getting data for: NXO.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.28  1.29  1.20   1.20   65000          0             0
2017-09-26  1.20  1.25  1.18   1.18  186900          0             0
2017-09-27  1.22  1.22  1.18   1.18   66700          0             0
2017-09-28  1.20  1.20  1.15   1.15  155000          0             0
2017-09-29  1.19  1.20  1.16   1.16   48000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NXO_V.csv
Getting data for: NXR-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-02-04,7.561520,7.652622,7.561520,7.607071,45700,0.0,0
2021-02-05,7.616183,7.643514,7.561522,7.625293,19500,0.0,0
2021-02-08,7.616183,7.834830,7.570633,7.834830,119400,0.0,0
2021-02-09,7.834829,7.834829,7.789277,7.789277,31600,0.0,0
2021-02-10,7.880381,7.880381,7.780168,7.834830,34900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//NXR-UN_TO.csv
Getting data for: OBE.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  9.03  9.66  9.03   9.66  122157          0           0.0
2017-09-26  9.52  9.73  9.38   9.45  101957          0           0.0
2017-09-27  9.45  9.52  9.17   9.24   78643          0           0.0
2017-09-28  9.31  9.45  9.03   9.03   49400          0           0.0
2017-09-29  9.03  9.31  9.03   9.24   32571          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OBE_TO.csv
Getting data for: OCG.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   0.6   0.6  0.6    0.6     210          0           0.0
2017-09-26   0.6   0.7  0.6    0.7    1100          0           0.0
2017-09-27   0.6   0.6  0.6    0.6    4200          0           0.0
2017-09-28   0.6   0.6  0.6    0.6       0          0           0.0
2017-09-29   0.6   0.6  0.6    0.6   11470          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OCG_V.csv
Getting data for: OCO.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.06  0.07  0.06   0.07  445000          0             0
2017-09-26  0.07  0.07  0.07   0.07   99000          0             0
2017-09-27  0.07  0.08  0.07   0.07  479700          0             0
2017-09-28  0.08  0.09  0.08   0.09  316000          0             0
2017-09-29  0.08  0.09  0.08   0.08  107700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OCO_V.csv
Getting data for: OG.V

             Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-01-02  0.275  0.280  0.24   0.28   64500          0             0
2018-01-03  0.270  0.280  0.26   0.27   19800          0             0
2018-01-04  0.270  0.270  0.23   0.26   32600          0             0
2018-01-05  0.270  0.295  0.27   0.29   54800          0             0
2018-01-08  0.290  0.290  0.28   0.29   43500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OG_V.csv
Getting data for: OGC.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.569899,3.747408,3.560038,3.717823,1315400,0.0,0
2017-09-26,3.668515,3.737546,3.648792,3.678377,1071700,0.0,0
2017-09-27,3.629069,3.727685,3.629069,3.668515,592800,0.0,0
2017-09-28,3.658653,3.727685,3.658653,3.698100,480000,0.0,0
2017-09-29,3.707962,3.776993,3.707962,3.717823,1726800,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OGC_TO.csv
Getting data for: OGI.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.81  2.88  2.81   2.84  537900          0             0
2017-09-26  2.87  2.88  2.79   2.82  305700          0             0
2017-09-27  2.84  2.86  2.80   2.83  222800          0             0
2017-09-28  2.85  2.86  2.80   2.81  112900          0             0
2017-09-29  2.83  2.85  2.81   2.84  118800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OGI_TO.csv
Getting data for: OGN.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.25  0.25  0.24   0.24   24000          0             0
2017-09-26  0.24  0.24  0.24   0.24       0          0             0
2017-09-27  0.24  0.24  0.24   0.24       0          0             0
2017-09-28  0.24  0.24  0.24   0.24   20000          0             0
2017-09-29  0.26  0.26  0.24   0.24   11500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OGN_V.csv
Getting data for: OGO.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.19  0.19  0.19   0.19       0          0             0
2017-09-26  0.19  0.19  0.19   0.19       0          0             0
2017-09-27  0.19  0.19  0.19   0.19    8000          0             0
2017-09-28  0.20  0.20  0.20   0.20    5000          0             0
2017-09-29  0.19  0.19  0.17   0.18   18000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OGO_V.csv
Getting data for: OLA.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.25  1.28  1.24   1.28  100200          0             0
2017-09-26  1.25  1.25  1.20   1.22   34100          0             0
2017-09-27  1.23  1.23  1.22   1.22   10700          0             0
2017-09-28  1.21  1.21  1.20   1.20    6000          0             0
2017-09-29  1.20  1.20  1.20   1.20    5100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OLA_TO.csv
Getting data for: OM.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.34  1.34  1.32   1.32   50800          0             0
2017-09-26  1.26  1.37  1.24   1.24   44400          0             0
2017-09-27  1.22  1.22  1.17   1.19   11400          0             0
2017-09-28  1.17  1.19  1.11   1.19   56700          0             0
2017-09-29  1.20  1.26  1.20   1.26   18000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OM_V.csv
Getting data for: OMI.TO
- OMI.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OMI_TO.csv
Getting data for: OMM.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.035  0.035  0.035  0.035       0          0             0
2017-09-26  0.035  0.035  0.035  0.035       0          0             0
2017-09-27  0.035  0.035  0.035  0.035       0          0             0
2017-09-28  0.035  0.035  0.035  0.035       0          0             0
2017-09-29  0.035  0.035  0.035  0.035    3500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OMM_V.csv
Getting data for: ONC.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,6.571429,6.571429,6.095238,6.190476,17588,0,0.0
2017-09-26,6.095238,6.380952,6.000000,6.000000,13577,0,0.0
2017-09-27,6.190476,6.190476,5.809524,5.904762,12548,0,0.0
2017-09-28,5.904762,6.285714,5.904762,6.190476,6006,0,0.0
2017-09-29,6.190476,6.285714,6.000000,6.000000,3056,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ONC_TO.csv
Getting data for: ONE.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.04  0.04  0.04   0.04    6000          0             0
2017-09-26  0.04  0.04  0.03   0.03   18000          0             0
2017-09-27  0.04  0.04  0.04   0.04    2300          0             0
2017-09-28  0.03  0.04  0.03   0.04   27000          0             0
2017-09-29  0.04  0.04  0.04   0.04    4500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ONE_V.csv
Getting data for: ONEX.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,95.417054,95.417054,93.904044,94.382355,163100,0.0,0
2017-09-26,94.577583,94.577583,92.761974,93.259804,116300,0.0,0
2017-09-27,93.318359,94.519006,93.093852,94.284729,106800,0.0,0
2017-09-28,94.314018,94.977789,94.079740,94.138313,78500,0.0,0
2017-09-29,94.196877,94.684944,93.913797,93.991890,132200,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ONEX_TO.csv
Getting data for: OPS.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.14  1.17  1.14   1.16   33300          0             0
2017-09-26  1.16  1.23  1.16   1.19   23100          0             0
2017-09-27  1.19  1.19  1.16   1.19   16300          0             0
2017-09-28  1.20  1.24  1.17   1.24   74700          0             0
2017-09-29  1.21  1.22  1.19   1.19   52000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OPS_TO.csv
Getting data for: OR.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,15.483901,15.800290,15.435964,15.742765,341000,0.0,0
2017-09-26,15.618126,15.666063,15.464724,15.522250,231200,0.0,0
2017-09-27,15.416787,15.522250,15.378437,15.426374,178400,0.0,0
2017-09-28,15.388023,15.464723,15.320910,15.378437,100700,0.0,0
2017-09-29,15.435963,15.522251,15.349675,15.435963,315500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OR_TO.csv
Getting data for: ORA.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,1.037751,1.065799,1.009704,1.065799,37950,0.0,0.0
2017-09-26,1.009704,1.009704,1.009704,1.009704,21300,0.0,0.0
2017-09-27,1.009704,1.009704,1.009704,1.009704,0,0.0,0.0
2017-09-28,0.981657,0.981657,0.959219,0.959219,3750,0.0,0.0
2017-09-29,0.959219,0.959219,0.959219,0.959219,0,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ORA_TO.csv
Getting data for: ORE.V
- ORE.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ORE_V.csv
Getting data for: ORG.V
- ORG.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ORG_V.csv
Getting data for: ORL.TO
- ORL.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ORL_TO.csv
Getting data for: OROX.V
- OROX.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OROX_V.csv
Getting data for: OSI.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   1.9   1.9  1.9    1.9       0          0           0.0
2017-09-26   1.9   1.9  1.9    1.9       0          0           0.0
2017-09-27   1.9   1.9  1.9    1.9       0          0           0.0
2017-09-28   1.9   1.9  1.9    1.9       0          0           0.0
2017-09-29   1.9   1.9  1.9    1.9       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OSI_V.csv
Getting data for: OSK.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  4.50  4.64  4.49   4.51  515200          0             0
2017-09-26  4.50  4.56  4.41   4.42  367800          0             0
2017-09-27  4.42  4.45  4.31   4.34  218000          0             0
2017-09-28  4.34  4.36  4.29   4.32  727600          0             0
2017-09-29  4.29  4.42  4.29   4.39  430900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OSK_TO.csv
Getting data for: OSS.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.26  0.26  0.24   0.24   38500          0             0
2017-09-26  0.24  0.24  0.24   0.24       0          0             0
2017-09-27  0.24  0.24  0.24   0.24   35000          0             0
2017-09-28  0.23  0.23  0.22   0.22   52000          0             0
2017-09-29  0.23  0.25  0.23   0.25   23500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OSS_V.csv
Getting data for: OTEX.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,36.063188,36.063188,35.825451,35.926033,374700,0.0,0
2017-09-26,35.916883,35.916883,35.340826,35.514557,285900,0.0,0
2017-09-27,35.715722,36.300925,35.688288,36.090618,577500,0.0,0
2017-09-28,36.191206,36.291785,36.063189,36.200348,306300,0.0,0
2017-09-29,36.346652,37.005007,36.346652,36.812984,467500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OTEX_TO.csv
Getting data for: OVV.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,67.037701,67.418058,66.562256,67.180336,1386660,0.0,0.0
2017-09-26,66.990158,68.036142,66.039269,67.941048,809140,0.0,0.0
2017-09-27,68.939481,70.033005,66.562257,70.033005,1279540,0.0,0.0
2017-09-28,70.793726,71.174083,69.082129,69.462486,1576260,0.0,0.0
2017-09-29,69.272287,70.555986,69.082112,69.842819,615820,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OVV_TO.csv
Getting data for: OYL.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.09  0.09  0.09   0.09   12200          0             0
2017-09-26  0.08  0.08  0.08   0.08    1100          0             0
2017-09-27  0.09  0.09  0.09   0.09    1200          0             0
2017-09-28  0.09  0.09  0.09   0.09    6600          0             0
2017-09-29  0.10  0.10  0.10   0.10    9600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//OYL_V.csv
Getting data for: PAAS.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,20.263486,20.773379,20.225717,20.688396,142500,0.0,0
2017-09-26,20.357910,20.641185,20.084080,20.093523,162700,0.0,0
2017-09-27,19.895228,20.169060,19.876343,20.112404,85200,0.0,0
2017-09-28,20.121854,20.225721,20.027429,20.102970,90900,0.0,0
2017-09-29,20.112407,20.216274,20.065195,20.065195,135700,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PAAS_TO.csv
Getting data for: PAC.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.60  0.70  0.60   0.70   25300          0           0.0
2017-09-26  0.70  0.70  0.70   0.70       0          0           0.0
2017-09-27  0.65  0.70  0.65   0.65   20550          0           0.0
2017-09-28  0.60  0.65  0.60   0.65    7700          0           0.0
2017-09-29  0.65  0.65  0.65   0.65    1100          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PAC_V.csv
Getting data for: PAT.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-07-10  1.34  1.38  1.33   1.38  347800          0             0
2018-07-11  1.34  1.38  1.34   1.35  206000          0             0
2018-07-12  1.38  1.41  1.35   1.39  196800          0             0
2018-07-13  1.40  1.44  1.39   1.44  194100          0             0
2018-07-16  1.44  1.46  1.37   1.37  302400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PAT_TO.csv
Getting data for: PAY.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2021-03-19  6.00  6.45  6.00   6.00  1391700          0             0
2021-03-22  6.05  6.05  5.55   5.55   627400          0             0
2021-03-23  5.39  5.55  5.25   5.45   219000          0             0
2021-03-24  5.50  5.50  5.00   5.00    98600          0             0
2021-03-25  5.00  5.00  4.51   4.75   156600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PAY_TO.csv
Getting data for: PBH.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,87.981869,88.160510,86.811757,87.124382,82500,0.00,0
2017-09-26,87.633517,87.660313,85.802420,87.544197,89800,0.00,0
2017-09-27,87.669246,87.669246,85.882812,87.320892,70000,0.00,0
2017-09-28,87.823236,89.698110,87.742496,88.011620,55400,0.42,0
2017-09-29,88.388415,89.554611,88.146209,89.258575,72900,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PBH_TO.csv
Getting data for: PBL.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,14.120209,14.120209,13.761877,13.761877,21200,0.00,0
2017-09-26,13.984624,14.139579,13.800616,14.139579,2900,0.00,0
2017-09-27,13.994309,14.052417,13.819986,14.033048,6000,0.00,0
2017-09-28,14.159211,14.168916,13.926297,14.071868,5900,0.03,0
2017-09-29,14.071869,14.071869,13.974821,13.974821,11100,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PBL_TO.csv
Getting data for: PBX.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-03-22  0.22  0.22  0.22   0.22    3750          0           0.0
2018-03-23  0.22  0.22  0.22   0.22       0          0           0.0
2018-03-26  0.22  0.22  0.18   0.20  269850          0           0.0
2018-03-27  0.20  0.20  0.20   0.20   22500          0           0.0
2018-03-28  0.20  0.20  0.20   0.20   44250          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PBX_V.csv
Getting data for: PCLO.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2019-03-04  8.00  9.19  7.97   8.83  428100          0             0
2019-03-05  8.90  9.35  8.87   9.03  409800          0             0
2019-03-06  9.01  9.20  8.75   8.90  217300          0             0
2019-03-07  8.82  8.90  8.61   8.90  165700          0             0
2019-03-08  8.71  8.87  8.62   8.87  108000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PCLO_V.csv
Getting data for: PD.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,78.000000,79.800003,76.199997,76.199997,211570,0,0.0
2017-09-26,76.199997,78.400002,75.199997,77.800003,105345,0,0.0
2017-09-27,79.000000,80.000000,76.800003,78.800003,89630,0,0.0
2017-09-28,79.599998,80.199997,78.400002,79.800003,60275,0,0.0
2017-09-29,79.599998,79.800003,77.199997,77.599998,82910,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PD_TO.csv
Getting data for: PE.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  3.06  3.12  3.00   3.00    9450          0           0.0
2017-09-26  3.00  3.06  3.00   3.00   30200          0           0.0
2017-09-27  3.00  3.00  2.88   2.88   33317          0           0.0
2017-09-28  2.94  3.00  2.88   2.94   38600          0           0.0
2017-09-29  3.00  3.00  2.88   2.88   52033          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PE_V.csv
Getting data for: PEA.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,0.134725,0.134725,0.134725,0.134725,0,0.0,0
2017-09-26,0.134725,0.134725,0.134725,0.134725,0,0.0,0
2017-09-27,0.134725,0.134725,0.134725,0.134725,0,0.0,0
2017-09-28,0.134725,0.134725,0.134725,0.134725,0,0.0,0
2017-09-29,0.134725,0.134725,0.134725,0.134725,0,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PEA_TO.csv
Getting data for: PEAK.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-08-17  0.97  1.19  0.90   1.17  547048          0             0
2020-08-18  1.24  1.34  1.00   1.04  485372          0             0
2020-08-19  1.00  1.00  0.89   0.90  352188          0             0
2020-08-20  0.89  0.95  0.82   0.95  341518          0             0
2020-08-21  0.95  0.98  0.90   0.94   42160          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PEAK_V.csv
Getting data for: PERU.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,0.689655,0.689655,0.689655,0.689655,0,0,0.0
2017-09-26,0.689655,0.689655,0.689655,0.689655,0,0,0.0
2017-09-27,0.689655,0.689655,0.689655,0.689655,0,0,0.0
2017-09-28,0.689655,0.689655,0.689655,0.689655,0,0,0.0
2017-09-29,0.689655,0.689655,0.689655,0.689655,0,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PERU_V.csv
Getting data for: PEY.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,17.525750,17.894962,17.439340,17.816406,1186400,0.00,0
2017-09-26,17.784982,17.784982,17.368638,17.517893,552000,0.00,0
2017-09-27,17.517894,17.557173,16.983717,17.093695,728800,0.00,0
2017-09-28,17.046319,17.085796,16.248877,16.312040,1183100,0.11,0
2017-09-29,16.335726,16.335726,16.027801,16.106756,891900,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PEY_TO.csv
Getting data for: PFM.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.360  0.360  0.360  0.360  360600          0             0
2017-09-26  0.355  0.355  0.355  0.355    1500          0             0
2017-09-27  0.355  0.355  0.355  0.355    3000          0             0
2017-09-28  0.360  0.400  0.360  0.370  266500          0             0
2017-09-29  0.400  0.400  0.400  0.400    2000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PFM_V.csv
Getting data for: PG.TO
- PG.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PG_TO.csv
Getting data for: PGLD.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-10-16,0.659998,0.839998,0.659998,0.719998,19166,0,0.0
2018-10-17,0.719998,0.719998,0.629998,0.719998,9166,0,0.0
2018-10-18,0.839998,0.959998,0.839998,0.959998,32500,0,0.0
2018-10-19,1.019997,1.019997,0.899998,0.899998,10333,0,0.0
2018-10-22,0.899998,0.899998,0.839998,0.839998,12500,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PGLD_V.csv
Getting data for: PGM.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.58  0.58  0.56   0.56  157700          0             0
2017-09-26  0.57  0.59  0.55   0.55  374100          0             0
2017-09-27  0.55  0.56  0.54   0.55  209800          0             0
2017-09-28  0.55  0.57  0.55   0.56  172200          0             0
2017-09-29  0.56  0.56  0.54   0.54   85200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PGM_V.csv
Getting data for: PGZ.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.100  0.100  0.100  0.100       0          0             0
2017-09-26  0.100  0.100  0.100  0.100       0          0             0
2017-09-27  0.120  0.125  0.120  0.125   11000          0             0
2017-09-28  0.125  0.125  0.125  0.125       0          0             0
2017-09-29  0.130  0.130  0.125  0.125   12000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PGZ_V.csv
Getting data for: PHA.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2019-01-14  0.20  0.20  0.20   0.20     500          0             0
2019-01-15  0.20  0.20  0.20   0.20       0          0             0
2019-01-16  0.22  0.22  0.22   0.22    2000          0             0
2019-01-17  0.22  0.22  0.22   0.22    2340          0             0
2019-01-18  0.25  0.25  0.25   0.25    2500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PHA_V.csv
Getting data for: PHO.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.37  1.38  1.36   1.36   60450          0             0
2017-09-26  1.37  1.39  1.36   1.36   71400          0             0
2017-09-27  1.37  1.40  1.36   1.40   61627          0             0
2017-09-28  1.40  1.40  1.38   1.40  245195          0             0
2017-09-29  1.40  1.51  1.40   1.51  920625          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PHO_TO.csv
Getting data for: PHX.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,2.277165,2.305049,2.184220,2.212103,54300,0.0,0
2017-09-26,2.184220,2.249282,2.174925,2.184220,21200,0.0,0
2017-09-27,2.184219,2.184219,2.081979,2.081979,28100,0.0,0
2017-09-28,2.156336,2.221398,2.100569,2.128452,34400,0.0,0
2017-09-29,2.156336,2.277165,2.156336,2.212103,43800,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PHX_TO.csv
Getting data for: PHYS.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2018-02-05  13.53  13.53  13.53  13.53       0          0             0
2018-02-06  13.53  13.53  13.53  13.53       0          0             0
2018-02-07  13.53  13.53  13.53  13.53       0          0             0
2018-02-08  13.55  13.55  13.55  13.55    7000          0             0
2018-02-09  13.55  13.55  13.55  13.55       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PHYS_TO.csv
Getting data for: PIF.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,11.130686,11.170296,10.727974,11.071269,14500,0.0,0
2017-09-26,11.163694,11.163694,10.827000,11.077870,11200,0.0,0
2017-09-27,11.044863,11.044863,10.893021,10.919429,5100,0.0,0
2017-09-28,10.992046,11.355148,10.893019,11.269323,31400,0.0,0
2017-09-29,11.335342,11.335342,10.992046,11.249518,9200,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PIF_TO.csv
Getting data for: PINK.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.13  0.13  0.13   0.13       0          0             0
2017-09-26  0.13  0.13  0.13   0.13     600          0             0
2017-09-27  0.13  0.13  0.13   0.13       0          0             0
2017-09-28  0.13  0.13  0.13   0.13       0          0             0
2017-09-29  0.13  0.13  0.13   0.13   23500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PINK_V.csv
Getting data for: PIPE.TO

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   3.7   3.7  3.6    3.7   23520          0           0.0
2017-09-26   3.7   3.7  3.6    3.6   34680          0           0.0
2017-09-27   3.6   3.6  3.5    3.5  144740          0           0.0
2017-09-28   3.5   3.6  3.4    3.4   93830          0           0.0
2017-09-29   3.4   3.5  3.4    3.5   35530          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PIPE_TO.csv
Getting data for: PKI.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,21.619386,21.922817,21.535100,21.872246,568400,0.0,0
2017-09-26,21.914386,22.125102,21.830100,22.108244,288400,0.0,0
2017-09-27,22.150387,22.192529,21.804814,21.838528,244000,0.0,0
2017-09-28,21.754241,21.956528,21.661528,21.712099,211800,0.0,0
2017-09-29,21.712099,21.712099,21.341240,21.391811,725300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PKI_TO.csv
Getting data for: PKT.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.41  0.42  0.41   0.42   99600          0             0
2017-09-26  0.42  0.42  0.42   0.42       0          0             0
2017-09-27  0.42  0.43  0.42   0.43   29000          0             0
2017-09-28  0.44  0.44  0.44   0.44    1000          0             0
2017-09-29  0.42  0.42  0.42   0.42    2000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PKT_V.csv
Getting data for: PL.TO
- PL.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PL_TO.csv
Getting data for: PLAN.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.255  0.270  0.255  0.270   38667          0           0.0
2017-09-26  0.255  0.270  0.255  0.270   11367          0           0.0
2017-09-27  0.255  0.255  0.255  0.255   32333          0           0.0
2017-09-28  0.255  0.255  0.240  0.240  104333          0           0.0
2017-09-29  0.255  0.255  0.255  0.255   42500          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PLAN_V.csv
Getting data for: PLC.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,17.512505,17.521727,17.429507,17.503283,27200,0.000,0
2017-09-26,17.521729,17.521729,17.429509,17.521729,11600,0.000,0
2017-09-27,17.521726,17.540170,17.466394,17.475616,35100,0.000,0
2017-09-28,17.529216,17.787951,17.464533,17.556938,20800,0.038,0
2017-09-29,17.556931,17.843385,17.501488,17.741741,9800,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PLC_TO.csv
Getting data for: PLTHCSE
- PLTHCSE: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PLTHCSE.csv
Getting data for: PLU.V
- PLU.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PLU_V.csv
Getting data for: PLUR.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2020-09-25  0.350  0.400  0.285  0.285  404293          0             0
2020-09-28  0.295  0.295  0.255  0.275  382970          0             0
2020-09-29  0.275  0.275  0.255  0.260  116900          0             0
2020-09-30  0.250  0.265  0.250  0.260  119000          0             0
2020-10-01  0.260  0.265  0.250  0.265  223000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PLUR_V.csv
Getting data for: PLZ-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.097673,3.133525,3.097673,3.126355,84500,0.000,0
2017-09-26,3.147866,3.147866,3.126355,3.140696,62800,0.000,0
2017-09-27,3.140695,3.155036,3.126354,3.133525,80000,0.000,0
2017-09-28,3.142896,3.150105,3.121271,3.135688,65100,0.023,0
2017-09-29,3.128479,3.157313,3.121270,3.157313,94600,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PLZ-UN_TO.csv
Getting data for: PNG.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.190  0.200  0.185  0.200  126500          0             0
2017-09-26  0.200  0.210  0.185  0.185  103318          0             0
2017-09-27  0.180  0.195  0.170  0.185  535350          0             0
2017-09-28  0.185  0.185  0.180  0.185  192444          0             0
2017-09-29  0.180  0.185  0.180  0.185   63500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PNG_V.csv
Getting data for: POND.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,0.694444,0.694444,0.694444,0.694444,0,0,0.0
2017-09-26,0.694444,0.694444,0.694444,0.694444,0,0,0.0
2017-09-27,0.694444,0.694444,0.694444,0.694444,0,0,0.0
2017-09-28,0.694444,0.694444,0.694444,0.694444,0,0,0.0
2017-09-29,0.694444,0.694444,0.694444,0.694444,0,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//POND_V.csv
Getting data for: POU.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,23.956871,24.188245,23.764059,24.091839,260700,0.0,0
2017-09-26,23.841182,24.332852,23.243466,24.120760,388900,0.0,0
2017-09-27,24.188240,24.197881,23.619445,24.101475,424000,0.0,0
2017-09-28,24.207524,24.352132,23.764056,23.966509,229500,0.0,0
2017-09-29,23.802621,24.053276,23.744776,23.812262,213900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//POU_TO.csv
Getting data for: POW.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,23.445399,23.793860,23.437824,23.778709,765300,0.0,0
2017-09-26,23.755985,23.763561,23.551453,23.649931,665100,0.0,0
2017-09-27,23.763558,23.990815,23.680230,23.975664,641100,0.0,0
2017-09-28,23.930217,23.998394,23.862039,23.915066,455800,0.0,0
2017-09-29,23.968090,24.104444,23.922639,24.021116,728100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//POW_TO.csv
Getting data for: PPL.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,31.630277,32.432173,31.578303,32.335648,2057000,0.0,0
2017-09-26,32.276258,32.387630,32.075784,32.150032,1277300,0.0,0
2017-09-27,32.224278,32.380201,32.187151,32.305950,1144900,0.0,0
2017-09-28,32.209422,32.803417,32.209422,32.788567,5054800,0.0,0
2017-09-29,32.781161,32.981632,32.417337,32.506435,1414700,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PPL_TO.csv
Getting data for: PPTA.TO

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   7.1   7.1  6.8    6.8    8110          0           0.0
2017-09-26   7.0   7.0  6.8    6.8    1790          0           0.0
2017-09-27   6.9   6.9  6.5    6.5   19090          0           0.0
2017-09-28   6.6   6.7  6.5    6.5    2400          0           0.0
2017-09-29   6.8   6.8  6.5    6.5    4260          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PPTA_TO.csv
Getting data for: PRB.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.64  1.64  1.59   1.63   76300          0             0
2017-09-26  1.63  1.66  1.60   1.65  195500          0             0
2017-09-27  1.62  1.62  1.61   1.61   10500          0             0
2017-09-28  1.61  1.62  1.55   1.55   51300          0             0
2017-09-29  1.62  1.64  1.57   1.60  149400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PRB_V.csv
Getting data for: PRMW.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,16.987128,17.005541,16.756950,16.849020,103400,0.0,0
2017-09-26,16.849025,16.904269,16.582020,16.858232,234600,0.0,0
2017-09-27,16.931889,17.134446,16.729333,16.931889,224100,0.0,0
2017-09-28,16.931885,17.180478,16.922678,17.143650,102000,0.0,0
2017-09-29,17.134443,17.475105,17.125236,17.226513,132900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PRMW_TO.csv
Getting data for: PRU.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.33  0.35  0.33   0.35  557900          0             0
2017-09-26  0.34  0.35  0.33   0.35   41400          0             0
2017-09-27  0.35  0.35  0.34   0.35   15500          0             0
2017-09-28  0.34  0.35  0.34   0.35  635800          0             0
2017-09-29  0.35  0.35  0.33   0.33  671800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PRU_TO.csv
Getting data for: PRV-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,4.314391,4.373224,4.294780,4.353613,31784,0.0000,0.0
2017-09-26,4.373223,4.373223,4.314391,4.334002,20046,0.0000,0.0
2017-09-27,4.353613,4.392834,4.314391,4.334002,27224,0.0000,0.0
2017-09-28,4.368594,4.408129,4.329060,4.329060,24985,0.0525,0.0
2017-09-29,4.348827,4.348827,4.329060,4.329060,22866,0.0000,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PRV-UN_TO.csv
Getting data for: PRYM.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.22  0.22  0.22   0.22    4500          0           0.0
2017-09-26  0.22  0.22  0.22   0.22       0          0           0.0
2017-09-27  0.22  0.22  0.22   0.22       0          0           0.0
2017-09-28  0.22  0.22  0.22   0.22     500          0           0.0
2017-09-29  0.22  0.22  0.22   0.22       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PRYM_V.csv
Getting data for: PSI.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,15.636377,15.974684,15.553863,15.776650,169500,0.0,0
2017-09-26,15.644629,15.817909,15.570368,15.710642,78100,0.0,0
2017-09-27,15.652884,15.776656,15.553868,15.636382,54800,0.0,0
2017-09-28,15.669384,15.916926,15.529110,15.545613,79200,0.0,0
2017-09-29,15.537364,15.677638,15.479605,15.496108,178200,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PSI_TO.csv
Getting data for: PSK.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,27.662495,28.262375,27.585914,28.156013,715600,0.000,0
2017-09-26,27.875225,28.096459,27.836936,27.883736,1012200,0.000,0
2017-09-27,27.934792,27.934792,27.373200,27.543379,481000,0.000,0
2017-09-28,27.562984,27.622662,27.059977,27.400997,379300,0.063,0
2017-09-29,27.281652,27.639722,27.077040,27.221973,540000,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PSK_TO.csv
Getting data for: PSLV.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-02-05  7.50  7.50  7.50   7.50       0          0             0
2018-02-06  7.50  7.50  7.50   7.50       0          0             0
2018-02-07  7.60  7.60  7.60   7.60     800          0             0
2018-02-08  7.60  7.65  7.53   7.53   13100          0             0
2018-02-09  7.53  7.53  7.53   7.53       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PSLV_TO.csv
Getting data for: PSYB.V

             Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2021-02-25  0.750  0.90  0.55   0.61  2636604          0             0
2021-02-26  0.610  0.65  0.51   0.60   241849          0             0
2021-03-01  0.600  0.62  0.48   0.48   358722          0             0
2021-03-02  0.480  0.55  0.47   0.47   152711          0             0
2021-03-03  0.475  0.53  0.47   0.50    69050          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PSYB_V.csv
Getting data for: PTK.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   4.0   4.1  3.8    3.9   36200          0           0.0
2017-09-26   3.9   3.9  3.7    3.7   38560          0           0.0
2017-09-27   3.7   3.8  3.6    3.6   13570          0           0.0
2017-09-28   3.8   3.8  3.4    3.5   40130          0           0.0
2017-09-29   3.5   3.5  3.4    3.4   14650          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PTK_V.csv
Getting data for: PTM.TO

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   4.7   4.9  4.6    4.6    5340          0           0.0
2017-09-26   4.6   4.6  4.5    4.5    8770          0           0.0
2017-09-27   4.5   4.6  4.3    4.6    5560          0           0.0
2017-09-28   4.6   4.7  4.5    4.7    8100          0           0.0
2017-09-29   4.9   5.5  4.9    5.2   10830          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PTM_TO.csv
Getting data for: PTQ.V
- PTQ.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PTQ_V.csv
Getting data for: PVG.TO
- PVG.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PVG_TO.csv
Getting data for: PWM.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.30  0.30  0.30   0.30   15100          0             0
2017-09-26  0.28  0.29  0.28   0.29  336400          0             0
2017-09-27  0.28  0.30  0.28   0.30  273100          0             0
2017-09-28  0.29  0.31  0.29   0.30  256500          0             0
2017-09-29  0.31  0.32  0.31   0.32  444900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PWM_V.csv
Getting data for: PXA.V
- PXA.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PXA_V.csv
Getting data for: PXI.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.30  0.30  0.25   0.25    9800          0           0.0
2017-09-26  0.25  0.25  0.25   0.25   67400          0           0.0
2017-09-27  0.25  0.25  0.25   0.25       0          0           0.0
2017-09-28  0.25  0.25  0.25   0.25    1000          0           0.0
2017-09-29  0.20  0.20  0.20   0.20   14400          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PXI_V.csv
Getting data for: PXT.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,14.284047,14.836364,14.284047,14.779228,1032200,0.0,0
2017-09-26,14.636387,15.093476,14.474501,14.903022,978300,0.0,0
2017-09-27,14.893500,14.912545,14.169775,14.474501,912000,0.0,0
2017-09-28,14.588773,14.693523,14.265001,14.322138,583500,0.0,0
2017-09-29,14.303092,14.569728,14.131684,14.331660,648900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PXT_TO.csv
Getting data for: PYR.TO

            Open  High    Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  0.56  0.56  0.520  0.530    89300          0             0
2017-09-26  0.53  0.54  0.495  0.495   119300          0             0
2017-09-27  0.50  0.51  0.495  0.500    71400          0             0
2017-09-28  0.51  0.51  0.460  0.470   301800          0             0
2017-09-29  0.46  0.48  0.405  0.480  1321700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PYR_TO.csv
Getting data for: PZA.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,11.674415,11.674415,11.527787,11.527787,21000,0.000,0
2017-09-26,11.660456,11.660456,11.499862,11.541757,6900,0.000,0
2017-09-27,11.548740,11.695367,11.548740,11.688385,8500,0.000,0
2017-09-28,11.583901,11.710118,11.576889,11.576889,6200,0.071,0
2017-09-29,11.583904,11.675060,11.569880,11.611952,6600,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//PZA_TO.csv
Getting data for: QBR-B.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,20.985755,20.985755,20.735500,20.829346,221800,0.0,0.0
2017-09-26,20.811468,20.950003,20.780186,20.847219,303000,0.0,0.0
2017-09-27,20.842752,20.905316,20.771250,20.820408,132400,0.0,0.0
2017-09-28,20.820405,20.967877,20.690808,20.865093,257400,0.0,0.0
2017-09-29,20.869572,21.034919,20.802538,20.954479,283400,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//QBR-B_TO.csv
Getting data for: QBTC-U.TO

             Open   High    Low   Close  Volume  Dividends  Stock Splits
Date
2020-04-09  11.50  11.51  10.85  11.000   71235          0             0
2020-04-13  12.15  14.24  11.75  12.000  108349          0             0
2020-04-14  12.71  12.71  10.95  10.950   67819          0             0
2020-04-15  11.38  11.38  10.01  10.275   46251          0             0
2020-04-16  10.88  11.50  10.50  11.500   31157          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//QBTC-U_TO.csv
Getting data for: QEX.V
- QEX.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//QEX_V.csv
Getting data for: QMC.V

             Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.180  0.180  0.17  0.175  196500          0             0
2017-09-26  0.175  0.175  0.17  0.170   54000          0             0
2017-09-27  0.170  0.170  0.17  0.170       0          0             0
2017-09-28  0.150  0.170  0.15  0.150   83500          0             0
2017-09-29  0.150  0.155  0.15  0.150   73600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//QMC_V.csv
Getting data for: QRC.V
- QRC.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//QRC_V.csv
Getting data for: QSR.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,72.389143,72.434541,71.499258,71.871559,383000,0.0,0
2017-09-26,72.243867,72.243867,70.999854,71.699043,344800,0.0,0
2017-09-27,72.071342,72.407314,71.235938,72.380074,510300,0.0,0
2017-09-28,71.953278,72.479945,71.735350,72.125809,271600,0.0,0
2017-09-29,72.443618,72.634306,72.007761,72.389137,354500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//QSR_TO.csv
Getting data for: QST.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.35  1.40  1.35   1.38   43300          0             0
2017-09-26  1.38  1.47  1.38   1.47   94100          0             0
2017-09-27  1.42  1.45  1.40   1.40   31700          0             0
2017-09-28  1.43  1.47  1.42   1.47   72000          0             0
2017-09-29  1.47  1.49  1.42   1.45   28500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//QST_V.csv
Getting data for: QTRH.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,1.435667,1.444368,1.426966,1.426966,162000,0.0,0
2017-09-26,1.444368,1.470472,1.435667,1.444368,358900,0.0,0
2017-09-27,1.453069,1.479172,1.453069,1.453069,200400,0.0,0
2017-09-28,1.470471,1.470471,1.435667,1.435667,113100,0.0,0
2017-09-29,1.444368,1.453069,1.426966,1.426966,154600,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//QTRH_TO.csv
Getting data for: QUIS.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.21  0.21  0.21   0.21       0          0             0
2017-09-26  0.21  0.21  0.21   0.21       0          0             0
2017-09-27  0.21  0.21  0.21   0.21       0          0             0
2017-09-28  0.21  0.21  0.21   0.21       0          0             0
2017-09-29  0.21  0.21  0.21   0.21       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//QUIS_V.csv
Getting data for: QYOU.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.410  0.410  0.370  0.370    7975          0             0
2017-09-26  0.400  0.405  0.365  0.400   88500          0             0
2017-09-27  0.400  0.400  0.345  0.345  202100          0             0
2017-09-28  0.360  0.365  0.345  0.345   85000          0             0
2017-09-29  0.355  0.355  0.340  0.340  570124          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//QYOU_V.csv
Getting data for: RAY-A.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,7.710508,7.963446,7.588119,7.938967,108200,0.0,0
2017-09-26,7.914492,7.938969,7.645236,7.930810,9600,0.0,0
2017-09-27,7.947129,7.947129,7.628918,7.710510,16100,0.0,0
2017-09-28,7.653392,7.890011,7.588118,7.824737,89000,0.0,0
2017-09-29,7.832898,7.873694,7.669712,7.857376,36000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RAY-A_TO.csv
Getting data for: RBA.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,35.695754,35.888505,35.530538,35.805897,103700,0.0,0
2017-09-26,35.778366,35.778366,35.246007,35.310257,66800,0.0,0
2017-09-27,35.438752,35.558075,34.741173,35.062428,96700,0.0,0
2017-09-28,35.053249,35.447931,34.823783,35.429573,152600,0.0,0
2017-09-29,35.475468,36.228116,35.328610,36.209759,111100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RBA_TO.csv
Getting data for: RBX.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,0.091667,0.091667,0.091667,0.091667,32800,0.0,0
2017-09-26,0.110000,0.110000,0.100833,0.100833,96500,0.0,0
2017-09-27,0.100833,0.110000,0.100833,0.110000,88500,0.0,0
2017-09-28,0.100833,0.100833,0.100833,0.100833,17400,0.0,0
2017-09-29,0.100833,0.100833,0.100833,0.100833,22000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RBX_V.csv
Getting data for: RCC-H.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,0.09442,0.09442,0.09442,0.09442,0,0,0.0
2017-09-26,0.09442,0.09442,0.09442,0.09442,0,0,0.0
2017-09-27,0.09442,0.09442,0.09442,0.09442,0,0,0.0
2017-09-28,0.09442,0.09442,0.09442,0.09442,0,0,0.0
2017-09-29,0.09442,0.09442,0.09442,0.09442,0,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RCC-H_V.csv
Getting data for: RCG.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,19.970078,20.346872,19.593284,20.120796,2370,0.0,0.0
2017-09-26,20.120797,20.120797,19.668644,19.668644,1980,0.0,0.0
2017-09-27,19.593284,19.744003,18.312184,18.613621,13030,0.0,0.0
2017-09-28,18.839695,19.291848,18.764336,18.764336,2620,0.0,0.0
2017-09-29,18.915054,19.367207,18.839695,18.839695,7050,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RCG_TO.csv
Getting data for: RCH.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,29.563604,29.716585,29.362815,29.716585,10300,0.0,0
2017-09-26,29.381938,30.500612,29.381938,30.376316,62000,0.0,0
2017-09-27,30.519733,30.586662,30.271139,30.500610,21000,0.0,0
2017-09-28,30.462368,30.557980,29.993864,30.041670,26000,0.0,0
2017-09-29,30.137280,30.137280,29.754827,30.003420,29400,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RCH_TO.csv
Getting data for: RCI-B.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,54.384751,54.564128,54.231004,54.444546,586100,0.0,0
2017-09-26,54.512881,54.581215,53.786841,54.239548,554700,0.0,0
2017-09-27,54.342047,54.974131,54.342047,54.905796,961600,0.0,0
2017-09-28,54.880166,54.991205,54.512874,54.794750,534800,0.0,0
2017-09-29,54.888714,55.213295,54.675173,54.957043,554800,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RCI-B_TO.csv
Getting data for: RCK.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.10  2.10  1.19   1.26   26900          0             0
2017-09-26  1.24  1.24  1.15   1.19   24200          0             0
2017-09-27  1.13  1.17  1.13   1.17    6700          0             0
2017-09-28  1.18  1.20  1.11   1.17   46800          0             0
2017-09-29  1.18  1.25  1.18   1.25   29800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RCK_V.csv
Getting data for: RDG.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2020-08-17  0.58  0.69  0.54   0.64  1573102          0             0
2020-08-18  0.68  0.72  0.59   0.59   793442          0             0
2020-08-19  0.60  0.63  0.60   0.63   123000          0             0
2020-08-20  0.62  0.63  0.57   0.58   235470          0             0
2020-08-21  0.64  0.64  0.58   0.62    64730          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RDG_V.csv
Getting data for: REAL.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   9.99  10.15   9.98  10.15   23000          0             0
2017-09-26  10.20  10.99  10.20  10.94   57600          0             0
2017-09-27  11.00  11.37  10.78  10.90  152400          0             0
2017-09-28  11.20  11.20  10.50  10.60   55100          0             0
2017-09-29  10.60  10.70  10.56  10.62   19500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//REAL_TO.csv
Getting data for: REAX.V

             Open  High    Low  Close  Volume  Dividends  Stock Splits
Date
2020-06-12  0.155  0.20  0.155   0.20    3500          0           0.0
2020-06-15  0.200  0.30  0.200   0.30  282750          0           0.0
2020-06-16  0.310  0.40  0.270   0.27  191478          0           0.0
2020-06-17  0.270  0.60  0.240   0.60  491468          0           0.0
2020-06-18  0.590  0.59  0.355   0.41  147627          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//REAX_V.csv
Getting data for: RECO.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.22  0.22  0.22   0.22       0          0           0.0
2017-09-26  0.22  0.22  0.22   0.22       0          0           0.0
2017-09-27  0.22  0.22  0.22   0.22    2500          0           0.0
2017-09-28  0.22  0.22  0.22   0.22       0          0           0.0
2017-09-29  0.22  0.22  0.22   0.22       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RECO_V.csv
Getting data for: RECP.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,21.651672,22.012058,21.623219,21.898252,13300,0.0,0
2017-09-26,21.755996,22.903543,21.680125,22.761286,74200,0.0,0
2017-09-27,22.761286,22.761286,22.438834,22.495737,40500,0.0,0
2017-09-28,22.704385,22.713869,22.514706,22.552643,28800,0.0,0
2017-09-29,22.609545,23.235480,22.144835,23.131157,47600,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RECP_TO.csv
Getting data for: REG.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.44  3.00  2.37   2.69  449100          0             0
2017-09-26  2.60  2.67  2.28   2.38  150800          0             0
2017-09-27  2.36  2.36  2.02   2.15  232500          0             0
2017-09-28  2.13  2.22  2.07   2.15   44000          0             0
2017-09-29  2.16  2.27  2.05   2.27   43300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//REG_V.csv
Getting data for: REI-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,17.633943,17.924121,17.619061,17.879478,479400,0.000,0
2017-09-26,17.879480,17.886921,17.723229,17.775312,254600,0.000,0
2017-09-27,17.790200,17.879487,17.790200,17.842283,500600,0.000,0
2017-09-28,17.930513,17.930513,17.773490,17.878172,376700,0.118,0
2017-09-29,17.908084,17.908084,17.810879,17.893129,552800,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//REI-UN_TO.csv
Getting data for: RET-A.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.702165,3.702165,3.596389,3.649277,20614,0.0,0
2017-09-26,3.649276,3.755053,3.622833,3.658091,8500,0.0,0
2017-09-27,3.658091,3.755053,3.649277,3.666906,8095,0.0,0
2017-09-28,3.693350,3.746238,3.666906,3.702164,14241,0.0,0
2017-09-29,3.684535,3.693350,3.569945,3.578759,30944,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RET-A_V.csv
Getting data for: REVO.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.07  0.07  0.06   0.06  476000          0             0
2017-09-26  0.06  0.07  0.06   0.07  346800          0             0
2017-09-27  0.06  0.07  0.06   0.06  254200          0             0
2017-09-28  0.07  0.07  0.06   0.06   65800          0             0
2017-09-29  0.07  0.07  0.06   0.06  167700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//REVO_V.csv
Getting data for: RFP.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  5.76  5.80  5.74   5.80    1700          0             0
2017-09-26  5.86  6.10  5.86   5.93    4100          0             0
2017-09-27  6.02  6.12  5.91   6.02    4200          0             0
2017-09-28  5.97  6.20  5.97   6.10   13400          0             0
2017-09-29  6.09  6.30  6.09   6.18    4000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RFP_TO.csv
Getting data for: RHC.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.500  0.500  0.475  0.475   22000          0           0.0
2017-09-26  0.475  0.500  0.475  0.500    5800          0           0.0
2017-09-27  0.525  0.525  0.525  0.525   20000          0           0.0
2017-09-28  0.550  0.600  0.550  0.600   39500          0           0.0
2017-09-29  0.600  0.600  0.600  0.600       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RHC_V.csv
Getting data for: RHT.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-07-10  1.83  1.83  1.76   1.76  252600          0             0
2018-07-11  1.78  1.78  1.70   1.70  443200          0             0
2018-07-12  1.76  1.83  1.71   1.72  766100          0             0
2018-07-13  1.73  1.74  1.70   1.70  225500          0             0
2018-07-16  1.72  1.72  1.61   1.61  301400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RHT_V.csv
Getting data for: RIO.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.10  1.10  1.10   1.10    1700          0             0
2017-09-26  1.10  1.10  1.10   1.10     900          0             0
2017-09-27  1.10  1.10  1.10   1.10       0          0             0
2017-09-28  1.01  1.10  1.01   1.10    2300          0             0
2017-09-29  1.00  1.07  1.00   1.07    3500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RIO_V.csv
Getting data for: RIV.TO
- RIV.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RIV_TO.csv
Getting data for: RKR.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.175  0.175  0.175  0.175   32000          0           0.0
2017-09-26  0.175  0.175  0.175  0.175    6800          0           0.0
2017-09-27  0.175  0.175  0.150  0.150   14800          0           0.0
2017-09-28  0.175  0.200  0.150  0.200   53600          0           0.0
2017-09-29  0.175  0.175  0.175  0.175    3200          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RKR_V.csv
Getting data for: RMK.V
- RMK.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RMK_V.csv
Getting data for: RNW.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,9.963200,10.178996,9.926624,10.124133,352000,0.000,0
2017-09-26,10.131447,10.160707,10.094871,10.131447,188300,0.000,0
2017-09-27,10.138760,10.138760,10.036349,10.094870,235100,0.000,0
2017-09-28,10.094873,10.168024,10.087558,10.116818,270000,0.000,0
2017-09-29,10.122704,10.210984,10.115348,10.130061,245500,0.078,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RNW_TO.csv
Getting data for: ROI.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   0.3   0.3  0.2    0.2   24000          0           0.0
2017-09-26   0.3   0.3  0.3    0.3   51120          0           0.0
2017-09-27   0.3   0.3  0.2    0.3   36500          0           0.0
2017-09-28   0.3   0.3  0.3    0.3    2400          0           0.0
2017-09-29   0.3   0.3  0.2    0.2   10240          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ROI_V.csv
Getting data for: ROMJ.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-10-10  5.25  5.25  2.82   3.25  984000          0             0
2018-10-11  3.25  3.38  3.17   3.21  330600          0             0
2018-10-12  3.28  3.39  3.22   3.30  190200          0             0
2018-10-15  3.50  3.59  3.23   3.24  203800          0             0
2018-10-16  3.27  3.29  2.92   3.07   80500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ROMJ_V.csv
Getting data for: ROOT.TO

             Open   High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-10-25  11.50  11.55  9.48  10.00  4910400          0             0
2017-10-26  10.14  10.14  9.55   9.60   860600          0             0
2017-10-27   9.61   9.82  9.53   9.73   727000          0             0
2017-10-30   9.76   9.81  9.60   9.76   241500          0             0
2017-10-31   9.77   9.77  9.00   9.09   542000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ROOT_TO.csv
Getting data for: ROS.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.06  0.06  0.06   0.06       0          0             0
2017-09-26  0.06  0.06  0.06   0.06       0          0             0
2017-09-27  0.06  0.06  0.06   0.06       0          0             0
2017-09-28  0.06  0.06  0.06   0.06       0          0             0
2017-09-29  0.07  0.07  0.07   0.07    1000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ROS_V.csv
Getting data for: ROXG.TO
- ROXG.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ROXG_TO.csv
Getting data for: RPX.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   1.1   1.1  1.0    1.0   19550          0           0.0
2017-09-26   1.1   1.2  1.1    1.1   28600          0           0.0
2017-09-27   1.1   1.1  1.1    1.1   13110          0           0.0
2017-09-28   1.1   1.1  1.1    1.1    5800          0           0.0
2017-09-29   1.1   1.2  1.1    1.2  463500          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RPX_V.csv
Getting data for: RRI.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.31  0.32  0.31   0.32   45500          0             0
2017-09-26  0.31  0.32  0.31   0.32    2500          0             0
2017-09-27  0.32  0.32  0.32   0.32   61400          0             0
2017-09-28  0.32  0.32  0.32   0.32   15000          0             0
2017-09-29  0.33  0.33  0.32   0.32   28000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RRI_V.csv
Getting data for: RSI.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,4.593070,4.600315,4.549603,4.585825,164500,0.00,0
2017-09-26,4.593071,4.643782,4.571337,4.636538,213000,0.00,0
2017-09-27,4.643782,4.643782,4.578581,4.578581,308800,0.00,0
2017-09-28,4.630025,4.710867,4.630025,4.652073,338300,0.09,0
2017-09-29,4.666772,4.696169,4.630026,4.644724,160100,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RSI_TO.csv
Getting data for: RSLV.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2020-06-08  0.64  0.65  0.50   0.57  1007950          0             0
2020-06-09  0.58  0.74  0.56   0.68   827067          0             0
2020-06-10  0.69  0.69  0.62   0.64   583632          0             0
2020-06-11  0.62  0.65  0.60   0.60   269027          0             0
2020-06-12  0.59  0.62  0.59   0.59   119916          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RSLV_V.csv
Getting data for: RSS.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.89  0.95  0.89   0.90    9000          0             0
2017-09-26  0.92  0.92  0.86   0.86   10000          0             0
2017-09-27  0.87  0.88  0.85   0.85    8000          0             0
2017-09-28  0.87  0.87  0.86   0.86    9560          0             0
2017-09-29  0.87  0.88  0.85   0.88   24800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RSS_V.csv
Getting data for: RUS.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,20.064784,20.596693,19.828380,20.441553,210200,0.0,0
2017-09-26,20.389840,20.389840,19.946583,20.131273,164400,0.0,0
2017-09-27,20.227314,20.404618,20.079562,20.315966,114300,0.0,0
2017-09-28,20.330743,20.500658,20.308580,20.397232,86600,0.0,0
2017-09-29,20.448947,20.500660,20.315970,20.375071,85500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RUS_TO.csv
Getting data for: RVG.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-07-10  0.91  0.91  0.88   0.90   20900          0             0
2018-07-11  0.90  0.90  0.80   0.80   65100          0             0
2018-07-12  0.82  0.88  0.80   0.88   80800          0             0
2018-07-13  0.90  0.91  0.85   0.89   63300          0             0
2018-07-16  0.86  0.88  0.84   0.85   24700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RVG_V.csv
Getting data for: RVX.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.41  1.45  1.39   1.42   24800          0             0
2017-09-26  1.43  1.50  1.41   1.46   62400          0             0
2017-09-27  1.46  1.48  1.41   1.47   45900          0             0
2017-09-28  1.49  1.50  1.46   1.49   14400          0             0
2017-09-29  1.50  1.53  1.41   1.46   30100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RVX_TO.csv
Getting data for: RW.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.270  0.275  0.270  0.275   12000          0             0
2017-09-26  0.275  0.275  0.275  0.275       0          0             0
2017-09-27  0.270  0.270  0.270  0.270    5000          0             0
2017-09-28  0.270  0.270  0.270  0.270       0          0             0
2017-09-29  0.270  0.270  0.270  0.270    1000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RW_V.csv
Getting data for: RWR.V
- RWR.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RWR_V.csv
Getting data for: RY.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,77.726337,77.915709,77.405222,77.767502,1759300,0.0,0
2017-09-26,77.891032,78.047475,77.602853,77.800461,1692800,0.0,0
2017-09-27,78.055684,78.632042,77.981577,78.582642,2683000,0.0,0
2017-09-28,78.632057,79.109614,78.475614,78.986107,2255600,0.0,0
2017-09-29,79.150780,79.850651,79.126079,79.488365,2349900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//RY_TO.csv
Getting data for: SAP.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,39.906453,40.133866,39.888259,39.951935,418700,0.0,0
2017-09-26,39.997430,39.997430,39.233322,39.287899,492600,0.0,0
2017-09-27,39.342481,39.624474,38.996812,39.551701,583100,0.0,0
2017-09-28,39.451633,39.851883,39.451633,39.569889,388500,0.0,0
2017-09-29,39.633568,39.933755,39.215129,39.287899,604900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SAP_TO.csv
Getting data for: SBB.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.30  2.33  2.24   2.28  239500          0             0
2017-09-26  2.25  2.25  2.20   2.23  188500          0             0
2017-09-27  2.20  2.24  2.20   2.20  328800          0             0
2017-09-28  2.20  2.23  2.15   2.20  223300          0             0
2017-09-29  2.21  2.21  2.19   2.21  213100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SBB_TO.csv
Getting data for: SBM.V

             Open  High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.140  0.16  0.140   0.15  361600          0             0
2017-09-26  0.140  0.15  0.140   0.14   53000          0             0
2017-09-27  0.150  0.15  0.150   0.15    1000          0             0
2017-09-28  0.150  0.15  0.140   0.14   74500          0             0
2017-09-29  0.145  0.15  0.145   0.15    6000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SBM_V.csv
Getting data for: SCAN.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,1.550003,1.550003,1.550003,1.550003,0,0,0.0
2017-09-26,1.550003,1.550003,1.550003,1.550003,0,0,0.0
2017-09-27,1.550003,1.550003,1.550003,1.550003,0,0,0.0
2017-09-28,1.550003,1.550003,1.550003,1.550003,0,0,0.0
2017-09-29,1.550003,1.550003,1.550003,1.550003,0,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SCAN_V.csv
Getting data for: SCL.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,24.596531,25.294058,24.587813,25.145834,208600,0.0,0
2017-09-26,25.041201,25.215584,24.718596,24.892977,115500,0.0,0
2017-09-27,24.936572,25.119672,24.352394,24.457022,182400,0.0,0
2017-09-28,24.474462,24.718597,23.960036,24.134418,93200,0.0,0
2017-09-29,24.003633,24.692439,24.003633,24.073385,92100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SCL_TO.csv
Getting data for: SCOT.V

            Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.20  0.200  0.20  0.200       0          0             0
2017-09-26  0.20  0.200  0.20  0.200   18500          0             0
2017-09-27  0.20  0.200  0.20  0.200   13000          0             0
2017-09-28  0.20  0.245  0.20  0.245   10500          0             0
2017-09-29  0.21  0.210  0.21  0.210   20000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SCOT_V.csv
Getting data for: SCR.TO
- SCR.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SCR_TO.csv
Getting data for: SCZ.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.18  0.18  0.17   0.18   77000          0             0
2017-09-26  0.17  0.18  0.17   0.18   21600          0             0
2017-09-27  0.17  0.18  0.17   0.17  102500          0             0
2017-09-28  0.17  0.17  0.16   0.16  151400          0             0
2017-09-29  0.17  0.17  0.16   0.16   92800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SCZ_V.csv
Getting data for: SDE.V
- SDE.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SDE_V.csv
Getting data for: SEA.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  14.59  15.07  14.54  14.96   57300          0             0
2017-09-26  14.75  14.95  14.66  14.70   28900          0             0
2017-09-27  14.52  14.97  14.52  14.97   27700          0             0
2017-09-28  14.97  15.42  14.91  15.37  108100          0             0
2017-09-29  15.35  15.43  15.20  15.25   47100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SEA_TO.csv
Getting data for: SES.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,7.423713,7.621334,7.423713,7.586965,220900,0.000,0
2017-09-26,7.483859,7.569782,7.354976,7.569782,163100,0.000,0
2017-09-27,7.621334,7.621334,7.483858,7.595557,161900,0.000,0
2017-09-28,7.656710,7.699773,7.493068,7.553357,144400,0.021,0
2017-09-29,7.527517,7.622258,7.441391,7.458616,695200,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SES_TO.csv
Getting data for: SGI.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-07-10  1.34  1.34  1.32   1.34   14100          0             0
2018-07-11  1.33  1.33  1.30   1.30    2800          0             0
2018-07-12  1.33  1.33  1.33   1.33     600          0             0
2018-07-13  1.30  1.30  1.30   1.30    5600          0             0
2018-07-16  1.31  1.31  1.28   1.30   14500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SGI_V.csv
Getting data for: SGMA.V
- SGMA.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SGMA_V.csv
Getting data for: SGR-R.TO
- SGR-R.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SGR-R_TO.csv
Getting data for: SGR-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,8.394471,8.477081,8.388116,8.438953,22300,0.000,0
2017-09-26,8.426248,8.470731,8.419894,8.451667,13800,0.000,0
2017-09-27,8.432601,8.515210,8.432601,8.458019,15500,0.000,0
2017-09-28,8.530920,8.530920,8.473365,8.492550,10800,0.084,0
2017-09-29,8.524529,8.607664,8.498949,8.575689,34200,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SGR-UN_TO.csv
Getting data for: SGY.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,1.612269,1.699027,1.605039,1.684568,2644668,0.000000,0.0
2017-09-26,1.662877,1.699027,1.641187,1.691797,834795,0.000000,0.0
2017-09-27,1.699027,1.713486,1.641187,1.655647,708318,0.000000,0.0
2017-09-28,1.675962,1.704983,1.632431,1.646941,786123,0.006838,0.0
2017-09-29,1.639686,1.654197,1.632431,1.639686,194220,0.000000,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SGY_TO.csv
Getting data for: SHG.V
- SHG.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SHG_V.csv
Getting data for: SHOP.TO

              Open    High     Low   Close   Volume  Dividends  Stock Splits
Date
2017-09-25  14.760  14.775  14.022  14.164  5000000          0           0.0
2017-09-26  14.314  14.550  13.857  14.006  4136000          0           0.0
2017-09-27  14.186  14.786  14.123  14.648  5067000          0           0.0
2017-09-28  14.642  14.693  14.340  14.487  2970000          0           0.0
2017-09-29  14.569  14.695  14.400  14.512  3477000          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SHOP_TO.csv
Getting data for: SIA.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,13.475892,13.475892,13.350363,13.357747,42500,0.000,0
2017-09-26,13.365136,13.379904,13.298679,13.328215,38900,0.000,0
2017-09-27,13.335596,13.365133,13.246989,13.365133,88200,0.000,0
2017-09-28,13.361428,13.413331,13.316938,13.398501,36500,0.075,0
2017-09-29,13.405916,13.420746,13.376258,13.398501,227300,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SIA_TO.csv
Getting data for: SII.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,18.135660,18.135660,17.882605,18.051308,5380,0.0,0.0
2017-09-26,17.966960,18.473072,17.966960,18.220016,5900,0.0,0.0
2017-09-27,18.473070,18.473070,17.713903,17.713903,13500,0.0,0.0
2017-09-28,17.798256,17.882608,17.713903,17.713903,6450,0.0,0.0
2017-09-29,17.713906,18.051313,17.713906,17.798258,5510,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SII_TO.csv
Getting data for: SIL.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-07-10  3.00  3.39  2.97   3.31  875200          0             0
2018-07-11  3.25  3.25  3.02   3.05  313700          0             0
2018-07-12  3.05  3.09  2.97   3.01   79000          0             0
2018-07-13  3.04  3.05  2.90   2.91   44400          0             0
2018-07-16  2.90  2.95  2.90   2.91   70400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SIL_TO.csv
Getting data for: SIS.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,12.290295,12.359100,12.083880,12.144084,41500,0.00,0
2017-09-26,12.152688,12.161289,11.834465,12.032279,87200,0.00,0
2017-09-27,12.040877,12.169886,11.980673,11.980673,40200,0.00,0
2017-09-28,12.040878,12.058080,11.739856,11.791460,94600,0.00,0
2017-09-29,11.817318,12.006947,11.748362,11.998327,61600,0.03,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SIS_TO.csv
Getting data for: SJ.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,45.027416,45.166678,44.516797,44.786034,71700,0.0,0
2017-09-26,44.795315,45.008846,44.405388,44.553932,75500,0.0,0
2017-09-27,44.498222,44.563210,43.820491,44.284691,106700,0.0,0
2017-09-28,44.293976,44.721039,44.293976,44.600349,53900,0.0,0
2017-09-29,44.656057,44.721045,44.331119,44.581787,51100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SJ_TO.csv
Getting data for: SJR-B.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,23.037440,23.102061,22.997051,23.077827,525900,0.0,0
2017-09-26,23.069760,23.077838,22.900130,22.924362,530300,0.0,0
2017-09-27,22.980901,23.255541,22.956667,23.255541,653100,0.0,0
2017-09-28,23.215153,23.295930,23.174766,23.198997,597000,0.0,0
2017-09-29,23.223231,23.295930,23.061677,23.198997,677900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SJR-B_TO.csv
Getting data for: SKE.TO

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   2.8   2.8  2.8    2.8    6083          0           0.0
2017-09-26   2.8   2.8  2.8    2.8   15808          0           0.0
2017-09-27   2.8   2.8  2.8    2.8   35645          0           0.0
2017-09-28   2.8   2.8  2.8    2.8    7688          0           0.0
2017-09-29   2.4   2.8  2.4    2.4   15465          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SKE_TO.csv
Getting data for: SLF.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,39.995662,40.218687,39.838720,40.152607,634100,0.0,0
2017-09-26,40.218688,40.375633,40.078267,40.284771,805500,0.0,0
2017-09-27,40.474746,41.143819,40.474746,41.094257,1868300,0.0,0
2017-09-28,40.978630,41.061230,40.805168,40.986889,981800,0.0,0
2017-09-29,41.094266,41.259470,40.995146,41.044704,1233600,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SLF_TO.csv
Getting data for: SLL.V
- SLL.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SLL_V.csv
Getting data for: SLS.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2020-07-13  1.50  2.05  1.40   1.50  1589300          0             0
2020-07-14  1.50  1.50  1.38   1.40   184400          0             0
2020-07-15  1.40  1.56  1.40   1.47   367200          0             0
2020-07-16  1.50  1.50  1.40   1.41   396700          0             0
2020-07-17  1.43  1.52  1.42   1.50   276700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SLS_TO.csv
Getting data for: SLVR.V

             Open  High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.290  0.29  0.270  0.285  153500          0             0
2017-09-26  0.275  0.29  0.275  0.285   90000          0             0
2017-09-27  0.280  0.28  0.275  0.280   40500          0             0
2017-09-28  0.270  0.27  0.260  0.265   38000          0             0
2017-09-29  0.270  0.27  0.255  0.255   70200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SLVR_V.csv
Getting data for: SMD.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.47  0.47  0.46   0.47   54500          0             0
2017-09-26  0.46  0.46  0.43   0.44  150800          0             0
2017-09-27  0.44  0.45  0.44   0.44   56000          0             0
2017-09-28  0.45  0.45  0.44   0.44   17000          0             0
2017-09-29  0.44  0.45  0.44   0.45   24500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SMD_V.csv
Getting data for: SMN.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.57  0.57  0.57   0.57     500          0           0.0
2017-09-26  0.57  0.60  0.57   0.60   26333          0           0.0
2017-09-27  0.60  0.60  0.60   0.60       0          0           0.0
2017-09-28  0.60  0.60  0.60   0.60       0          0           0.0
2017-09-29  0.54  0.57  0.54   0.57   22667          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SMN_V.csv
Getting data for: SMP.V

            Open  High    Low  Close  Volume  Dividends  Stock Splits
Date
2018-06-15  0.26  0.30  0.255   0.30  119200          0             0
2018-06-18  0.35  0.35  0.320   0.35   25000          0             0
2018-06-19  0.37  0.37  0.350   0.35   15375          0             0
2018-06-20  0.35  0.35  0.350   0.35    5000          0             0
2018-06-21  0.35  0.35  0.320   0.32    2575          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SMP_V.csv
Getting data for: SMT.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,2.907300,2.936666,2.887722,2.936666,7600,0.0,0
2017-09-26,2.946455,2.946455,2.917089,2.946455,13900,0.0,0
2017-09-27,2.956244,2.975822,2.936667,2.975822,35100,0.0,0
2017-09-28,2.985611,2.985611,2.917089,2.956244,49600,0.0,0
2017-09-29,3.044344,3.083500,2.985611,3.083500,48300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SMT_TO.csv
Getting data for: SMU-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,5.907757,5.939519,5.899817,5.915698,47000,0.000,0
2017-09-26,5.907758,5.947461,5.907758,5.939520,17900,0.000,0
2017-09-27,5.947460,5.947460,5.875995,5.915698,69000,0.000,0
2017-09-28,5.942052,5.950039,5.910106,5.942052,20900,0.043,0
2017-09-29,5.958026,5.958026,5.910106,5.942052,43300,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SMU-UN_TO.csv
Getting data for: SNC.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,53.672116,53.873281,53.413478,53.796646,222800,0.0,0
2017-09-26,53.758326,53.844539,53.461374,53.806221,245500,0.0,0
2017-09-27,53.796639,54.476760,53.777480,54.467182,297700,0.0,0
2017-09-28,54.333081,54.639614,54.266027,54.457607,324100,0.0,0
2017-09-29,54.457605,54.668348,54.016964,54.016964,322800,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SNC_TO.csv
Getting data for: SOLG.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-10-09  0.59  0.59  0.58   0.59   43300          0             0
2018-10-10  0.58  0.58  0.52   0.52   56200          0             0
2018-10-11  0.55  0.58  0.55   0.58    8500          0             0
2018-10-12  0.57  0.57  0.56   0.57   32100          0             0
2018-10-15  0.58  0.65  0.58   0.61   34300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SOLG_TO.csv
Getting data for: SOLR.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  0.08  0.09  0.08   0.08   520700          0             0
2017-09-26  0.08  0.08  0.07   0.07   525500          0             0
2017-09-27  0.07  0.07  0.07   0.07    40000          0             0
2017-09-28  0.07  0.07  0.07   0.07   443600          0             0
2017-09-29  0.07  0.08  0.07   0.08  1008000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SOLR_V.csv
Getting data for: SOT-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,5.143035,5.181704,5.143035,5.181704,126300,0.000,0
2017-09-26,5.188151,5.188151,5.168817,5.175261,90400,0.000,0
2017-09-27,5.162372,5.188151,5.162372,5.175261,102100,0.000,0
2017-09-28,5.209688,5.216184,5.183704,5.203192,95700,0.063,0
2017-09-29,5.209687,5.229175,5.190199,5.222679,89900,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SOT-UN_TO.csv
Getting data for: SOY.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  10.36  10.45  10.28  10.45    9200          0             0
2017-09-26  10.38  10.64  10.38  10.49   15300          0             0
2017-09-27  10.63  10.64  10.10  10.30   27300          0             0
2017-09-28  10.32  10.58   9.94  10.56   62200          0             0
2017-09-29  10.73  10.90  10.48  10.81   20400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SOY_TO.csv
Getting data for: SPA.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.12  0.14  0.12   0.14   94600          0             0
2017-09-26  0.13  0.14  0.13   0.14   56800          0             0
2017-09-27  0.13  0.13  0.12   0.13  150300          0             0
2017-09-28  0.13  0.13  0.13   0.13   48000          0             0
2017-09-29  0.13  0.13  0.13   0.13  104500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SPA_V.csv
Getting data for: SPB.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,8.827558,8.864868,8.797710,8.820096,151500,0.00,0
2017-09-26,8.812635,8.820097,8.715629,8.730553,336900,0.00,0
2017-09-27,8.670856,8.827558,8.670856,8.805172,130500,0.00,0
2017-09-28,9.052681,9.480190,9.052681,9.337687,928200,0.06,0
2017-09-29,9.517689,9.585190,9.412687,9.480188,1162200,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SPB_TO.csv
Getting data for: SPC.V

            Open  High    Low  Close  Volume  Dividends  Stock Splits
Date
2021-03-08  0.50  0.50  0.500   0.50    4000          0             0
2021-03-09  0.50  0.59  0.500   0.59   64829          0             0
2021-03-10  0.80  0.80  0.700   0.76  106076          0             0
2021-03-11  0.78  0.78  0.570   0.63   99530          0             0
2021-03-12  0.63  0.63  0.465   0.49  494762          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SPC_V.csv
Getting data for: SPG.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-09-05  3.00  3.10  3.00   3.10    5400          0             0
2018-09-06  3.10  3.40  3.10   3.15   62300          0             0
2018-09-07  3.30  3.30  3.01   3.10   15600          0             0
2018-09-10  3.08  3.08  2.95   2.95   11400          0             0
2018-09-11  2.90  3.00  2.76   3.00   22900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SPG_TO.csv
Getting data for: SPOT.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.52  0.53  0.52   0.53    4500          0           0.0
2017-09-26  0.52  0.52  0.50   0.50   22500          0           0.0
2017-09-27  0.51  0.52  0.50   0.50   27500          0           0.0
2017-09-28  0.50  0.50  0.50   0.50       0          0           0.0
2017-09-29  0.50  0.50  0.50   0.50    2500          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SPOT_V.csv
Getting data for: SQD.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.15  0.15  0.15   0.15       0          0             0
2017-09-26  0.15  0.15  0.15   0.15   25000          0             0
2017-09-27  0.14  0.16  0.14   0.16   58500          0             0
2017-09-28  0.16  0.17  0.16   0.17   30000          0             0
2017-09-29  0.14  0.17  0.14   0.17   26600          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SQD_V.csv
Getting data for: SRHI.TO
- SRHI.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SRHI_TO.csv
Getting data for: SRU-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,21.507683,21.755484,21.478529,21.668024,232500,0.000,0
2017-09-26,21.638873,21.770062,21.558701,21.580566,140000,0.000,0
2017-09-27,21.602426,21.682598,21.529545,21.660732,194700,0.000,0
2017-09-28,21.691494,21.735433,21.361946,21.479118,400200,0.142,0
2017-09-29,21.530382,21.625585,21.449827,21.559675,319900,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SRU-UN_TO.csv
Getting data for: SRX.TO
- SRX.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SRX_TO.csv
Getting data for: SSL.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,5.748569,5.788282,5.679069,5.768425,395600,0.0,0
2017-09-26,5.698926,5.738640,5.639355,5.659212,157100,0.0,0
2017-09-27,5.609571,5.629427,5.540071,5.609571,249900,0.0,0
2017-09-28,5.589714,5.708855,5.579785,5.609571,195000,0.0,0
2017-09-29,5.659212,5.679069,5.599641,5.599641,265600,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SSL_TO.csv
Getting data for: SSRM.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  12.77  13.27  12.58  13.25  357700          0             0
2017-09-26  13.11  13.31  13.00  13.12  221900          0             0
2017-09-27  12.95  13.19  12.88  13.15  154700          0             0
2017-09-28  13.17  13.54  13.17  13.51  230000          0             0
2017-09-29  13.45  13.61  13.22  13.22  296100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SSRM_TO.csv
Getting data for: SSV.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.37  0.38  0.35   0.36   51700          0             0
2017-09-26  0.36  0.37  0.34   0.34   27400          0             0
2017-09-27  0.34  0.36  0.33   0.34   69000          0             0
2017-09-28  0.34  0.34  0.33   0.34   52000          0             0
2017-09-29  0.34  0.36  0.34   0.34   37700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SSV_V.csv
Getting data for: SSVR.V

            Open  High    Low  Close  Volume  Dividends  Stock Splits
Date
2020-03-16  0.12  0.12  0.105  0.105   11000          0             0
2020-03-17  0.10  0.10  0.100  0.100   10000          0             0
2020-03-18  0.10  0.10  0.100  0.100       0          0             0
2020-03-19  0.10  0.10  0.100  0.100       0          0             0
2020-03-20  0.10  0.10  0.100  0.100       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SSVR_V.csv
Getting data for: STC.V
- STC.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//STC_V.csv
Getting data for: STE.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.12  0.12  0.12   0.12       0          0             0
2017-09-26  0.12  0.12  0.12   0.12       0          0             0
2017-09-27  0.12  0.12  0.12   0.12       0          0             0
2017-09-28  0.12  0.12  0.12   0.12       0          0             0
2017-09-29  0.12  0.12  0.12   0.12       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//STE_V.csv
Getting data for: STEP.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2018-07-10  10.84  10.84  10.56  10.56  135700          0             0
2018-07-11  10.58  10.86  10.56  10.56  129000          0             0
2018-07-12  10.61  10.65  10.38  10.47  103800          0             0
2018-07-13  10.47  10.62  10.12  10.30  106500          0             0
2018-07-16  10.27  10.27   9.83   9.90  103200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//STEP_TO.csv
Getting data for: STGO.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-05-22  2.01  2.01  1.90   1.95   20600          0             0
2018-05-23  1.90  1.90  1.85   1.85   24100          0             0
2018-05-24  1.85  1.86  1.85   1.85    6600          0             0
2018-05-25  1.85  1.85  1.80   1.84   16200          0             0
2018-05-28  1.84  1.84  1.84   1.84     400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//STGO_TO.csv
Getting data for: STLC.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-03,14.283633,15.751674,14.283633,15.235876,1155100,0.0,0
2017-11-06,15.275549,15.592963,15.077166,15.481869,143500,0.0,0
2017-11-07,15.537414,15.632638,15.323159,15.521543,89700,0.0,0
2017-11-08,15.458063,15.664382,15.402515,15.529481,48900,0.0,0
2017-11-09,15.529479,15.529479,15.370773,15.434256,63800,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//STLC_TO.csv
Getting data for: STN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,32.051550,32.348237,31.912476,32.246250,137500,0.000,0
2017-09-26,32.227715,32.264801,31.995927,32.236988,105900,0.000,0
2017-09-27,32.199891,32.348235,31.847574,32.107178,181500,0.000,0
2017-09-28,32.102532,32.270024,32.065311,32.223499,86100,0.125,0
2017-09-29,32.279328,32.530565,32.195582,32.223499,156100,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//STN_TO.csv
Getting data for: STNG.V

             Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-03-05  0.145  0.300  0.10  0.215  878986          0             0
2021-03-08  0.220  0.300  0.22  0.240  373578          0             0
2021-03-09  0.265  0.350  0.26  0.320  432880          0             0
2021-03-10  0.340  0.350  0.30  0.330  292545          0             0
2021-03-11  0.345  0.345  0.31  0.330  219409          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//STNG_V.csv
Getting data for: STRR.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2021-02-19  0.69  0.69  0.54   0.56  1185090          0             0
2021-02-22  0.57  0.58  0.55   0.55   349917          0             0
2021-02-23  0.55  0.55  0.52   0.53   568100          0             0
2021-02-24  0.53  0.53  0.50   0.52   407375          0             0
2021-02-25  0.53  0.53  0.49   0.49   401581          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//STRR_V.csv
Getting data for: SU.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,34.932562,35.578390,34.882885,35.520432,3055000,0.0,0
2017-09-26,35.437626,35.512144,35.147833,35.321709,2148500,0.0,0
2017-09-27,35.387954,35.901302,35.313436,35.893021,2678200,0.0,0
2017-09-28,35.810218,36.042051,35.619782,35.859898,2333600,0.0,0
2017-09-29,35.884741,36.331852,35.859902,36.207653,3240400,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SU_TO.csv
Getting data for: SUP.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   0.4   0.5  0.4    0.5   33850          0           0.0
2017-09-26   0.5   0.5  0.4    0.5   12200          0           0.0
2017-09-27   0.5   0.5  0.4    0.5   11630          0           0.0
2017-09-28   0.5   0.5  0.4    0.5   37300          0           0.0
2017-09-29   0.4   0.5  0.4    0.5    3600          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SUP_V.csv
Getting data for: SURG.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.13  0.13  0.13   0.13       0          0             0
2017-09-26  0.13  0.13  0.13   0.13       0          0             0
2017-09-27  0.13  0.13  0.13   0.13       0          0             0
2017-09-28  0.13  0.13  0.13   0.13    1500          0             0
2017-09-29  0.14  0.14  0.14   0.14    3000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SURG_V.csv
Getting data for: SVA.V
- SVA.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SVA_V.csv
Getting data for: SVB.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.04  1.04  0.96   0.96   42750          0           0.0
2017-09-26  1.04  1.04  0.96   0.96    3800          0           0.0
2017-09-27  0.96  1.04  0.96   1.04   11138          0           0.0
2017-09-28  0.96  1.04  0.96   1.04    3875          0           0.0
2017-09-29  1.04  1.04  0.96   1.04   23238          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SVB_TO.csv
Getting data for: SVE.V

             Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.385  0.410  0.38  0.400  172800          0             0
2017-09-26  0.380  0.400  0.38  0.390  322600          0             0
2017-09-27  0.400  0.400  0.38  0.385  152000          0             0
2017-09-28  0.390  0.395  0.38  0.395   25300          0             0
2017-09-29  0.385  0.405  0.38  0.405   56200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SVE_V.csv
Getting data for: SVI.V
- SVI.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SVI_V.csv
Getting data for: SVM.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.448792,3.506593,3.390991,3.448792,307700,0.0,0
2017-09-26,3.390991,3.419891,3.285023,3.294656,403000,0.0,0
2017-09-27,3.236855,3.323556,3.227221,3.256122,185500,0.0,0
2017-09-28,3.256122,3.352457,3.256122,3.294656,236800,0.0,0
2017-09-29,3.304289,3.313923,3.198321,3.256122,377100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SVM_TO.csv
Getting data for: SVS.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.18  0.18  0.18   0.18       0          0             0
2017-09-26  0.20  0.22  0.20   0.22   29500          0             0
2017-09-27  0.22  0.22  0.22   0.22       0          0             0
2017-09-28  0.22  0.22  0.22   0.22       0          0             0
2017-09-29  0.22  0.22  0.22   0.22       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SVS_V.csv
Getting data for: SVTN.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-03-05  1.00  1.00  0.78   0.80  176800          0             0
2021-03-08  0.86  0.86  0.76   0.77   57000          0             0
2021-03-09  0.77  0.77  0.75   0.75  342200          0             0
2021-03-10  0.75  0.75  0.74   0.75  148500          0             0
2021-03-11  0.75  0.75  0.74   0.74   34000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SVTN_V.csv
Getting data for: SW.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,26.610001,26.809999,25.799999,26.120001,161600,0,0
2017-09-26,26.170000,26.299999,25.889999,26.209999,57800,0,0
2017-09-27,26.299999,26.969999,26.160000,26.760000,84700,0,0
2017-09-28,26.780001,26.980000,26.440001,26.860001,56400,0,0
2017-09-29,26.830000,27.180000,26.600000,26.770000,106800,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SW_TO.csv
Getting data for: SXP.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.401531,3.416716,3.386345,3.386345,23500,0.00,0
2017-09-26,3.378753,3.378753,3.340790,3.348382,27900,0.00,0
2017-09-27,3.348382,3.378753,3.348382,3.348382,19200,0.00,0
2017-09-28,3.394566,3.402264,3.294500,3.309895,24000,0.06,0
2017-09-29,3.309895,3.309895,3.248315,3.279105,19700,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SXP_TO.csv
Getting data for: SYH.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.42  0.42  0.38   0.40   78000          0             0
2017-09-26  0.42  0.45  0.42   0.42  188200          0             0
2017-09-27  0.44  0.45  0.43   0.43   60000          0             0
2017-09-28  0.43  0.44  0.42   0.43   20300          0             0
2017-09-29  0.43  0.43  0.40   0.41   46700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SYH_V.csv
Getting data for: SYZ.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,7.204486,7.301844,7.139581,7.277505,9600,0.0,0
2017-09-26,7.131466,7.220710,7.131466,7.147693,11000,0.0,0
2017-09-27,7.147693,7.236938,7.147693,7.236938,5800,0.0,0
2017-09-28,7.220713,7.220713,7.180147,7.220713,3600,0.0,0
2017-09-29,7.188259,7.220712,7.147694,7.204486,3900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SYZ_TO.csv
Getting data for: SZLS.TO

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.88  0.88  0.8   0.80   27000          0           0.0
2017-09-26  0.88  0.88  0.8   0.88   21025          0           0.0
2017-09-27  0.88  0.88  0.8   0.80   11875          0           0.0
2017-09-28  0.80  0.88  0.8   0.88    2238          0           0.0
2017-09-29  0.80  0.80  0.8   0.80   13050          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//SZLS_TO.csv
Getting data for: TA.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,6.614262,6.696597,6.614262,6.660004,242000,0.0,0
2017-09-26,6.641707,6.751487,6.577668,6.705745,344800,0.0,0
2017-09-27,6.705745,6.705745,6.614262,6.669152,313000,0.0,0
2017-09-28,6.660004,6.714894,6.632558,6.687449,269900,0.0,0
2017-09-29,6.678301,6.714894,6.650856,6.678301,299400,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TA_TO.csv
Getting data for: TAU.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-11-12  0.80  0.80  0.73   0.73    1124          0             0
2020-11-13  0.70  0.70  0.59   0.59    1020          0             0
2020-11-16  0.55  0.55  0.55   0.55    3888          0             0
2020-11-17  0.56  0.56  0.56   0.56    4500          0             0
2020-11-18  0.65  0.65  0.65   0.65    4526          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TAU_V.csv
Getting data for: TBIX.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2019-06-11  0.68  0.68  0.68   0.68    2800          0             0
2019-06-12  0.68  0.68  0.68   0.68       0          0             0
2019-06-13  0.68  0.68  0.68   0.68       0          0             0
2019-06-14  0.68  0.68  0.68   0.68       0          0             0
2019-06-17  0.65  0.65  0.65   0.65    2500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TBIX_V.csv
Getting data for: TBL.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,1.459810,1.459810,1.459810,1.459810,0,0.0,0
2017-09-26,1.395943,1.395943,1.395943,1.395943,2600,0.0,0
2017-09-27,1.395943,1.395943,1.395943,1.395943,0,0.0,0
2017-09-28,1.395943,1.395943,1.395943,1.395943,0,0.0,0
2017-09-29,1.450686,1.459810,1.450686,1.459810,1300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TBL_TO.csv
Getting data for: TBR.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.41  0.43  0.41   0.42   54500          0             0
2017-09-26  0.42  0.42  0.41   0.41   12900          0             0
2017-09-27  0.40  0.40  0.40   0.40    1800          0             0
2017-09-28  0.39  0.39  0.36   0.39   10500          0             0
2017-09-29  0.39  0.39  0.39   0.39       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TBR_V.csv
Getting data for: TBRD.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   3.4   3.4  3.4    3.4       0          0           0.0
2017-09-26   3.2   3.4  3.2    3.4    3200          0           0.0
2017-09-27   3.4   3.5  3.4    3.5    3000          0           0.0
2017-09-28   3.5   3.5  3.5    3.5       0          0           0.0
2017-09-29   3.1   3.1  2.9    2.9    2500          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TBRD_V.csv
Getting data for: TBX.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2019-12-04  0.58  0.63  0.53   0.63   857250          0             0
2019-12-05  0.64  0.68  0.64   0.65  1047728          0             0
2019-12-06  0.67  0.72  0.67   0.68  1074919          0             0
2019-12-09  0.73  0.78  0.69   0.71  1095599          0             0
2019-12-10  0.75  0.76  0.68   0.69   370899          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TBX_V.csv
Getting data for: TCL-A.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,21.194307,21.289241,20.964879,21.099371,65600,0.0,0
2017-09-26,21.115193,21.202216,20.909500,20.909500,74900,0.0,0
2017-09-27,20.909501,20.964879,20.331978,20.434824,164200,0.0,0
2017-09-28,20.411088,20.743362,20.371532,20.624693,78600,0.0,0
2017-09-29,20.656585,21.023318,20.385522,20.560917,312300,0.2,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TCL-A_TO.csv
Getting data for: TCN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,8.897966,9.136305,8.677283,9.039204,453900,0.000,0
2017-09-26,9.039203,9.039203,8.853829,8.862657,361600,0.000,0
2017-09-27,8.871485,8.897966,8.774383,8.827348,423300,0.000,0
2017-09-28,8.805133,9.133881,8.805133,9.098341,598000,0.065,0
2017-09-29,9.080574,9.080574,8.938412,9.000607,228100,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TCN_TO.csv
Getting data for: TCW.TO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  4.41  4.57  4.41   4.54  3145800          0             0
2017-09-26  4.52  4.60  4.41   4.58  2419300          0             0
2017-09-27  4.67  4.67  4.44   4.61  2241000          0             0
2017-09-28  4.64  4.67  4.53   4.60  2136400          0             0
2017-09-29  4.59  4.73  4.56   4.56  2923300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TCW_TO.csv
Getting data for: TD.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,56.750952,57.013081,56.636271,57.013081,3078100,0.0,0
2017-09-26,57.013078,57.127759,56.652654,56.832863,2691800,0.0,0
2017-09-27,57.062228,57.627440,57.054035,57.578293,4815800,0.0,0
2017-09-28,57.537338,57.807660,57.463617,57.512764,3995100,0.0,0
2017-09-29,57.668410,57.840432,57.496389,57.545536,2972900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TD_TO.csv
Getting data for: TECK-B.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,25.329155,25.394872,24.446673,24.662600,1852884,0.0,0
2017-09-26,24.484229,24.972411,24.427900,24.474840,1769972,0.0,0
2017-09-27,24.662598,24.953629,24.549939,24.897301,1604826,0.0,0
2017-09-28,24.869139,24.981797,24.380956,24.953632,1915580,0.0,0
2017-09-29,24.953631,25.085064,24.653211,24.662600,1496296,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TECK-B_TO.csv
Getting data for: TELO.V

             Open  High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.250  1.25  1.150   1.25   14203          0           0.0
2017-09-26  1.200  1.20  1.200   1.20    1447          0           0.0
2017-09-27  1.175  1.20  1.175   1.20    2160          0           0.0
2017-09-28  1.175  1.20  1.150   1.20    4900          0           0.0
2017-09-29  1.200  1.20  1.150   1.15    3900          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TELO_V.csv
Getting data for: TEST.V

             Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-06-12  0.500  0.500  0.44  0.445  173800          0             0
2018-06-13  0.445  0.445  0.40  0.420   92900          0             0
2018-06-14  0.440  0.440  0.42  0.420   60600          0             0
2018-06-15  0.440  0.450  0.43  0.450  121000          0             0
2018-06-18  0.450  0.450  0.45  0.450   19100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TEST_V.csv
Getting data for: TEV.TO
- TEV.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TEV_TO.csv
Getting data for: TF.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,6.388802,6.409280,6.341023,6.347849,47800,0.000,0
2017-09-26,6.347849,6.358087,6.320546,6.320546,97400,0.000,0
2017-09-27,6.361500,6.395628,6.334197,6.347849,57200,0.000,0
2017-09-28,6.359522,6.448802,6.359522,6.448802,56500,0.057,0
2017-09-29,6.441936,6.455671,6.421333,6.421333,41000,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TF_TO.csv
Getting data for: TFII.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,27.991350,28.389804,27.973238,28.308302,142900,0.00,0
2017-09-26,28.380751,28.489419,28.118133,28.416973,78900,0.00,0
2017-09-27,28.507532,28.598090,28.371696,28.462254,180100,0.00,0
2017-09-28,28.289141,28.699130,28.216255,28.662685,117100,0.19,0
2017-09-29,28.781132,29.455335,28.717356,29.300449,259200,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TFII_TO.csv
Getting data for: TGL.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,1.441617,1.478581,1.432376,1.478581,29700,0.0,0
2017-09-26,1.450858,1.524787,1.450858,1.515546,40300,0.0,0
2017-09-27,1.534028,1.570993,1.515546,1.561752,40900,0.0,0
2017-09-28,1.561752,1.598716,1.561752,1.589475,17600,0.0,0
2017-09-29,1.617198,1.654163,1.589475,1.644922,103000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TGL_TO.csv
Getting data for: TGM.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.52  1.56  1.46   1.54    7200          0           0.0
2017-09-26  1.56  1.56  1.56   1.56    4900          0           0.0
2017-09-27  1.48  1.48  1.48   1.48    1500          0           0.0
2017-09-28  1.48  1.48  1.48   1.48    3500          0           0.0
2017-09-29  1.48  1.48  1.48   1.48     250          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TGM_V.csv
Getting data for: TGOD.TO
- TGOD.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TGOD_TO.csv
Getting data for: TH.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  7.50  7.60  7.42   7.45   46600          0             0
2017-09-26  7.50  7.57  7.37   7.51   86000          0             0
2017-09-27  7.51  7.55  7.43   7.54   65300          0             0
2017-09-28  7.53  7.53  7.44   7.48   85200          0             0
2017-09-29  7.45  7.53  7.39   7.51  103300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TH_TO.csv
Getting data for: THNK.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-12-30  5.75  5.75  4.75   4.90  229765          0             0
2020-12-31  5.10  5.10  4.55   4.66  280217          0             0
2021-01-04  5.05  5.05  4.10   4.37  108670          0             0
2021-01-05  4.40  4.45  4.12   4.21   28194          0             0
2021-01-06  4.35  4.50  4.23   4.50   72246          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//THNK_V.csv
Getting data for: THRM.V

            Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  0.12  0.135  0.120  0.130   812251          0             0
2017-09-26  0.14  0.150  0.135  0.145   832095          0             0
2017-09-27  0.15  0.150  0.135  0.145  1237172          0             0
2017-09-28  0.14  0.145  0.135  0.140   317553          0             0
2017-09-29  0.14  0.145  0.130  0.140  1190670          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//THRM_V.csv
Getting data for: TIC.V
- TIC.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TIC_V.csv
Getting data for: TIH.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,53.347621,53.347621,52.708337,53.143791,142100,0.0,0
2017-09-26,53.032620,53.143799,52.272890,52.374805,140900,0.0,0
2017-09-27,52.430391,52.791724,52.291415,52.745399,129200,0.0,0
2017-09-28,52.615683,53.115991,52.615683,52.893631,77800,0.0,0
2017-09-29,53.143797,53.347627,52.958497,53.014088,142800,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TIH_TO.csv
Getting data for: TIXT.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-02-03,42.000000,42.000000,38.250000,39.950001,1556100,0,0
2021-02-04,39.500000,40.000000,38.520000,39.150002,284800,0,0
2021-02-05,39.500000,40.889999,39.279999,40.549999,323900,0,0
2021-02-08,41.099998,41.099998,39.900002,40.419998,143500,0,0
2021-02-09,40.220001,40.330002,38.930000,39.189999,158600,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TIXT_TO.csv
Getting data for: TKO.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.26  2.29  2.12   2.12  375700          0             0
2017-09-26  2.15  2.21  2.10   2.15  161300          0             0
2017-09-27  2.17  2.26  2.15   2.22  263400          0             0
2017-09-28  2.23  2.35  2.16   2.33  346200          0             0
2017-09-29  2.33  2.35  2.27   2.34  369700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TKO_TO.csv
Getting data for: TLG.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.64  1.64  1.64   1.64       0          0           0.0
2017-09-26  1.64  1.64  1.64   1.64       0          0           0.0
2017-09-27  1.64  1.64  1.64   1.64       0          0           0.0
2017-09-28  1.64  1.64  1.64   1.64       0          0           0.0
2017-09-29  1.64  1.64  1.64   1.64       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TLG_TO.csv
Getting data for: TLO.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.12  0.12  0.12   0.12   25000          0             0
2017-09-26  0.10  0.11  0.10   0.11   20500          0             0
2017-09-27  0.12  0.13  0.12   0.12   92500          0             0
2017-09-28  0.11  0.11  0.11   0.11   10500          0             0
2017-09-29  0.11  0.12  0.11   0.12   28400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TLO_TO.csv
Getting data for: TM.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.380  0.425  0.380  0.400   81000          0             0
2017-09-26  0.435  0.440  0.380  0.380   11000          0             0
2017-09-27  0.395  0.395  0.355  0.355   13100          0             0
2017-09-28  0.375  0.400  0.350  0.395  145100          0             0
2017-09-29  0.400  0.440  0.400  0.440   37500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TM_V.csv
Getting data for: TMC.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,1.000000,1.066667,0.900000,1.016667,57000,0,0.0
2017-09-26,1.016667,1.016667,1.016667,1.016667,0,0,0.0
2017-09-27,1.033333,1.033333,0.950000,0.950000,61980,0,0.0
2017-09-28,1.033333,1.166667,1.000000,1.016667,321840,0,0.0
2017-09-29,1.050000,1.133333,0.983333,0.983333,469050,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TMC_V.csv
Getting data for: TMD.TO

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   6.9   8.4  6.9    7.5  285790          0           0.0
2017-09-26   7.5   8.1  7.5    7.5   67793          0           0.0
2017-09-27   7.5   8.7  7.5    8.7  122057          0           0.0
2017-09-28   9.0  10.5  9.0    9.9  639097          0           0.0
2017-09-29  10.2  10.8  9.9   10.2  151590          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TMD_TO.csv
Getting data for: TML.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.07  2.07  2.04   2.04    8967          0           0.0
2017-09-26  2.04  2.04  1.98   2.04   24633          0           0.0
2017-09-27  2.01  2.01  1.95   1.98   10400          0           0.0
2017-09-28  1.98  2.04  1.92   1.95   18300          0           0.0
2017-09-29  1.95  2.10  1.92   2.10   84633          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TML_TO.csv
Getting data for: TNT-UN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,4.082328,4.088677,4.056933,4.069631,54100,0.00,0
2017-09-26,4.075979,4.107723,4.075979,4.107723,61600,0.00,0
2017-09-27,4.114071,4.120420,4.107722,4.114071,49100,0.00,0
2017-09-28,4.133267,4.133267,4.094878,4.120471,49900,0.05,0
2017-09-29,4.126868,4.152461,4.114072,4.152461,59500,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TNT-UN_TO.csv
Getting data for: TNX.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.43  0.46  0.43   0.45    9900          0             0
2017-09-26  0.45  0.45  0.43   0.43   15000          0             0
2017-09-27  0.42  0.44  0.42   0.44   12500          0             0
2017-09-28  0.44  0.44  0.41   0.43  135600          0             0
2017-09-29  0.41  0.41  0.41   0.41   16500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TNX_TO.csv
Getting data for: TOI.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-02-02,66.000000,67.000000,60.500000,63.299999,2785600,0,0
2021-02-03,58.000000,60.750000,57.000000,59.200001,1420300,0,0
2021-02-04,57.630001,66.000000,57.299999,65.540001,511600,0,0
2021-02-05,62.889999,65.959999,62.200001,62.750000,222200,0,0
2021-02-08,62.410000,63.639999,60.000000,62.500000,236800,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TOI_V.csv
Getting data for: TORO.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2018-06-11   0.6   0.6  0.6    0.6   20150          0           0.0
2018-06-12   0.6   0.6  0.6    0.6   17925          0           0.0
2018-06-13   0.6   0.6  0.6    0.6       0          0           0.0
2018-06-14   0.6   0.6  0.6    0.6       0          0           0.0
2018-06-15   0.6   0.6  0.6    0.6       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TORO_V.csv
Getting data for: TOU.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,21.334125,21.852494,21.326025,21.836294,452100,0.0,0
2017-09-26,21.763399,21.787696,21.390820,21.658104,421800,0.0,0
2017-09-27,21.706702,21.722901,21.236930,21.390821,459500,0.0,0
2017-09-28,21.471817,21.488017,20.799558,20.807657,442500,0.0,0
2017-09-29,20.678060,20.742856,20.370277,20.548468,667200,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TOU_TO.csv
Getting data for: TOY.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,43.459999,43.970001,43.259998,43.910000,67800,0,0
2017-09-26,44.000000,45.660000,43.950001,45.500000,119900,0,0
2017-09-27,45.500000,46.220001,44.520000,45.759998,87100,0,0
2017-09-28,46.000000,46.830002,45.709999,46.570000,80500,0,0
2017-09-29,47.270000,48.990002,46.875000,48.180000,134300,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TOY_TO.csv
Getting data for: TPZ.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-10-20,11.711553,11.837678,11.549393,11.720562,3520600,0.0,0
2020-10-21,11.756598,11.999837,11.711553,11.801642,714600,0.0,0
2020-10-22,11.909747,12.071907,11.792632,11.945783,497500,0.0,0
2020-10-23,12.152988,12.243077,11.891730,12.071908,380600,0.0,0
2020-10-26,12.098936,12.098936,11.801643,11.936776,1803000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TPZ_TO.csv
Getting data for: TRBE.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-03-25  5.75  5.75  4.85   4.87  114178          0             0
2021-03-26  4.95  5.25  4.90   5.00   95540          0             0
2021-03-29  5.20  5.20  4.75   4.75   41613          0             0
2021-03-30  4.75  4.95  4.75   4.90   22578          0             0
2021-03-31  4.90  4.90  4.70   4.75   13943          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TRBE_V.csv
Getting data for: TRI.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,48.348289,48.442202,48.143389,48.425129,506971,0.0,0.0
2017-09-26,48.621482,48.621482,48.151916,48.177528,439605,0.0,0.0
2017-09-27,48.356816,49.082512,48.356816,48.997135,742299,0.0,0.0
2017-09-28,48.980059,48.980059,48.390967,48.442192,410643,0.0,0.0
2017-09-29,48.664174,49.005675,48.587334,48.877613,660225,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TRI_TO.csv
Getting data for: TRIL.TO
- TRIL.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TRIL_TO.csv
Getting data for: TRP-PR-J.TO
- TRP-PR-J.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TRP-PR-J_TO.csv
Getting data for: TRP.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,47.331421,47.995340,47.261941,47.864101,1889400,0.000,0
2017-09-26,47.995339,47.995339,47.617060,47.941299,1327300,0.000,0
2017-09-27,48.041663,48.111143,47.779182,48.003063,1576000,0.000,0
2017-09-28,47.905589,48.178532,47.827606,48.123943,1244400,0.625,0
2017-09-29,48.201927,48.334498,48.053755,48.092747,1279000,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TRP_TO.csv
Getting data for: TRQ.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,38.400002,38.599998,37.900002,38.200001,54150,0,0.0
2017-09-26,38.099998,38.400002,38.099998,38.299999,40480,0,0.0
2017-09-27,38.400002,38.500000,37.700001,38.500000,56040,0,0.0
2017-09-28,38.599998,39.299999,38.200001,39.000000,64500,0,0.0
2017-09-29,38.900002,39.099998,38.500000,38.599998,173690,0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TRQ_TO.csv
Getting data for: TRZ.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  9.98  9.98  9.37   9.49  197600          0             0
2017-09-26  9.49  9.77  9.29   9.70  149100          0             0
2017-09-27  9.75  9.94  9.66   9.73  114000          0             0
2017-09-28  9.78  9.90  9.74   9.78   79600          0             0
2017-09-29  9.79  9.84  9.71   9.83   79500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TRZ_TO.csv
Getting data for: TSK.TO

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  0.075  0.080  0.075  0.080  1258670          0             0
2017-09-26  0.075  0.075  0.075  0.075     8000          0             0
2017-09-27  0.075  0.075  0.075  0.075        0          0             0
2017-09-28  0.075  0.075  0.075  0.075        0          0             0
2017-09-29  0.075  0.075  0.075  0.075     4000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TSK_TO.csv
Getting data for: TSL.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,2.097562,2.097562,2.077131,2.077131,10700,0.00,0
2017-09-26,2.104373,2.111183,2.015840,2.015840,34600,0.00,0
2017-09-27,2.015839,2.056701,1.872823,1.968167,99500,0.00,0
2017-09-28,1.981882,1.988740,1.920163,1.968167,26400,0.02,0
2017-09-29,1.933878,2.023029,1.906447,2.002456,183600,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TSL_TO.csv
Getting data for: TSN.V
- TSN.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TSN_V.csv
Getting data for: TSU.TO

              Open    High     Low   Close  Volume  Dividends  Stock Splits
Date
2017-10-03  6.6600  6.6600  6.5975  6.6375   63600          0           0.0
2017-10-04  6.6375  6.7500  6.6250  6.7300   30000          0           0.0
2017-10-05  6.8600  6.8625  6.7250  6.7250   33200          0           0.0
2017-10-06  6.8750  6.8750  6.7475  6.7800   56800          0           0.0
2017-10-10  6.9475  6.9475  6.7800  6.8300   46800          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TSU_TO.csv
Getting data for: TTR.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,1.076387,1.085829,1.038619,1.085829,17850,0.0,0
2017-09-26,1.048060,1.057502,1.048060,1.057502,2000,0.0,0
2017-09-27,1.038618,1.057502,1.038618,1.057502,1200,0.0,0
2017-09-28,1.057502,1.057502,1.057502,1.057502,9000,0.0,0
2017-09-29,1.085828,1.142480,1.076386,1.142480,80390,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TTR_V.csv
Getting data for: TUD.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.70  0.74  0.70   0.74    9000          0             0
2017-09-26  0.70  0.70  0.62   0.68   33400          0             0
2017-09-27  0.68  0.68  0.68   0.68       0          0             0
2017-09-28  0.68  0.68  0.68   0.68       0          0             0
2017-09-29  0.68  0.70  0.68   0.70    6100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TUD_V.csv
Getting data for: TUO.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.26  0.26  0.25   0.25   52100          0             0
2017-09-26  0.25  0.25  0.21   0.22  133900          0             0
2017-09-27  0.22  0.22  0.22   0.22    4000          0             0
2017-09-28  0.23  0.23  0.22   0.23   74900          0             0
2017-09-29  0.23  0.23  0.22   0.23   63000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TUO_V.csv
Getting data for: TVE.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,2.699895,2.798432,2.670334,2.739310,625200,0.0,0
2017-09-26,2.729456,2.778724,2.699895,2.749163,270000,0.0,0
2017-09-27,2.759017,2.768870,2.660481,2.749163,1046700,0.0,0
2017-09-28,2.768871,2.818139,2.699895,2.808285,1227500,0.0,0
2017-09-29,2.837846,2.837846,2.768870,2.788578,344500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TVE_TO.csv
Getting data for: TWM.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,1.096873,1.121614,1.096873,1.105120,1103900,0.00,0
2017-09-26,1.113367,1.146355,1.113367,1.138108,672700,0.00,0
2017-09-27,1.146355,1.154602,1.138108,1.146355,334200,0.00,0
2017-09-28,1.154662,1.162969,1.138048,1.162969,152700,0.01,0
2017-09-29,1.162969,1.187890,1.162969,1.179583,149800,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TWM_TO.csv
Getting data for: TXG.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,19.600000,20.200001,19.459999,20.030001,195400,0,0
2017-09-26,19.809999,20.000000,19.549999,19.730000,232100,0,0
2017-09-27,19.510000,19.680000,19.450001,19.620001,223900,0,0
2017-09-28,19.590000,19.889999,19.549999,19.799999,166100,0,0
2017-09-29,19.809999,19.889999,19.540001,19.549999,164700,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TXG_TO.csv
Getting data for: TXP.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.16  0.16  0.16   0.16   21800          0             0
2017-09-26  0.16  0.16  0.15   0.15   57800          0             0
2017-09-27  0.15  0.15  0.15   0.15       0          0             0
2017-09-28  0.15  0.15  0.15   0.15    2000          0             0
2017-09-29  0.15  0.15  0.15   0.15    1500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//TXP_TO.csv
Getting data for: U.TO
- U.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//U_TO.csv
Getting data for: UCU.V

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   2.8   3.1  2.8    3.1   30920          0           0.0
2017-09-26   3.1   3.1  2.8    2.9   14220          0           0.0
2017-09-27   3.0   3.1  2.9    3.1    9040          0           0.0
2017-09-28   3.1   3.1  2.8    3.0    8460          0           0.0
2017-09-29   3.0   3.1  2.8    3.0   25960          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//UCU_V.csv
Getting data for: UFS.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,48.254355,48.254355,47.625780,47.880856,17014,0.000,0
2017-09-26,48.053942,48.436550,47.862638,48.190590,27658,0.000,0
2017-09-27,48.618745,49.265540,47.990174,49.238209,25670,0.000,0
2017-09-28,49.192664,49.985212,49.138005,49.921444,61733,0.000,0
2017-09-29,50.127979,50.127979,49.485429,49.687374,47482,0.415,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//UFS_TO.csv
Getting data for: UGD.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.24  0.25  0.24   0.25   21000          0             0
2017-09-26  0.24  0.27  0.23   0.26   58000          0             0
2017-09-27  0.26  0.26  0.26   0.26       0          0             0
2017-09-28  0.26  0.26  0.26   0.26       0          0             0
2017-09-29  0.26  0.26  0.25   0.25   12000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//UGD_V.csv
Getting data for: UGE.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.00  2.00  1.88   1.96   13925          0           0.0
2017-09-26  1.96  1.96  1.76   1.84   19525          0           0.0
2017-09-27  1.86  2.12  1.86   1.86   43800          0           0.0
2017-09-28  1.92  2.04  1.92   2.04    7500          0           0.0
2017-09-29  2.16  2.16  2.16   2.16     125          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//UGE_V.csv
Getting data for: UNI.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.95  2.95  2.95   2.95       0          0             0
2017-09-26  2.95  2.95  2.95   2.95     200          0             0
2017-09-27  2.95  2.95  2.95   2.95     800          0             0
2017-09-28  2.95  2.95  2.95   2.95    3200          0             0
2017-09-29  2.95  2.95  2.95   2.95     300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//UNI_TO.csv
Getting data for: UNS.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,25.663061,25.756723,25.185391,25.297785,132100,0.000,0
2017-09-26,25.307152,25.709894,24.913777,25.578768,69100,0.000,0
2017-09-27,25.653699,25.663065,24.988708,25.241592,130400,0.000,0
2017-09-28,25.253806,25.460573,25.188015,25.404182,45200,0.093,0
2017-09-29,25.469977,25.798925,24.953057,25.338396,116000,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//UNS_TO.csv
Getting data for: UPI.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.215  0.215  0.215  0.215       0          0             0
2017-09-26  0.215  0.215  0.215  0.215       0          0             0
2017-09-27  0.215  0.215  0.215  0.215       0          0             0
2017-09-28  0.215  0.215  0.215  0.215       0          0             0
2017-09-29  0.215  0.215  0.215  0.215       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//UPI_V.csv
Getting data for: URC.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2019-12-11  1.17  1.28  1.10   1.24  971792          0             0
2019-12-12  1.24  1.24  1.17   1.18   61600          0             0
2019-12-13  1.19  1.19  1.17   1.18  128450          0             0
2019-12-16  1.19  1.19  1.17   1.19  141250          0             0
2019-12-17  1.19  1.19  1.16   1.19   84230          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//URC_V.csv
Getting data for: URE.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.70  0.72  0.69   0.72   34000          0             0
2017-09-26  0.71  0.71  0.71   0.71     500          0             0
2017-09-27  0.71  0.72  0.71   0.72   46700          0             0
2017-09-28  0.71  0.71  0.67   0.71   80600          0             0
2017-09-29  0.72  0.72  0.71   0.72   11700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//URE_TO.csv
Getting data for: USA.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  5.03  5.35  5.03   5.26   59100          0             0
2017-09-26  5.24  5.28  5.20   5.23   57200          0             0
2017-09-27  5.16  5.28  5.04   5.17   30400          0             0
2017-09-28  5.17  5.24  5.08   5.19   38100          0             0
2017-09-29  5.25  5.25  5.11   5.14   22300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//USA_TO.csv
Getting data for: VERY.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2021-03-17  6.00  6.00  5.35   5.75    1100          0             0
2021-03-18  5.77  5.95  4.77   5.30  568300          0             0
2021-03-19  5.40  5.40  5.17   5.39  157300          0             0
2021-03-22  5.40  5.40  5.26   5.38  187600          0             0
2021-03-23  5.40  5.40  5.06   5.23  142100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VERY_V.csv
Getting data for: VET.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,35.308074,35.748266,35.308074,35.416191,317800,0.000,0
2017-09-26,35.369842,35.416179,34.860146,34.875591,433100,0.000,0
2017-09-27,35.030048,35.369845,34.945098,35.130444,354900,0.000,0
2017-09-28,35.343820,35.343820,34.474774,34.730831,288000,0.215,0
2017-09-29,34.676519,34.854983,34.335108,34.412701,463900,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VET_TO.csv
Getting data for: VFF.TO
- VFF.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VFF_TO.csv
Getting data for: VG.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.38  2.38  2.31   2.31   16214          0           0.0
2017-09-26  2.31  2.45  2.31   2.31   12500          0           0.0
2017-09-27  2.31  2.31  2.31   2.31    2786          0           0.0
2017-09-28  2.24  2.31  2.24   2.31   49000          0           0.0
2017-09-29  2.31  2.38  2.31   2.38    2900          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VG_V.csv
Getting data for: VGCX.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  7.35  7.50  7.20   7.20   25747          0           0.0
2017-09-26  7.35  7.50  7.20   7.20   10893          0           0.0
2017-09-27  7.20  7.20  7.05   7.20   22407          0           0.0
2017-09-28  7.20  7.35  7.05   7.20    8287          0           0.0
2017-09-29  7.20  7.20  6.90   7.05   25800          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VGCX_TO.csv
Getting data for: VGLD.V
- VGLD.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VGLD_V.csv
Getting data for: VHI.V
- VHI.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VHI_V.csv
Getting data for: VIPR.V

             Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-29  0.250  0.300  0.25   0.30  825000          0             0
2017-10-02  0.300  0.300  0.30   0.30   10000          0             0
2017-10-03  0.255  0.255  0.25   0.25   95000          0             0
2017-10-04  0.250  0.250  0.25   0.25    4000          0             0
2017-10-05  0.250  0.250  0.25   0.25       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VIPR_V.csv
Getting data for: VIV.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.07  1.07  1.05   1.05   18300          0             0
2017-09-26  1.10  1.10  1.05   1.05   37700          0             0
2017-09-27  1.06  1.07  1.05   1.05   41100          0             0
2017-09-28  1.05  1.05  1.05   1.05       0          0             0
2017-09-29  1.09  1.10  1.05   1.08   41400          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VIV_V.csv
Getting data for: VLE.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   0.5   0.5  0.50   0.50   35500          0             0
2017-09-26   0.5   0.5  0.49   0.50    8000          0             0
2017-09-27   0.5   0.5  0.50   0.50       0          0             0
2017-09-28   0.5   0.5  0.49   0.49   17000          0             0
2017-09-29   0.5   0.5  0.49   0.49   38200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VLE_TO.csv
Getting data for: VLI.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.18  0.18  0.18   0.18    8000          0             0
2017-09-26  0.19  0.19  0.18   0.18   12200          0             0
2017-09-27  0.18  0.19  0.18   0.19   27500          0             0
2017-09-28  0.19  0.19  0.19   0.19       0          0             0
2017-09-29  0.18  0.18  0.18   0.18   58000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VLI_V.csv
Getting data for: VLNS.TO

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2019-07-10  12.30  13.02  11.85  12.99  209700          0           0.0
2019-07-11  13.29  13.71  12.30  12.54  329333          0           0.0
2019-07-12  12.75  12.75  12.00  12.57  201900          0           0.0
2019-07-15  12.63  13.20  12.51  12.96  218200          0           0.0
2019-07-16  13.95  14.07  12.00  12.24  430767          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VLNS_TO.csv
Getting data for: VMC.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  7.83  7.83  7.71   7.71   37800          0           0.0
2017-09-26  7.80  7.92  7.71   7.80   28000          0           0.0
2017-09-27  7.86  8.07  7.83   7.92   52900          0           0.0
2017-09-28  7.95  8.25  7.95   8.25  100133          0           0.0
2017-09-29  8.16  8.16  8.07   8.16   60867          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VMC_V.csv
Getting data for: VMD.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-12-22  1.65  3.50  1.65    2.4   43900          0             0
2017-12-27  2.50  3.50  2.50    3.0  161300          0             0
2017-12-28  3.00  3.48  3.00    3.3   50200          0             0
2017-12-29  3.35  3.50  2.20    2.5  459000          0             0
2018-01-02  2.37  2.38  2.01    2.1  612300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VMD_TO.csv
Getting data for: VNP.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  3.20  3.21  3.15   3.20   44100          0             0
2017-09-26  3.19  3.23  3.19   3.21   16600          0             0
2017-09-27  3.21  3.30  3.11   3.14   73100          0             0
2017-09-28  3.12  3.20  3.00   3.09   71400          0             0
2017-09-29  3.05  3.26  3.00   3.25  122200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VNP_TO.csv
Getting data for: VPT.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.24  0.24  0.22   0.23   90000          0             0
2017-09-26  0.24  0.25  0.24   0.25  141200          0             0
2017-09-27  0.24  0.24  0.23   0.23   69100          0             0
2017-09-28  0.23  0.25  0.23   0.24   46400          0             0
2017-09-29  0.24  0.25  0.24   0.25   18000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VPT_V.csv
Getting data for: VQS.TO

            Open  High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25   6.2   6.4  6.2    6.4    1775          0           0.0
2017-09-26   6.2   6.4  6.0    6.0    4425          0           0.0
2017-09-27   6.2   6.6  6.2    6.4   10925          0           0.0
2017-09-28   6.4   6.6  6.2    6.6    1775          0           0.0
2017-09-29   6.4   6.6  6.4    6.4    9075          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VQS_TO.csv
Getting data for: VSR.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.080  0.080  0.075  0.075  100000          0             0
2017-09-26  0.075  0.085  0.075  0.085   75000          0             0
2017-09-27  0.085  0.085  0.085  0.085       0          0             0
2017-09-28  0.085  0.085  0.085  0.085       0          0             0
2017-09-29  0.085  0.085  0.085  0.085       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VSR_V.csv
Getting data for: VXL.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.095  0.095  0.095  0.095       0          0             0
2017-09-26  0.095  0.095  0.095  0.095       0          0             0
2017-09-27  0.080  0.080  0.080  0.080  110000          0             0
2017-09-28  0.080  0.080  0.080  0.080   72643          0             0
2017-09-29  0.080  0.080  0.080  0.080   30000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VXL_V.csv
Getting data for: VXTR.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.22  0.22  0.19   0.19  210300          0             0
2017-09-26  0.20  0.20  0.20   0.20    2200          0             0
2017-09-27  0.19  0.20  0.19   0.20   34000          0             0
2017-09-28  0.19  0.19  0.19   0.19    3000          0             0
2017-09-29  0.19  0.20  0.18   0.20  127000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VXTR_V.csv
Getting data for: VZLA.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-10-03  0.15  0.15  0.15   0.15   29666          0             0
2018-10-04  0.15  0.15  0.15   0.15       0          0             0
2018-10-05  0.15  0.15  0.15   0.15       0          0             0
2018-10-09  0.15  0.15  0.15   0.15       0          0             0
2018-10-10  0.15  0.15  0.15   0.15       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//VZLA_V.csv
Getting data for: WBE.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,0.073152,0.073152,0.073152,0.073152,0,0.0,0
2017-09-26,0.073152,0.073152,0.073152,0.073152,0,0.0,0
2017-09-27,0.073152,0.073152,0.073152,0.073152,0,0.0,0
2017-09-28,0.073152,0.073152,0.073152,0.073152,0,0.0,0
2017-09-29,0.081280,0.081280,0.081280,0.081280,10000,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WBE_V.csv
Getting data for: WCN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,81.343968,82.062322,81.230548,82.024513,233700,0.0,0
2017-09-26,82.090686,82.449867,81.722058,81.797676,313500,0.0,0
2017-09-27,82.043422,82.865742,81.618077,82.837387,478300,0.0,0
2017-09-28,82.421496,82.676704,82.062322,82.298622,313200,0.0,0
2017-09-29,82.478203,82.865731,82.232449,82.478203,219800,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WCN_TO.csv
Getting data for: WCP.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,7.331473,7.421706,7.301395,7.391628,3020500,0.000,0
2017-09-26,7.369073,7.466826,7.301398,7.406671,1592600,0.000,0
2017-09-27,7.436750,7.436750,7.241244,7.316438,2444100,0.000,0
2017-09-28,7.348849,7.439296,7.303625,7.333774,2352200,0.023,0
2017-09-29,7.281011,7.371458,7.250861,7.311160,1364600,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WCP_TO.csv
Getting data for: WDO.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  2.43  2.48  2.42   2.44  195500          0             0
2017-09-26  2.42  2.44  2.38   2.42   83500          0             0
2017-09-27  2.37  2.39  2.25   2.33  296900          0             0
2017-09-28  2.33  2.37  2.23   2.26  507500          0             0
2017-09-29  2.27  2.29  2.15   2.18  640700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WDO_TO.csv
Getting data for: WE.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-12-14,13.48,16.719999,12.750000,14.750000,1431270,0,0
2020-12-15,17.90,24.790001,16.680000,24.400000,871508,0,0
2020-12-16,25.50,30.000000,25.049999,27.690001,611638,0,0
2020-12-17,27.40,27.400000,22.320000,23.500000,317890,0,0
2020-12-18,23.00,23.000000,19.969999,21.100000,375020,0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WE_V.csv
Getting data for: WED.V

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,2.941219,2.960195,2.931732,2.941219,8800,0.0,0
2017-09-26,2.931732,2.960195,2.817878,2.865317,141200,0.0,0
2017-09-27,2.874805,2.874805,2.827366,2.846341,46200,0.0,0
2017-09-28,2.846342,2.846342,2.808390,2.836854,84800,0.0,0
2017-09-29,2.846341,2.846341,2.808390,2.827366,237900,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WED_V.csv
Getting data for: WEED.TO

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2017-09-25  10.42  10.75  10.40  10.53  1291400          0             0
2017-09-26  10.58  10.63  10.49  10.57   708200          0             0
2017-09-27  10.63  10.83  10.61  10.77  1638300          0             0
2017-09-28  10.78  10.83  10.65  10.71   825400          0             0
2017-09-29  10.74  10.77  10.62  10.72   880200          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WEED_TO.csv
Getting data for: WEF.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,2.283913,2.334480,2.233347,2.292341,1144200,0.0,0
2017-09-26,2.283914,2.326052,2.258631,2.283914,974800,0.0,0
2017-09-27,2.275486,2.292341,2.275486,2.275486,651700,0.0,0
2017-09-28,2.283913,2.292341,2.267058,2.275486,611200,0.0,0
2017-09-29,2.283914,2.317625,2.174353,2.250203,5879500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WEF_TO.csv
Getting data for: WELL.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.15  0.15  0.15   0.15       0          0             0
2017-09-26  0.15  0.15  0.15   0.15       0          0             0
2017-09-27  0.15  0.15  0.15   0.15       0          0             0
2017-09-28  0.15  0.15  0.15   0.15       0          0             0
2017-09-29  0.15  0.15  0.15   0.15       0          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WELL_TO.csv
Getting data for: WFG.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,68.112654,68.112654,66.502805,67.359512,221900,0.11,0
2017-09-26,67.359535,68.423352,67.020619,67.679619,226200,0.00,0
2017-09-27,67.707851,68.508068,67.453667,68.291542,201500,0.00,0
2017-09-28,68.263293,68.668109,67.547802,68.329193,233300,0.00,0
2017-09-29,67.943207,68.216223,66.634616,67.783165,506100,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WFG_TO.csv
Getting data for: WGO.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.34  1.48  1.34   1.40   30700          0             0
2017-09-26  1.43  1.43  1.28   1.32   26700          0             0
2017-09-27  1.27  1.35  1.27   1.35    3400          0             0
2017-09-28  1.30  1.30  1.29   1.29    5400          0             0
2017-09-29  1.32  1.37  1.25   1.37   18700          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WGO_V.csv
Getting data for: WHG.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-11-25  0.57  0.70  0.57   0.70    3100          0             0
2020-11-26  0.70  0.70  0.70   0.70       0          0             0
2020-11-27  0.75  1.50  0.75   1.50   23023          0             0
2020-11-30  1.50  1.50  1.35   1.35   68014          0             0
2020-12-01  1.44  1.56  1.40   1.48  564862          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WHG_V.csv
Getting data for: WHN.V

             Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.095  0.095  0.09   0.09    9600          0             0
2017-09-26  0.090  0.090  0.09   0.09       0          0             0
2017-09-27  0.090  0.090  0.09   0.09       0          0             0
2017-09-28  0.090  0.090  0.09   0.09   15500          0             0
2017-09-29  0.090  0.095  0.09   0.09   76000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WHN_V.csv
Getting data for: WILD.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,6.451623,6.520258,6.245720,6.373184,198400,0.0,0
2017-09-26,6.353575,6.382990,6.265330,6.275136,213700,0.0,0
2017-09-27,6.265330,6.304550,5.882939,5.902549,565400,0.0,0
2017-09-28,4.745571,5.245621,4.657327,4.951474,1599000,0.0,0
2017-09-29,4.951474,5.157377,4.892644,5.127962,731400,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WILD_TO.csv
Getting data for: WIN.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.05  0.05  0.05   0.05   15000          0             0
2017-09-26  0.06  0.06  0.05   0.05   93000          0             0
2017-09-27  0.06  0.06  0.05   0.05  112000          0             0
2017-09-28  0.06  0.06  0.06   0.06    7000          0             0
2017-09-29  0.06  0.06  0.06   0.06  135000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WIN_V.csv
Getting data for: WIR-U.TO
- WIR-U.TO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WIR-U_TO.csv
Getting data for: WISH.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2020-12-14  1.19  1.55  1.15   1.26  329946          0             0
2020-12-15  1.35  1.45  1.15   1.32  296509          0             0
2020-12-16  1.37  1.50  1.27   1.39  495751          0             0
2020-12-17  1.45  1.60  1.39   1.50  176844          0             0
2020-12-18  1.63  1.72  1.50   1.59  454971          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WISH_V.csv
Getting data for: WJX.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,14.328632,14.411196,14.216044,14.313620,10100,0.0,0
2017-09-26,14.306115,14.426209,14.080941,14.193528,30800,0.0,0
2017-09-27,14.193524,14.298605,14.065925,14.238559,42000,0.0,0
2017-09-28,14.456233,14.801501,14.441221,14.711432,101500,0.0,0
2017-09-29,14.711432,15.447004,14.711432,15.296886,100100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WJX_TO.csv
Getting data for: WLLW.TO

            Open  High    Low  Close   Volume  Dividends  Stock Splits
Date
2021-02-11  2.10  2.24  1.850   1.90   941500          0             0
2021-02-12  1.76  2.08  1.700   2.00  1462600          0             0
2021-02-16  2.09  2.09  1.880   1.92   750200          0             0
2021-02-17  1.95  1.95  1.710   1.72   928300          0             0
2021-02-18  1.74  1.77  1.605   1.73   972300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WLLW_TO.csv
Getting data for: WM.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.10  0.10  0.10   0.10   52500          0             0
2017-09-26  0.10  0.10  0.10   0.10   68300          0             0
2017-09-27  0.09  0.09  0.09   0.09  210100          0             0
2017-09-28  0.09  0.09  0.09   0.09  110500          0             0
2017-09-29  0.09  0.09  0.09   0.09   36000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WM_TO.csv
Getting data for: WMD.V
- WMD.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WMD_V.csv
Getting data for: WN.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,96.475282,97.164782,96.194041,96.783745,95300,0.0,0
2017-09-26,96.928896,97.772624,96.883538,97.500458,131500,0.0,0
2017-09-27,97.527663,98.453039,96.529707,98.017570,215300,0.0,0
2017-09-28,97.972202,99.287695,97.917770,99.069954,179500,0.0,0
2017-09-29,99.024593,99.151605,98.153649,98.570976,125500,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WN_TO.csv
Getting data for: WPK.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,46.497582,46.497582,46.012279,46.259510,24600,0.00,0
2017-09-26,46.268671,46.286985,45.993972,46.213734,34500,0.00,0
2017-09-27,46.424328,47.037824,46.076374,46.689873,76700,0.00,0
2017-09-28,45.929865,47.220956,45.929865,46.992039,44000,0.00,0
2017-09-29,46.918754,47.331046,46.790486,47.037861,46400,0.03,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WPK_TO.csv
Getting data for: WPM.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,21.910822,22.254484,21.845805,22.143026,793600,0.0,0
2017-09-26,21.929388,22.115151,21.901523,21.929388,707300,0.0,0
2017-09-27,21.827228,22.198755,21.827228,22.189466,770100,0.0,0
2017-09-28,22.180174,22.282344,22.105869,22.226616,638000,0.0,0
2017-09-29,22.291634,22.495973,22.105869,22.105869,810300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WPM_TO.csv
Getting data for: WPRT.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  3.45  3.54  3.25   3.36  129300          0             0
2017-09-26  3.35  3.54  3.34   3.50   76600          0             0
2017-09-27  3.48  3.89  3.48   3.85  329400          0             0
2017-09-28  3.82  4.26  3.79   3.98  359800          0             0
2017-09-29  3.97  4.12  3.92   4.07  164900          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WPRT_TO.csv
Getting data for: WRN.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  1.52  1.53  1.42   1.46  197800          0             0
2017-09-26  1.49  1.49  1.44   1.44   54300          0             0
2017-09-27  1.44  1.47  1.43   1.46   95800          0             0
2017-09-28  1.45  1.47  1.43   1.46  181800          0             0
2017-09-29  1.44  1.45  1.44   1.45    8300          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WRN_TO.csv
Getting data for: WSP.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,46.981138,47.081780,46.761560,46.843903,110600,0.000,0
2017-09-26,46.807298,47.392846,46.697509,47.200714,187300,0.000,0
2017-09-27,47.301355,47.337952,47.054326,47.109222,110200,0.000,0
2017-09-28,47.288947,48.376473,47.288947,48.192146,112100,0.375,0
2017-09-29,48.164496,48.523936,47.841927,47.841927,147200,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WSP_TO.csv
Getting data for: WTE.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,18.879342,19.153183,18.722863,18.746334,126800,0.00,0
2017-09-26,18.683743,19.090592,18.527264,18.973232,128800,0.00,0
2017-09-27,18.996704,19.200129,18.636799,18.879343,132300,0.00,0
2017-09-28,18.887220,19.202269,18.792706,19.068373,114600,0.16,0
2017-09-29,19.028992,19.123507,18.824210,18.895096,227400,0.00,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//WTE_TO.csv
Getting data for: X.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,59.896482,60.311756,59.896482,60.205727,35500,0.0,0
2017-09-26,60.232244,60.444303,59.905331,60.276424,62200,0.0,0
2017-09-27,60.347119,60.700537,60.073211,60.612183,73200,0.0,0
2017-09-28,60.532652,62.043538,60.532652,61.354362,81800,0.0,0
2017-09-29,61.849156,62.476482,61.407376,62.290936,133100,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//X_TO.csv
Getting data for: XAU.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.566138,3.761544,3.566138,3.761544,17952,0.0,0.0
2017-09-26,3.771314,3.810394,3.644301,3.810394,44166,0.0,0.0
2017-09-27,3.810394,3.976489,3.663842,3.976489,47736,0.0,0.0
2017-09-28,4.152354,4.787420,4.152354,4.474771,427380,0.0,0.0
2017-09-29,4.513852,4.855811,4.513852,4.631095,268668,0.0,0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//XAU_TO.csv
Getting data for: XBC.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.62  0.62  0.59   0.59   32000          0             0
2017-09-26  0.61  0.71  0.59   0.68  148500          0             0
2017-09-27  0.64  0.64  0.64   0.64   10800          0             0
2017-09-28  0.65  0.65  0.65   0.65    1600          0             0
2017-09-29  0.63  0.64  0.63   0.63    4000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//XBC_TO.csv
Getting data for: XIM.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.175  0.200  0.175  0.200   10200          0           0.0
2017-09-26  0.175  0.175  0.175  0.175  163940          0           0.0
2017-09-27  0.175  0.175  0.175  0.175   62400          0           0.0
2017-09-28  0.175  0.175  0.175  0.175   40000          0           0.0
2017-09-29  0.200  0.250  0.175  0.225  554920          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//XIM_V.csv
Getting data for: XLY.V
- XLY.V: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//XLY_V.csv
Getting data for: YES.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.235  0.235  0.235  0.235       0          0             0
2017-09-26  0.240  0.240  0.230  0.230   70500          0             0
2017-09-27  0.230  0.240  0.230  0.240   27300          0             0
2017-09-28  0.240  0.240  0.240  0.240    4000          0             0
2017-09-29  0.240  0.240  0.240  0.240     500          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//YES_V.csv
Getting data for: YGR.TO

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  3.90  3.92  3.84   3.84   82100          0             0
2017-09-26  3.85  3.85  3.79   3.82   98500          0             0
2017-09-27  3.81  3.88  3.69   3.76  150400          0             0
2017-09-28  3.76  3.90  3.76   3.89  187900          0             0
2017-09-29  3.90  4.00  3.88   3.99  598800          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//YGR_TO.csv
Getting data for: YGT.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.58  0.60  0.58   0.60   42200          0             0
2017-09-26  0.59  0.59  0.57   0.58   71200          0             0
2017-09-27  0.58  0.59  0.57   0.57   92700          0             0
2017-09-28  0.57  0.58  0.54   0.56  177300          0             0
2017-09-29  0.56  0.58  0.56   0.58   26100          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//YGT_V.csv
Getting data for: YNV.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.34  0.34  0.34   0.34       0          0           0.0
2017-09-26  0.34  0.34  0.34   0.34       0          0           0.0
2017-09-27  0.34  0.34  0.34   0.34       0          0           0.0
2017-09-28  0.34  0.34  0.34   0.34       0          0           0.0
2017-09-29  0.34  0.34  0.34   0.34       0          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//YNV_V.csv
Getting data for: YRI.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,3.101509,3.250084,3.092223,3.240798,2441100,0.000,0
2017-09-26,3.203655,3.231512,3.166511,3.175797,1341700,0.000,0
2017-09-27,3.138653,3.147939,3.101509,3.110795,1596700,0.000,0
2017-09-28,3.107074,3.162890,3.079166,3.144285,3409000,0.006,0
2017-09-29,3.162890,3.162890,3.069864,3.069864,2279900,0.000,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//YRI_TO.csv
Getting data for: ZAC.V

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2021-03-02  1.55  1.75  1.40   1.70  2620509          0             0
2021-03-03  1.80  1.89  1.55   1.57   348549          0             0
2021-03-04  1.59  1.60  1.28   1.29   901114          0             0
2021-03-05  1.32  1.33  1.06   1.10  1094605          0             0
2021-03-08  1.12  1.12  1.00   1.01   641718          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ZAC_V.csv
Getting data for: ZEN.V

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.94  0.98  0.93   0.98   28900          0             0
2017-09-26  0.97  0.97  0.95   0.95    5600          0             0
2017-09-27  0.96  0.96  0.92   0.92   17000          0             0
2017-09-28  0.92  0.93  0.90   0.90   22900          0             0
2017-09-29  0.91  0.94  0.87   0.88   38000          0             0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ZEN_V.csv
Getting data for: ZOMD.V

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-09-25  0.500  0.500  0.500  0.500       0          0           0.0
2017-09-26  0.500  0.500  0.500  0.500       0          0           0.0
2017-09-27  0.500  0.500  0.500  0.500       0          0           0.0
2017-09-28  0.500  0.500  0.500  0.500       0          0           0.0
2017-09-29  0.625  0.625  0.625  0.625    1600          0           0.0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ZOMD_V.csv
Getting data for: ZZZ.TO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-09-25,31.311620,31.556925,30.637026,30.838528,92900,0.0,0
2017-09-26,30.838531,31.250294,30.838531,31.206490,80200,0.0,0
2017-09-27,31.224011,31.670821,31.215252,31.355427,65000,0.0,0
2017-09-28,31.355427,31.854800,31.232774,31.495602,90800,0.0,0
2017-09-29,31.548165,31.828519,31.031270,31.609495,64300,0.0,0

Data saved in: C://Users//sophi//Documents//Portfolio_Projects//DS_for_Investing//TSE Stock Data//ZZZ_TO.csv